# Overall Score Metrics Construction

### Non-Submit has already been accounted for during the judging process. 
### NaN -> participants app are not compiling and that they are getting a zero as their scores. Hence we replace NaN with a zero.

In [1]:
import pandas as pd 

bogota0 = pd.read_csv("Bogota-0-Scores.csv")
bogota0

,Unnamed: 0,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,...,tech-phase2,user-requirement-phase2,infovis-phase2,novelty-phase2,total-phase2,tech-phase1,user-requirement-phase1,infovis-phase1,novelty-phase1,total-phase1
0,0,fffeelipe,0,20,29.17,50.00,199.17,100.0,100.0,20.0,...,75.0,60.0,37.50,0.0,172.50,50.0,20.0,29.17,0.0,99.17
1,1,mnguzmanc,0,60,75.00,67.50,290.00,87.5,87.5,20.0,...,87.5,20.0,37.50,75.0,220.00,87.5,0.0,0.00,0.0,87.50
2,2,jmcuestasb,0,100,54.17,25.00,254.17,75.0,62.5,100.0,...,62.5,20.0,33.33,25.0,140.83,50.0,NaN,NaN,NaN,50.00
3,3,katherinsb,0,20,37.50,16.67,136.67,62.5,37.5,20.0,...,12.5,NaN,NaN,NaN,12.50,0.0,0.0,0.00,0.0,0.00
4,4,jjrodriguezn,0,60,58.33,87.50,255.83,50.0,37.5,40.0,...,62.5,20.0,29.17,0.0,111.67,0.0,NaN,NaN,NaN,0.00
5,5,DglyP,0,20,25.00,50.00,195.00,100.0,87.5,0.0,...,37.5,40.0,45.83,0.0,123.33,NaN,NaN,NaN,NaN,0.00
6,6,cap182,0,20,29.17,0.00,49.17,0.0,0.0,20.0,...,12.5,0.0,20.83,0.0,33.33,NaN,40.0,33.33,75.0,148.33
7,7,annumumozme,0,40,37.50,60.00,237.50,100.0,75.0,0.0,...,37.5,20.0,45.83,0.0,103.33,37.5,NaN,NaN,NaN,37.50
8,8,Judgarciani,0,100,58.33,66.67,325.00,100.0,75.0,80.0,...,37.5,20.0,29.17,0.0,86.67,NaN,NaN,NaN,NaN,0.00
9,9,sacastroc,0,20,50.00,68.75,226.25,87.5,87.5,20.0,...,87.5,20.0,33.33,62.5,203.33,50.0,0.0,25.00,0.0,75.00
10,10,pcberriop,0,20,37.50,62.50,195.00,75.0,50.0,20.0,...,50.0,20.0,33.33,62.5,165.83,12.5,40.0,25.00,0.0,77.50
11,11,hsmartineza,0,20,33.33,52.50,180.83,75.0,62.5,20.0,...,37.5,20.0,29.17,0.0,86.67,NaN,NaN,NaN,NaN,0.00
12,12,Moimolcp,0,100,62.50,66.67,304.17,75.0,62.5,0.0,...,62.5,0.0,33.33,25.0,120.83,25.0,0.0,0.00,0.0,25.00
13,13,CamiloRueda,0,0,29.17,0.00,54.17,25.0,25.0,20.0,...,37.5,0.0,25.00,0.0,62.50,0.0,0.0,0.00,0.0,0.00
14,14,juanescai,0,0,25.00,25.00,50.00,0.0,0.0,0.0,...,12.5,0.0,25.00,25.0,62.50,25.0,0.0,25.00,62.5,112.50
15,15,JoseMolano,0,60,66.67,75.00,276.67,75.0,87.5,0.0,...,87.5,0.0,33.33,25.0,145.83,87.5,20.0,50.00,37.5,195.00
16,16,maikellPardoA,0,0,37.50,25.00,87.50,25.0,25.0,NaN,...,37.5,0.0,25.00,25.0,87.50,37.5,0.0,25.00,25.0,87.50
17,17,NicolasZon,0,0,25.00,25.00,87.50,37.5,37.5,0.0,...,50.0,0.0,25.00,25.0,100.00,12.5,0.0,0.00,0.0,12.50
18,18,camilo654,0,20,29.17,75.00,199.17,75.0,75.0,60.0,...,62.5,20.0,25.00,87.5,195.00,25.0,20.0,29.17,0.0,74.17
19,19,CristianLozano,0,20,33.33,0.00,90.83,37.5,37.5,60.0,...,50.0,20.0,33.33,0.0,103.33,50.0,20.0,29.17,0.0,99.17
20,20,jdsuarezj,0,60,50.00,87.50,272.50,75.0,75.0,60.0,...,75.0,0.0,25.00,25.0,125.00,62.5,0.0,25.00,75.0,162.50
21,21,pipemax85,0,20,33.33,0.00,115.83,62.5,50.0,20.0,...,50.0,20.0,33.33,0.0,103.33,50.0,20.0,25.00,0.0,95.00
22,22,juandavidro,0,20,58.33,25.00,153.33,50.0,37.5,20.0,...,50.0,20.0,33.33,25.0,128.33,87.5,80.0,58.33,75.0,300.83
23,23,UNhcrodriguezl,0,80,33.33,75.00,263.33,75.0,75.0,20.0,...,75.0,20.0,33.33,62.5,190.83,37.5,20.0,33.33,0.0,90.83
24,24,camilo13152,0,60,50.00,37.50,222.50,75.0,62.5,60.0,...,50.0,20.0,33.33,0.0,103.33,0.0,0.0,29.17,0.0,29.17
25,25,leavendanoro,0,40,66.67,25.00,206.67,75.0,75.0,0.0,...,62.5,0.0,25.00,25.0,112.50,37.5,0.0,0.00,0.0,37.50
26,26,cdcordobaa,0,20,33.33,62.50,190.83,75.0,75.0,20.0,...,75.0,20.0,33.33,62.5,190.83,37.5,20.0,33.33,0.0,90.83
27,27,capinillab,0,60,54.17,75.00,264.17,75.0,62.5,60.0,...,62.5,60.0,37.50,87.5,247.50,62.5,20.0,33.33,0.0,115.83
28,28,Januguerab,0,20,29.17,0.00,111.67,62.5,50.0,20.0,...,37.5,20.0,29.17,0.0,86.67,NaN,NaN,NaN,NaN,0.00
29,29,lfvalderrama,0,80,66.67,106.25,352.92,100.0,87.5,20.0,...,75.0,0.0,41.67,25.0,141.67,75.0,0.0,0.00,0.0,75.00
30,30,bsgarciac,0,100,70.83,75.00,320.83,100.0,75.0,80.0,...,62.5,40.0,41.67,87.5,231.67,50.0,20.0,37.50,0.0,107.50
31,31,gabi04,0,20,29.17,58.33,157.50,50.0,25.0,20.0,...,37.5,0.0,25.00,0.0,62.50,NaN,NaN,NaN,NaN,0.00
32,32,annipi,0,0,0.00,0.00,0.00,0.0,NaN,NaN,...,12.5,NaN,NaN,NaN,12.50,0.0,NaN,NaN,NaN,0.00
33,33,jdsolanos,0,0,0.00,0.00,0.00,0.0,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,62.5,NaN,NaN,NaN,62.50
34,34,jcneivaa,0,0,0.00,0.00,0.00,0.0,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,0.0,NaN,NaN,NaN,0.00
35,35,fmbernalb,0,0,0.00,0.00,0.00,0.0,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,0.0,NaN,NaN,NaN,0.00
36,36,MogGy94,0,0,0.00,0.00,0.00,0.0,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,12.5,0.0,0.00,0.0,12.50
37,37,yocuervoc,0,0,0.00,0.00,0.00,0.0,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,0.0,0.0,0.00,0.0,0.00
38,38,odprietoh,0,0,0.00,0.00,0.00,0.0,0.0,NaN,...,12.5,0.0,25.00,25.0,62.50,0.0,0.0,25.00,0.0,25.00

In [2]:
bogota1 = pd.read_csv("Bogota-1-Scores.csv")
bogota1

,Unnamed: 0,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,tech-phase5,total-phase5,tech-phase4,user-requirement-phase4,...,tech-phase2,user-requirement-phase2,infovis-phase2,novelty-phase2,total-phase2,tech-phase1,user-requirement-phase1,infovis-phase1,novelty-phase1,total-phase1
0,0,gasierram,1,40,62.50,25.00,62.5,190.00,62.5,40.0,...,62.5,20.0,33.33,25.00,140.83,62.5,20.0,50.00,62.50,195.00
1,1,adamantwharf,1,20,25.00,0.00,62.5,107.50,50.0,20.0,...,50.0,20.0,25.00,0.00,95.00,37.5,20.0,25.00,0.00,82.50
2,2,bdcajicam,1,40,29.17,62.50,75.0,206.67,62.5,20.0,...,50.0,20.0,25.00,0.00,95.00,25.0,0.0,0.00,0.00,25.00
3,3,andfsanchezlem,1,20,25.00,0.00,0.0,45.00,0.0,20.0,...,12.5,20.0,25.00,0.00,57.50,25.0,20.0,25.00,0.00,70.00
4,4,dfhincapiem,1,20,25.00,25.00,37.5,107.50,37.5,20.0,...,50.0,20.0,58.33,0.00,128.33,0.0,NaN,NaN,NaN,0.00
5,5,helmeraac,1,0,25.00,0.00,62.5,87.50,37.5,20.0,...,37.5,0.0,25.00,87.50,150.00,25.0,20.0,25.00,0.00,70.00
6,6,dasalgadob,1,0,25.00,25.00,50.0,100.00,50.0,100.0,...,50.0,0.0,25.00,0.00,75.00,50.0,0.0,25.00,25.00,100.00
7,7,falperezgo,1,20,45.83,62.50,100.0,228.33,100.0,40.0,...,100.0,80.0,62.50,87.50,330.00,75.0,40.0,66.67,75.00,256.67
8,8,djguzmanc,1,80,79.17,100.00,75.0,334.17,62.5,60.0,...,62.5,60.0,62.50,81.25,266.25,62.5,60.0,70.83,87.50,280.83
9,9,gsuarezc04,1,0,25.00,0.00,25.0,50.00,25.0,0.0,...,37.5,0.0,20.83,75.00,133.33,0.0,NaN,NaN,NaN,0.00
10,10,oeroaq,1,100,87.50,82.50,87.5,357.50,75.0,100.0,...,75.0,80.0,58.33,75.00,288.33,37.5,60.0,58.33,75.00,230.83
11,11,gcantem,1,100,70.83,87.50,25.0,283.33,100.0,60.0,...,62.5,60.0,41.67,87.50,251.67,62.5,100.0,79.17,87.50,329.17
12,12,Semoralesga,1,20,33.33,62.50,50.0,165.83,62.5,20.0,...,75.0,20.0,33.33,62.50,190.83,12.5,20.0,33.33,0.00,65.83
13,13,jonatan360,1,100,75.00,77.50,100.0,352.50,100.0,60.0,...,87.5,40.0,37.50,62.50,227.50,100.0,60.0,70.83,55.00,285.83
14,14,jesusfchavarro,1,100,62.50,82.50,100.0,345.00,75.0,100.0,...,75.0,60.0,66.67,87.50,289.17,100.0,40.0,33.33,75.00,248.33
15,15,stevenbustos,1,20,33.33,70.00,75.0,198.33,62.5,20.0,...,50.0,20.0,33.33,0.00,103.33,12.5,20.0,37.50,62.50,132.50
16,16,jufcontrerasco,1,60,79.17,50.00,75.0,264.17,75.0,20.0,...,50.0,0.0,33.33,25.00,108.33,0.0,0.0,29.17,62.50,91.67
17,17,dsbarrerag,1,80,70.83,91.67,87.5,330.00,87.5,60.0,...,75.0,100.0,70.83,87.50,333.33,50.0,80.0,70.83,25.00,225.83
18,18,wolfstain,1,20,33.33,56.25,87.5,197.08,87.5,20.0,...,75.0,20.0,33.33,62.50,190.83,25.0,20.0,29.17,0.00,74.17
19,19,miaborjaac,1,80,70.83,85.00,87.5,323.33,75.0,80.0,...,62.5,20.0,33.33,0.00,115.83,62.5,20.0,37.50,0.00,120.00
20,20,ivdgonzalezco,1,100,50.00,87.50,75.0,312.50,75.0,40.0,...,75.0,20.0,33.33,0.00,128.33,0.0,NaN,NaN,NaN,0.00
21,21,maikellPardo,1,0,37.50,25.00,0.0,62.50,25.0,0.0,...,12.5,0.0,25.00,25.00,62.50,37.5,0.0,25.00,25.00,87.50
22,22,Christian7sr,1,20,29.17,0.00,75.0,124.17,75.0,20.0,...,62.5,20.0,29.17,0.00,111.67,25.0,20.0,29.17,0.00,74.17
23,23,jsnarvaezb,1,20,54.17,50.00,87.5,211.67,75.0,40.0,...,62.5,20.0,50.00,75.00,207.50,50.0,20.0,41.67,62.50,174.17
24,24,gfalbarracinr,1,0,25.00,0.00,75.0,100.00,50.0,NaN,...,37.5,0.0,25.00,0.00,62.50,12.5,0.0,25.00,25.00,62.50
25,25,aldiazve,1,20,54.17,75.00,87.5,236.67,87.5,60.0,...,75.0,40.0,45.83,50.00,210.83,37.5,20.0,25.00,37.50,120.00
26,26,diegoaguevarar,1,80,62.50,87.50,87.5,317.50,75.0,100.0,...,75.0,40.0,54.17,50.00,219.17,50.0,0.0,25.00,12.50,87.50
27,27,fevargasmo,1,40,50.00,75.00,75.0,240.00,75.0,40.0,...,75.0,0.0,29.17,25.00,129.17,50.0,40.0,75.00,0.00,165.00
28,28,jmhurtadoc,1,0,33.33,25.00,62.5,120.83,62.5,0.0,...,62.5,0.0,25.00,0.00,87.50,100.0,0.0,25.00,37.50,162.50
29,29,anfmorenoso,1,40,37.50,52.50,87.5,217.50,75.0,20.0,...,62.5,20.0,33.33,0.00,115.83,0.0,20.0,37.50,40.00,97.50
30,30,nabautistal,1,20,50.00,62.50,62.5,195.00,37.5,20.0,...,50.0,20.0,29.17,0.00,99.17,12.5,20.0,25.00,0.00,57.50
31,31,crigar,1,20,25.00,0.00,37.5,82.50,62.5,20.0,...,50.0,20.0,25.00,0.00,95.00,25.0,20.0,25.00,0.00,70.00
32,32,jiapulidoar,1,60,83.33,66.67,100.0,310.00,100.0,40.0,...,100.0,40.0,41.67,75.00,256.67,87.5,40.0,50.00,41.67,219.17
33,33,jsviveroj,1,80,79.17,72.50,100.0,331.67,87.5,60.0,...,75.0,20.0,33.33,25.00,153.33,50.0,20.0,33.33,0.00,103.33
34,34,daandradec,1,100,66.67,95.00,75.0,336.67,75.0,100.0,...,87.5,80.0,58.33,87.50,313.33,50.0,0.0,25.00,62.50,137.50
35,35,jcrubioa,1,40,50.00,81.25,75.0,246.25,75.0,20.0,...,75.0,0.0,25.00,87.50,187.50,75.0,20.0,41.67,0.00,136.67
36,36,joahernandezca,1,20,54.17,25.00,62.5,161.67,50.0,20.0,...,50.0,0.0,25.00,0.00,75.00,50.0,0.0,37.50,62.50,150.00
37,37,ItsNavi,1,0,0.00,0.00,0.0,0.00,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,0.0,NaN,NaN,NaN,0.00
38,38,Zeugmax,1,0,0.00,0.00,0.0,0.00,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,0.0,0.0,0.00,0.00,0.00
39,39,kastellanos,1,0,0.00,0.00,0.0,0.00,0.0,NaN,...,0.0,NaN,NaN,NaN,0.00,0.0,NaN,NaN,NaN,0.00
40,40,JairVillalba,1,0,0.00,0.00,75.0,75.00,62.5,NaN,...,62.5,NaN,NaN,NaN,62.50,62.5,NaN,NaN,NaN,62.50

In [3]:
bogota2 = pd.read_csv("Bogota-2-Scores.csv")
bogota2

,Unnamed: 0,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,tech-phase5,total-phase5,tech-phase4,user-requirement-phase4,...,tech-phase2,user-requirement-phase2,infovis-phase2,novelty-phase2,total-phase2,tech-phase1,user-requirement-phase1,infovis-phase1,novelty-phase1,total-phase1
0,0,jusherrerama,2,20,25.00,0.00,75.0,120.00,62.5,20.0,...,62.5,20.0,29.17,50.0,161.67,25.0,20.0,37.50,0.00,82.50
1,1,bdvegat,2,20,25.00,0.00,62.5,107.50,50.0,20.0,...,50.0,20.0,25.00,0.0,95.00,0.0,0.0,0.00,0.00,0.00
2,2,Phoenixest,2,0,25.00,25.00,25.0,75.00,25.0,20.0,...,37.5,20.0,29.17,25.0,111.67,0.0,20.0,29.17,25.00,74.17
3,3,HashNick,2,40,50.00,25.00,37.5,152.50,37.5,40.0,...,50.0,0.0,33.33,25.0,108.33,0.0,NaN,NaN,NaN,0.00
4,4,ccvacad,2,80,66.67,80.00,87.5,314.17,NaN,NaN,...,12.5,NaN,NaN,NaN,12.50,0.0,0.0,0.00,0.00,0.00
5,5,joaortizro,2,100,50.00,87.50,87.5,325.00,87.5,80.0,...,87.5,60.0,33.33,87.5,268.33,62.5,20.0,25.00,0.00,107.50
6,6,juasmartinezbel,2,100,75.00,75.00,87.5,337.50,75.0,100.0,...,75.0,80.0,54.17,87.5,296.67,75.0,60.0,54.17,62.50,251.67
7,7,mdbelloc,2,0,37.50,25.00,75.0,137.50,75.0,0.0,...,75.0,0.0,25.00,25.0,125.00,37.5,0.0,29.17,25.00,91.67
8,8,diegocruz10,2,20,45.83,25.00,37.5,128.33,37.5,40.0,...,50.0,20.0,58.33,0.0,128.33,25.0,20.0,45.83,0.00,90.83
9,9,crarojasca,2,20,25.00,0.00,0.0,45.00,0.0,20.0,...,12.5,20.0,25.00,0.0,57.50,0.0,20.0,25.00,0.00,45.00
10,10,sagilm,2,20,33.33,62.50,62.5,178.33,50.0,0.0,...,37.5,0.0,33.33,0.0,70.83,25.0,0.0,25.00,0.00,50.00
11,11,idrojasf,2,20,50.00,25.00,75.0,170.00,75.0,20.0,...,37.5,60.0,45.83,25.0,168.33,62.5,20.0,62.50,62.50,207.50
12,12,raulramirezp,2,60,45.83,66.67,100.0,272.50,75.0,40.0,...,75.0,40.0,29.17,75.0,219.17,0.0,0.0,0.00,0.00,0.00
13,13,fabianr23,2,80,58.33,87.50,100.0,325.83,100.0,100.0,...,100.0,80.0,62.50,87.5,330.00,50.0,80.0,75.00,0.00,205.00
14,14,jhriverasa,2,100,58.33,60.00,100.0,318.33,75.0,100.0,...,87.5,20.0,29.17,87.5,224.17,50.0,20.0,29.17,43.75,142.92
15,15,jhonsd1996,2,20,54.17,25.00,75.0,174.17,75.0,20.0,...,75.0,NaN,NaN,NaN,75.00,50.0,0.0,25.00,25.00,100.00
16,16,JuanitoAli,2,80,58.33,65.00,62.5,265.83,62.5,100.0,...,62.5,80.0,54.17,87.5,284.17,75.0,0.0,25.00,0.00,100.00
17,17,Davsatu313,2,80,70.83,84.38,87.5,322.71,87.5,80.0,...,87.5,20.0,54.17,75.0,236.67,62.5,20.0,50.00,75.00,207.50
18,18,cesarochoa2006,2,100,66.67,72.50,87.5,326.67,87.5,60.0,...,62.5,60.0,45.83,87.5,255.83,37.5,20.0,29.17,0.00,86.67
19,19,jjmuesesq,2,20,25.00,0.00,75.0,120.00,62.5,20.0,...,50.0,20.0,29.17,87.5,186.67,37.5,20.0,25.00,0.00,82.50
20,20,jucjimenezmo,2,0,25.00,62.50,100.0,187.50,75.0,20.0,...,50.0,20.0,29.17,0.0,99.17,12.5,NaN,NaN,NaN,12.50
21,21,kancas,2,20,25.00,62.50,75.0,182.50,62.5,40.0,...,62.5,60.0,33.33,87.5,243.33,37.5,20.0,29.17,0.00,37.50
22,22,Gantiva,2,100,70.83,100.00,75.0,345.83,62.5,100.0,...,75.0,0.0,33.33,25.0,133.33,50.0,20.0,45.83,0.00,115.83
23,23,Dandarprox,2,80,58.33,37.50,100.0,275.83,75.0,80.0,...,62.5,40.0,33.33,0.0,135.83,12.5,20.0,29.17,43.75,105.42
24,24,debeltranc,2,0,25.00,25.00,75.0,125.00,50.0,0.0,...,50.0,0.0,25.00,0.0,75.00,75.0,0.0,25.00,62.50,162.50
25,25,ykchautai,2,20,41.67,75.00,75.0,211.67,75.0,20.0,...,62.5,20.0,37.50,0.0,120.00,50.0,20.0,29.17,62.50,161.67
26,26,ligibrial,2,0,33.33,25.00,87.5,145.83,62.5,0.0,...,50.0,0.0,33.33,25.0,108.33,37.5,0.0,33.33,62.50,133.33
27,27,davidrh195,2,20,25.00,0.00,50.0,95.00,62.5,20.0,...,75.0,20.0,25.00,0.0,120.00,0.0,NaN,NaN,NaN,0.00
28,28,JulianaNino,2,20,41.67,75.00,87.5,224.17,75.0,20.0,...,62.5,0.0,29.17,0.0,91.67,25.0,0.0,29.17,0.00,54.17
29,29,luegilca,2,0,37.50,0.00,62.5,100.00,62.5,0.0,...,62.5,0.0,25.00,25.0,112.50,37.5,0.0,29.17,62.50,129.17
30,30,Yelis3,2,80,66.67,62.50,100.0,309.17,87.5,80.0,...,87.5,20.0,41.67,62.5,211.67,87.5,40.0,41.67,62.50,231.67
31,31,begarzonf,2,40,25.00,75.00,87.5,227.50,75.0,40.0,...,62.5,20.0,25.00,0.0,107.50,37.5,20.0,25.00,75.00,157.50
32,32,kmendezp96,2,60,79.17,65.63,100.0,304.79,62.5,40.0,...,75.0,40.0,33.33,62.5,210.83,50.0,40.0,33.33,62.50,185.83
33,33,leguzman,2,60,79.17,100.00,100.0,339.17,100.0,40.0,...,87.5,40.0,41.67,75.0,244.17,25.0,20.0,45.83,62.50,153.33
34,34,luealfonsoru,2,0,45.83,25.00,87.5,158.33,87.5,0.0,...,87.5,0.0,25.00,25.0,137.50,62.5,0.0,29.17,62.50,154.17
35,35,oserasoa,2,0,33.33,33.33,87.5,154.17,37.5,20.0,...,37.5,0.0,33.33,25.0,95.83,25.0,0.0,29.17,0.00,54.17
36,36,lsfinite,2,0,25.00,12.50,87.5,125.00,NaN,NaN,...,50.0,0.0,25.00,25.0,100.00,12.5,0.0,25.00,25.00,62.50
37,37,xdanielsb,2,100,87.50,70.00,100.0,357.50,50.0,0.0,...,62.5,0.0,25.00,0.0,87.50,87.5,60.0,37.50,75.00,260.00
38,38,CSebasGomez,2,0,0.00,0.00,0.0,0.00,NaN,NaN,...,12.5,NaN,NaN,NaN,12.50,0.0,0.0,0.00,0.00,0.00
39,39,jhcardenasa,2,0,0.00,0.00,0.0,0.00,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,0.0,NaN,NaN,NaN,0.00
40,40,tres-iqus,2,0,0.00,0.00,0.0,0.00,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,0.0,0.0,0.00,0.00,0.00
41,41,jscontrerasp,2,0,0.00,0.00,0.0,0.00,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.00

In [4]:
bogota3 = pd.read_csv("Bogota-3-Scores.csv")
bogota3

,Unnamed: 0,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,tech-phase5,total-phase5,tech-phase4,user-requirement-phase4,...,tech-phase2,user-requirement-phase2,infovis-phase2,novelty-phase2,total-phase2,tech-phase1,user-requirement-phase1,infovis-phase1,novelty-phase1,total-phase1
0,0,lemartinp,3,100,54.17,87.50,87.5,329.17,87.5,80.0,...,62.5,40.0,29.17,0.00,131.67,25.0,0.0,33.33,0.00,58.33
1,1,juligarji,3,100,75.00,92.50,87.5,355.00,100.0,100.0,...,87.5,40.0,45.83,68.75,242.08,50.0,20.0,29.17,62.50,161.67
2,2,nfmorenog,3,0,37.50,15.00,75.0,127.50,75.0,0.0,...,75.0,0.0,33.33,25.00,133.33,50.0,0.0,29.17,25.00,104.17
3,3,AFelipeGA,3,40,37.50,56.25,87.5,221.25,75.0,40.0,...,75.0,40.0,37.50,0.00,152.50,12.5,0.0,25.00,0.00,37.50
4,4,mballeng91,3,0,25.00,25.00,62.5,112.50,62.5,0.0,...,50.0,0.0,25.00,25.00,100.00,0.0,0.0,0.00,0.00,0.00
5,5,dduartec,3,80,83.33,95.00,87.5,345.83,87.5,0.0,...,87.5,100.0,70.83,75.00,333.33,NaN,0.0,41.67,0.00,41.67
6,6,srmedinac,3,20,33.33,0.00,75.0,128.33,62.5,20.0,...,62.5,20.0,33.33,0.00,115.83,25.0,0.0,0.00,0.00,25.00
7,7,wilson911013,3,0,25.00,0.00,50.0,75.00,37.5,20.0,...,37.5,20.0,33.33,0.00,90.83,12.5,20.0,45.83,0.00,78.33
8,8,wapiravaguens,3,80,75.00,72.50,100.0,327.50,62.5,80.0,...,62.5,80.0,50.00,0.00,192.50,62.5,60.0,54.17,62.50,239.17
9,9,davidh17,3,20,45.83,56.25,87.5,209.58,75.0,0.0,...,62.5,100.0,58.33,25.00,245.83,37.5,60.0,58.33,0.00,155.83
10,10,DianaNavarrete,3,20,62.50,25.00,37.5,145.00,37.5,20.0,...,50.0,20.0,58.33,0.00,128.33,37.5,0.0,62.50,0.00,100.00
11,11,jdmonroyg,3,0,25.00,25.00,25.0,75.00,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,0.0,NaN,NaN,NaN,0.00
12,12,jorge52an,3,100,50.00,60.00,100.0,310.00,75.0,60.0,...,75.0,0.0,25.00,87.50,187.50,50.0,20.0,29.17,0.00,99.17
13,13,jscastelblancoh,3,100,83.33,100.00,75.0,358.33,75.0,100.0,...,75.0,60.0,41.67,87.50,264.17,50.0,60.0,29.17,62.50,201.67
14,14,juclopezso,3,60,50.00,81.25,87.5,278.75,62.5,60.0,...,62.5,20.0,29.17,0.00,111.67,25.0,20.0,25.00,0.00,70.00
15,15,afforeroc,3,20,29.17,50.00,62.5,161.67,50.0,20.0,...,50.0,20.0,33.33,0.00,103.33,12.5,20.0,33.33,0.00,65.83
16,16,dagofonseca,3,40,37.50,66.67,87.5,231.67,87.5,40.0,...,50.0,40.0,25.00,75.00,190.00,12.5,20.0,25.00,0.00,57.50
17,17,lacardenasv,3,100,75.00,75.00,100.0,350.00,87.5,60.0,...,62.5,60.0,54.17,87.50,264.17,62.5,20.0,29.17,75.00,186.67
18,18,oacastillol,3,60,62.50,37.50,75.0,235.00,62.5,0.0,...,62.5,0.0,29.17,25.00,116.67,NaN,0.0,29.17,62.50,91.67
19,19,ncampuzano,3,20,45.83,50.00,87.5,203.33,62.5,20.0,...,50.0,20.0,29.17,25.00,124.17,0.0,0.0,29.17,62.50,91.67
20,20,adriel62,3,80,66.67,67.50,87.5,301.67,87.5,40.0,...,87.5,20.0,33.33,62.50,203.33,25.0,20.0,33.33,25.00,103.33
21,21,capinzor,3,20,25.00,58.33,100.0,203.33,87.5,20.0,...,75.0,20.0,25.00,0.00,120.00,25.0,20.0,25.00,37.50,107.50
22,22,ofnanezn,3,40,58.33,25.00,75.0,198.33,50.0,20.0,...,50.0,20.0,37.50,25.00,132.50,12.5,0.0,0.00,0.00,12.50
23,23,macuestap,3,40,50.00,25.00,62.5,177.50,62.5,20.0,...,62.5,20.0,37.50,25.00,145.00,100.0,0.0,25.00,43.75,168.75
24,24,spenas,3,20,33.33,0.00,62.5,115.83,62.5,20.0,...,62.5,20.0,33.33,0.00,115.83,50.0,20.0,58.33,0.00,128.33
25,25,kgbayala528,3,80,50.00,81.25,87.5,298.75,62.5,60.0,...,50.0,40.0,33.33,0.00,123.33,50.0,20.0,37.50,0.00,107.50
26,26,lgmoralesa,3,100,70.83,87.50,87.5,345.83,87.5,100.0,...,87.5,60.0,58.33,62.50,268.33,62.5,20.0,29.17,25.00,136.67
27,27,ronaldsg20,3,20,45.83,12.50,100.0,178.33,100.0,20.0,...,87.5,20.0,29.17,25.00,161.67,87.5,20.0,29.17,45.83,182.50
28,28,cccristanchoc,3,20,33.33,56.25,87.5,197.08,62.5,20.0,...,50.0,20.0,33.33,0.00,103.33,25.0,20.0,29.17,0.00,74.17
29,29,jmalvarezd,3,80,75.00,93.75,100.0,348.75,87.5,60.0,...,87.5,40.0,45.83,25.00,198.33,62.5,100.0,79.17,87.50,329.17
30,30,smarquezo,3,20,33.33,57.50,75.0,185.83,62.5,20.0,...,62.5,20.0,29.17,0.00,111.67,50.0,20.0,29.17,0.00,99.17
31,31,sarizag,3,20,33.33,56.25,100.0,209.58,75.0,20.0,...,87.5,20.0,33.33,0.00,140.83,50.0,20.0,25.00,12.50,107.50
32,32,Chranium,3,20,25.00,0.00,50.0,95.00,50.0,20.0,...,62.5,20.0,25.00,0.00,107.50,0.0,20.0,25.00,0.00,45.00
33,33,DavidQP,3,80,70.83,83.33,50.0,284.17,50.0,80.0,...,50.0,20.0,50.00,0.00,120.00,37.5,20.0,54.17,0.00,111.67
34,34,afceballosr,3,80,45.83,57.50,87.5,270.83,87.5,40.0,...,50.0,20.0,33.33,0.00,103.33,50.0,20.0,25.00,25.00,120.00
35,35,lizzyt10h,3,20,54.17,81.25,100.0,255.42,100.0,0.0,...,75.0,0.0,0.00,0.00,75.00,100.0,0.0,29.17,25.00,154.17
36,36,NicolasPrr,3,100,83.33,90.00,87.5,360.83,62.5,0.0,...,50.0,0.0,25.00,25.00,100.00,62.5,0.0,25.00,25.00,112.50
37,37,jumcorredorro,3,100,62.50,75.00,87.5,325.00,87.5,80.0,...,87.5,80.0,54.17,87.50,309.17,62.5,40.0,33.33,50.00,185.83
38,38,feartheGru,3,0,0.00,0.00,0.0,0.00,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,12.5,NaN,NaN,NaN,12.50
39,39,Danielsv9207,3,0,0.00,0.00,0.0,0.00,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,50.0,NaN,NaN,NaN,50.00
40,40,JhonEmmanuelTorres,3,0,0.00,0.00,0.0,0.00,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,0.0,NaN,NaN,NaN,0.00

In [5]:
temp1 = bogota0.append(bogota1)

In [6]:
temp2 = temp1.append(bogota2)

In [7]:
merged = temp2.append(bogota3)

In [8]:
merged

,Unnamed: 0,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,...,tech-phase2,user-requirement-phase2,infovis-phase2,novelty-phase2,total-phase2,tech-phase1,user-requirement-phase1,infovis-phase1,novelty-phase1,total-phase1
0,0,fffeelipe,0,20,29.17,50.00,199.17,100.0,100.0,20.0,...,75.0,60.0,37.50,0.0,172.50,50.0,20.0,29.17,0.0,99.17
1,1,mnguzmanc,0,60,75.00,67.50,290.00,87.5,87.5,20.0,...,87.5,20.0,37.50,75.0,220.00,87.5,0.0,0.00,0.0,87.50
2,2,jmcuestasb,0,100,54.17,25.00,254.17,75.0,62.5,100.0,...,62.5,20.0,33.33,25.0,140.83,50.0,NaN,NaN,NaN,50.00
3,3,katherinsb,0,20,37.50,16.67,136.67,62.5,37.5,20.0,...,12.5,NaN,NaN,NaN,12.50,0.0,0.0,0.00,0.0,0.00
4,4,jjrodriguezn,0,60,58.33,87.50,255.83,50.0,37.5,40.0,...,62.5,20.0,29.17,0.0,111.67,0.0,NaN,NaN,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,36,NicolasPrr,3,100,83.33,90.00,360.83,87.5,62.5,0.0,...,50.0,0.0,25.00,25.0,100.00,62.5,0.0,25.00,25.0,112.50
37,37,jumcorredorro,3,100,62.50,75.00,325.00,87.5,87.5,80.0,...,87.5,80.0,54.17,87.5,309.17,62.5,40.0,33.33,50.0,185.83
38,38,feartheGru,3,0,0.00,0.00,0.00,0.0,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,12.5,NaN,NaN,NaN,12.50
39,39,Danielsv9207,3,0,0.00,0.00,0.00,0.0,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,50.0,NaN,NaN,NaN,50.00
40,40,JhonEmmanuelTorres,3,0,0.00,0.00,0.00,0.0,0.0,NaN,...,12.5,NaN,NaN,NaN,12.50,0.0,NaN,NaN,NaN,0.00

In [9]:
overall_scores = merged.fillna(0)
overall_scores

,Unnamed: 0,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,...,tech-phase2,user-requirement-phase2,infovis-phase2,novelty-phase2,total-phase2,tech-phase1,user-requirement-phase1,infovis-phase1,novelty-phase1,total-phase1
0,0,fffeelipe,0,20,29.17,50.00,199.17,100.0,100.0,20.0,...,75.0,60.0,37.50,0.0,172.50,50.0,20.0,29.17,0.0,99.17
1,1,mnguzmanc,0,60,75.00,67.50,290.00,87.5,87.5,20.0,...,87.5,20.0,37.50,75.0,220.00,87.5,0.0,0.00,0.0,87.50
2,2,jmcuestasb,0,100,54.17,25.00,254.17,75.0,62.5,100.0,...,62.5,20.0,33.33,25.0,140.83,50.0,0.0,0.00,0.0,50.00
3,3,katherinsb,0,20,37.50,16.67,136.67,62.5,37.5,20.0,...,12.5,0.0,0.00,0.0,12.50,0.0,0.0,0.00,0.0,0.00
4,4,jjrodriguezn,0,60,58.33,87.50,255.83,50.0,37.5,40.0,...,62.5,20.0,29.17,0.0,111.67,0.0,0.0,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,36,NicolasPrr,3,100,83.33,90.00,360.83,87.5,62.5,0.0,...,50.0,0.0,25.00,25.0,100.00,62.5,0.0,25.00,25.0,112.50
37,37,jumcorredorro,3,100,62.50,75.00,325.00,87.5,87.5,80.0,...,87.5,80.0,54.17,87.5,309.17,62.5,40.0,33.33,50.0,185.83
38,38,feartheGru,3,0,0.00,0.00,0.00,0.0,0.0,0.0,...,12.5,0.0,0.00,0.0,12.50,12.5,0.0,0.00,0.0,12.50
39,39,Danielsv9207,3,0,0.00,0.00,0.00,0.0,0.0,0.0,...,12.5,0.0,0.00,0.0,12.50,50.0,0.0,0.00,0.0,50.00
40,40,JhonEmmanuelTorres,3,0,0.00,0.00,0.00,0.0,0.0,0.0,...,12.5,0.0,0.00,0.0,12.50,0.0,0.0,0.00,0.0,0.00

In [10]:
overall_scores['improve-ur-12'] = overall_scores['user-requirement-phase2'] - overall_scores['user-requirement-phase1']
overall_scores['improve-ur-23'] = overall_scores['user-requirement-phase3'] - overall_scores['user-requirement-phase2']
overall_scores['improve-ur-34'] = overall_scores['user-requirement-phase4'] - overall_scores['user-requirement-phase3']
overall_scores['improve-ur-45'] = overall_scores['user-requirement-phase5'] - overall_scores['user-requirement-phase4']
overall_scores['improve-ur-15'] = overall_scores['user-requirement-phase5'] - overall_scores['user-requirement-phase1']
overall_scores['improve-ur-25'] = overall_scores['user-requirement-phase5'] - overall_scores['user-requirement-phase2']
overall_scores['improve-vis-12'] = overall_scores['infovis-phase2'] - overall_scores['infovis-phase1']
overall_scores['improve-vis-23'] = overall_scores['infovis-phase3'] - overall_scores['infovis-phase2']
overall_scores['improve-vis-34'] = overall_scores['infovis-phase4'] - overall_scores['infovis-phase3']
overall_scores['improve-vis-45'] = overall_scores['infovis-phase5'] - overall_scores['infovis-phase4']
overall_scores['improve-vis-15'] = overall_scores['infovis-phase5'] - overall_scores['infovis-phase1']
overall_scores['improve-vis-25'] = overall_scores['infovis-phase5'] - overall_scores['infovis-phase2']
overall_scores['improve-novel-12'] = overall_scores['novelty-phase2'] - overall_scores['novelty-phase1']
overall_scores['improve-novel-23'] = overall_scores['novelty-phase3'] - overall_scores['novelty-phase2']
overall_scores['improve-novel-34'] = overall_scores['novelty-phase4'] - overall_scores['novelty-phase3']
overall_scores['improve-novel-45'] = overall_scores['novelty-phase5'] - overall_scores['novelty-phase4']
overall_scores['improve-novel-15'] = overall_scores['novelty-phase5'] - overall_scores['novelty-phase1']
overall_scores['improve-novel-25'] = overall_scores['novelty-phase5'] - overall_scores['novelty-phase2']
overall_scores['improve-tech-12'] = overall_scores['tech-phase2'] - overall_scores['tech-phase1']
overall_scores['improve-tech-23'] = overall_scores['tech-phase3'] - overall_scores['tech-phase2']
overall_scores['improve-tech-34'] = overall_scores['tech-phase4'] - overall_scores['tech-phase3']
overall_scores['improve-tech-45'] = overall_scores['tech-phase5'] - overall_scores['tech-phase4']
overall_scores['improve-tech-25'] = overall_scores['tech-phase5'] - overall_scores['tech-phase2']
overall_scores['improve-tech-15'] = overall_scores['tech-phase5'] - overall_scores['tech-phase1']
overall_scores['improve-total-12'] = overall_scores['total-phase2'] - overall_scores['total-phase1']
overall_scores['improve-total-23'] = overall_scores['total-phase3'] - overall_scores['total-phase2']
overall_scores['improve-total-34'] = overall_scores['total-phase4'] - overall_scores['total-phase3']
overall_scores['improve-total-45'] = overall_scores['total-phase5'] - overall_scores['total-phase4']
overall_scores['improve-total-15'] = overall_scores['total-phase5'] - overall_scores['total-phase1']
overall_scores['improve-total-25'] = overall_scores['total-phase5'] - overall_scores['total-phase2']

overall_scores

,Unnamed: 0,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,...,improve-tech-34,improve-tech-45,improve-tech-25,improve-tech-15,improve-total-12,improve-total-23,improve-total-34,improve-total-45,improve-total-15,improve-total-25
0,0,fffeelipe,0,20,29.17,50.00,199.17,100.0,100.0,20.0,...,25.0,0.0,25.0,50.0,73.33,0.00,20.42,6.25,100.00,26.67
1,1,mnguzmanc,0,60,75.00,67.50,290.00,87.5,87.5,20.0,...,-12.5,0.0,0.0,0.0,132.50,16.67,8.33,45.00,202.50,70.00
2,2,jmcuestasb,0,100,54.17,25.00,254.17,75.0,62.5,100.0,...,0.0,12.5,12.5,25.0,90.83,-8.33,88.33,33.34,204.17,113.34
3,3,katherinsb,0,20,37.50,16.67,136.67,62.5,37.5,20.0,...,37.5,25.0,50.0,62.5,12.50,-12.50,128.33,8.34,136.67,124.17
4,4,jjrodriguezn,0,60,58.33,87.50,255.83,50.0,37.5,40.0,...,0.0,12.5,-12.5,50.0,111.67,-8.34,28.34,124.16,255.83,144.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,36,NicolasPrr,3,100,83.33,90.00,360.83,87.5,62.5,0.0,...,12.5,25.0,37.5,25.0,-12.50,8.33,12.50,240.00,248.33,260.83
37,37,jumcorredorro,3,100,62.50,75.00,325.00,87.5,87.5,80.0,...,0.0,0.0,0.0,25.0,123.34,20.83,-25.00,20.00,139.17,15.83
38,38,feartheGru,3,0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,-12.5,-12.5,0.00,-12.50,0.00,0.00,-12.50,-12.50
39,39,Danielsv9207,3,0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,-12.5,-50.0,-37.50,-12.50,0.00,0.00,-50.00,-12.50
40,40,JhonEmmanuelTorres,3,0,0.00,0.00,0.00,0.0,0.0,0.0,...,0.0,0.0,-12.5,0.0,12.50,-12.50,0.00,0.00,0.00,-12.50

In [11]:
# Remove Unnamed Columns 
overall_scores = overall_scores.loc[:, ~overall_scores.columns.str.contains('^Unnamed')]
overall_scores

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,improve-tech-34,improve-tech-45,improve-tech-25,improve-tech-15,improve-total-12,improve-total-23,improve-total-34,improve-total-45,improve-total-15,improve-total-25
0,fffeelipe,0,20,29.17,50.00,199.17,100.0,100.0,20.0,29.17,...,25.0,0.0,25.0,50.0,73.33,0.00,20.42,6.25,100.00,26.67
1,mnguzmanc,0,60,75.00,67.50,290.00,87.5,87.5,20.0,37.50,...,-12.5,0.0,0.0,0.0,132.50,16.67,8.33,45.00,202.50,70.00
2,jmcuestasb,0,100,54.17,25.00,254.17,75.0,62.5,100.0,58.33,...,0.0,12.5,12.5,25.0,90.83,-8.33,88.33,33.34,204.17,113.34
3,katherinsb,0,20,37.50,16.67,136.67,62.5,37.5,20.0,45.83,...,37.5,25.0,50.0,62.5,12.50,-12.50,128.33,8.34,136.67,124.17
4,jjrodriguezn,0,60,58.33,87.50,255.83,50.0,37.5,40.0,54.17,...,0.0,12.5,-12.5,50.0,111.67,-8.34,28.34,124.16,255.83,144.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,NicolasPrr,3,100,83.33,90.00,360.83,87.5,62.5,0.0,33.33,...,12.5,25.0,37.5,25.0,-12.50,8.33,12.50,240.00,248.33,260.83
37,jumcorredorro,3,100,62.50,75.00,325.00,87.5,87.5,80.0,58.33,...,0.0,0.0,0.0,25.0,123.34,20.83,-25.00,20.00,139.17,15.83
38,feartheGru,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,-12.5,-12.5,0.00,-12.50,0.00,0.00,-12.50,-12.50
39,Danielsv9207,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,-12.5,-50.0,-37.50,-12.50,0.00,0.00,-50.00,-12.50
40,JhonEmmanuelTorres,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,-12.5,0.0,12.50,-12.50,0.00,0.00,0.00,-12.50

In [12]:
phase12_loc = pd.read_csv('phase12-loc.csv')
phase12_loc

           Student  add-loc-12  delete-loc-12  change-files-12
0           annipi           0              0                0
1        bsgarciac          14              9                2
2        camilo654           0              0               20
3      camilo13152           0              0                7
4      CamiloRueda           0              0                0
..             ...         ...            ...              ...
155      smarquezo           5             74                1
156         spenas          83             59                5
157      srmedinac          48            228                6
158  wapiravaguens          26             58                2
159   wilson911013           0              0                1

[160 rows x 4 columns]

In [13]:
phase12_loc_merge = pd.merge(overall_scores, phase12_loc, on=['Student'], how='outer')
phase12_loc_merge

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,improve-tech-15,improve-total-12,improve-total-23,improve-total-34,improve-total-45,improve-total-15,improve-total-25,add-loc-12,delete-loc-12,change-files-12
0,fffeelipe,0,20,29.17,50.00,199.17,100.0,100.0,20.0,29.17,...,50.0,73.33,0.00,20.42,6.25,100.00,26.67,0.0,0.0,0.0
1,mnguzmanc,0,60,75.00,67.50,290.00,87.5,87.5,20.0,37.50,...,0.0,132.50,16.67,8.33,45.00,202.50,70.00,6.0,14.0,2.0
2,jmcuestasb,0,100,54.17,25.00,254.17,75.0,62.5,100.0,58.33,...,25.0,90.83,-8.33,88.33,33.34,204.17,113.34,7.0,0.0,7.0
3,katherinsb,0,20,37.50,16.67,136.67,62.5,37.5,20.0,45.83,...,62.5,12.50,-12.50,128.33,8.34,136.67,124.17,0.0,0.0,0.0
4,jjrodriguezn,0,60,58.33,87.50,255.83,50.0,37.5,40.0,54.17,...,50.0,111.67,-8.34,28.34,124.16,255.83,144.16,104.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,NicolasPrr,3,100,83.33,90.00,360.83,87.5,62.5,0.0,33.33,...,25.0,-12.50,8.33,12.50,240.00,248.33,260.83,0.0,0.0,0.0
159,jumcorredorro,3,100,62.50,75.00,325.00,87.5,87.5,80.0,58.33,...,25.0,123.34,20.83,-25.00,20.00,139.17,15.83,0.0,0.0,0.0
160,feartheGru,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,-12.5,0.00,-12.50,0.00,0.00,-12.50,-12.50,6.0,79.0,2.0
161,Danielsv9207,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,-50.0,-37.50,-12.50,0.00,0.00,-50.00,-12.50,0.0,0.0,0.0
162,JhonEmmanuelTorres,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,12.50,-12.50,0.00,0.00,0.00,-12.50,0.0,0.0,1.0

In [14]:
phase15_loc = pd.read_csv('phase15-loc.csv')
phase15_loc

           Student  add-loc-15  delete-loc-15  change-files-15
0           annipi           0              0                0
1        bsgarciac           0              0                8
2        camilo654          55             77                5
3      camilo13152           0              0               21
4      CamiloRueda           0              0                7
..             ...         ...            ...              ...
155      smarquezo          27            610                1
156         spenas          83             59                5
157      srmedinac          48            228                6
158  wapiravaguens          33             77                2
159   wilson911013           0              0                3

[160 rows x 4 columns]

In [15]:
phase15_loc_merge = pd.merge(phase12_loc_merge, phase15_loc, on=['Student'], how = 'outer')
phase15_loc_merge

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,improve-total-34,improve-total-45,improve-total-15,improve-total-25,add-loc-12,delete-loc-12,change-files-12,add-loc-15,delete-loc-15,change-files-15
0,fffeelipe,0,20,29.17,50.00,199.17,100.0,100.0,20.0,29.17,...,20.42,6.25,100.00,26.67,0.0,0.0,0.0,92.0,249.0,18.0
1,mnguzmanc,0,60,75.00,67.50,290.00,87.5,87.5,20.0,37.50,...,8.33,45.00,202.50,70.00,6.0,14.0,2.0,43.0,144.0,3.0
2,jmcuestasb,0,100,54.17,25.00,254.17,75.0,62.5,100.0,58.33,...,88.33,33.34,204.17,113.34,7.0,0.0,7.0,7.0,0.0,7.0
3,katherinsb,0,20,37.50,16.67,136.67,62.5,37.5,20.0,45.83,...,128.33,8.34,136.67,124.17,0.0,0.0,0.0,0.0,0.0,6.0
4,jjrodriguezn,0,60,58.33,87.50,255.83,50.0,37.5,40.0,54.17,...,28.34,124.16,255.83,144.16,104.0,0.0,1.0,0.0,0.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,NicolasPrr,3,100,83.33,90.00,360.83,87.5,62.5,0.0,33.33,...,12.50,240.00,248.33,260.83,0.0,0.0,0.0,41.0,49.0,5.0
159,jumcorredorro,3,100,62.50,75.00,325.00,87.5,87.5,80.0,58.33,...,-25.00,20.00,139.17,15.83,0.0,0.0,0.0,29.0,35.0,1.0
160,feartheGru,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.00,0.00,-12.50,-12.50,6.0,79.0,2.0,0.0,0.0,0.0
161,Danielsv9207,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.00,0.00,-50.00,-12.50,0.0,0.0,0.0,0.0,0.0,0.0
162,JhonEmmanuelTorres,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.00,0.00,0.00,-12.50,0.0,0.0,1.0,0.0,0.0,0.0

In [16]:
phase23_loc = pd.read_csv('phase23-loc.csv')
phase23_loc

           Student  add-loc-23  delete-loc-23  change-files-23
0           annipi           0              0                0
1        bsgarciac           0              0                7
2        camilo654           0              0                0
3      camilo13152          21             38                2
4      CamiloRueda           0              0                0
..             ...         ...            ...              ...
155      smarquezo           0              0                0
156         spenas           0              0                0
157      srmedinac           2              2                1
158  wapiravaguens          13             18                2
159   wilson911013           0              0                0

[160 rows x 4 columns]

In [17]:
phase23_loc_merge = pd.merge(phase15_loc_merge, phase23_loc, on=['Student'], how = 'outer')
phase23_loc_merge

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,improve-total-25,add-loc-12,delete-loc-12,change-files-12,add-loc-15,delete-loc-15,change-files-15,add-loc-23,delete-loc-23,change-files-23
0,fffeelipe,0,20,29.17,50.00,199.17,100.0,100.0,20.0,29.17,...,26.67,0.0,0.0,0.0,92.0,249.0,18.0,0.0,0.0,0.0
1,mnguzmanc,0,60,75.00,67.50,290.00,87.5,87.5,20.0,37.50,...,70.00,6.0,14.0,2.0,43.0,144.0,3.0,31.0,95.0,1.0
2,jmcuestasb,0,100,54.17,25.00,254.17,75.0,62.5,100.0,58.33,...,113.34,7.0,0.0,7.0,7.0,0.0,7.0,6.0,9.0,1.0
3,katherinsb,0,20,37.50,16.67,136.67,62.5,37.5,20.0,45.83,...,124.17,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0
4,jjrodriguezn,0,60,58.33,87.50,255.83,50.0,37.5,40.0,54.17,...,144.16,104.0,0.0,1.0,0.0,0.0,9.0,57.0,98.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,NicolasPrr,3,100,83.33,90.00,360.83,87.5,62.5,0.0,33.33,...,260.83,0.0,0.0,0.0,41.0,49.0,5.0,0.0,0.0,0.0
159,jumcorredorro,3,100,62.50,75.00,325.00,87.5,87.5,80.0,58.33,...,15.83,0.0,0.0,0.0,29.0,35.0,1.0,29.0,34.0,1.0
160,feartheGru,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,-12.50,6.0,79.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
161,Danielsv9207,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,-12.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162,JhonEmmanuelTorres,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,-12.50,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
phase34_loc = pd.read_csv('phase34-loc.csv')
phase34_loc

           Student  add-loc-34  delete-loc-34  change-files-34
0           annipi           0              0                0
1        bsgarciac         121           1279                5
2        camilo654          60            115                6
3      camilo13152          12             21                3
4      CamiloRueda           0              0                0
..             ...         ...            ...              ...
155      smarquezo          94            263                1
156         spenas           0              0                0
157      srmedinac           1              1                1
158  wapiravaguens          12             16                2
159   wilson911013           0              0                2

[160 rows x 4 columns]

In [19]:
phase34_loc_merge = pd.merge(phase23_loc_merge, phase34_loc, on=['Student'], how = 'outer')
phase34_loc_merge

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,change-files-12,add-loc-15,delete-loc-15,change-files-15,add-loc-23,delete-loc-23,change-files-23,add-loc-34,delete-loc-34,change-files-34
0,fffeelipe,0,20,29.17,50.00,199.17,100.0,100.0,20.0,29.17,...,0.0,92.0,249.0,18.0,0.0,0.0,0.0,87.0,202.0,17.0
1,mnguzmanc,0,60,75.00,67.50,290.00,87.5,87.5,20.0,37.50,...,2.0,43.0,144.0,3.0,31.0,95.0,1.0,65.0,39.0,2.0
2,jmcuestasb,0,100,54.17,25.00,254.17,75.0,62.5,100.0,58.33,...,7.0,7.0,0.0,7.0,6.0,9.0,1.0,9.0,0.0,1.0
3,katherinsb,0,20,37.50,16.67,136.67,62.5,37.5,20.0,45.83,...,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,4.0
4,jjrodriguezn,0,60,58.33,87.50,255.83,50.0,37.5,40.0,54.17,...,1.0,0.0,0.0,9.0,57.0,98.0,1.0,67.0,13.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,NicolasPrr,3,100,83.33,90.00,360.83,87.5,62.5,0.0,33.33,...,0.0,41.0,49.0,5.0,0.0,0.0,0.0,106.0,285.0,4.0
159,jumcorredorro,3,100,62.50,75.00,325.00,87.5,87.5,80.0,58.33,...,0.0,29.0,35.0,1.0,29.0,34.0,1.0,1.0,0.0,1.0
160,feartheGru,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161,Danielsv9207,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162,JhonEmmanuelTorres,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
phase45_loc = pd.read_csv('phase45-loc.csv')
phase45_loc

           Student  add-loc-45  delete-loc-45  change-files-45
0           annipi           0              0                0
1        bsgarciac          69            105                6
2        camilo654           2              2                2
3      camilo13152           5              1                1
4      CamiloRueda           0              0                0
..             ...         ...            ...              ...
155      smarquezo          26            371                1
156         spenas           0              0                0
157      srmedinac           0              0                0
158  wapiravaguens           1              4                2
159   wilson911013           0              0                0

[160 rows x 4 columns]

In [21]:
phase45_loc_merge = pd.merge(phase34_loc_merge, phase45_loc, on=['Student'], how = 'outer')
phase45_loc_merge

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,change-files-15,add-loc-23,delete-loc-23,change-files-23,add-loc-34,delete-loc-34,change-files-34,add-loc-45,delete-loc-45,change-files-45
0,fffeelipe,0,20,29.17,50.00,199.17,100.0,100.0,20.0,29.17,...,18.0,0.0,0.0,0.0,87.0,202.0,17.0,78.0,168.0,6.0
1,mnguzmanc,0,60,75.00,67.50,290.00,87.5,87.5,20.0,37.50,...,3.0,31.0,95.0,1.0,65.0,39.0,2.0,81.0,136.0,2.0
2,jmcuestasb,0,100,54.17,25.00,254.17,75.0,62.5,100.0,58.33,...,7.0,6.0,9.0,1.0,9.0,0.0,1.0,9.0,26.0,1.0
3,katherinsb,0,20,37.50,16.67,136.67,62.5,37.5,20.0,45.83,...,6.0,0.0,0.0,0.0,0.0,0.0,4.0,259.0,371.0,3.0
4,jjrodriguezn,0,60,58.33,87.50,255.83,50.0,37.5,40.0,54.17,...,9.0,57.0,98.0,1.0,67.0,13.0,2.0,4.0,7.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,NicolasPrr,3,100,83.33,90.00,360.83,87.5,62.5,0.0,33.33,...,5.0,0.0,0.0,0.0,106.0,285.0,4.0,2.0,4.0,4.0
159,jumcorredorro,3,100,62.50,75.00,325.00,87.5,87.5,80.0,58.33,...,1.0,29.0,34.0,1.0,1.0,0.0,1.0,2.0,2.0,1.0
160,feartheGru,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161,Danielsv9207,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162,JhonEmmanuelTorres,3,0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
phase25_loc = pd.read_csv('phase25-loc.csv')
phase25_loc

           Student  add-loc-25  delete-loc-25  change-files-25
0           annipi          39             26                4
1        bsgarciac          47             74                6
2        camilo654          28             50                3
3      camilo13152           0              0                0
4      CamiloRueda           0              0                0
..             ...         ...            ...              ...
155      smarquezo          94            608                1
156         spenas           0              0                0
157      srmedinac           3              3                1
158  wapiravaguens          21             33                2
159   wilson911013           0              0                2

[160 rows x 4 columns]

In [23]:
overall_loc_scores = pd.merge(phase45_loc_merge, phase25_loc, on=['Student'], how = 'outer')
overall_loc_scores

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,change-files-23,add-loc-34,delete-loc-34,change-files-34,add-loc-45,delete-loc-45,change-files-45,add-loc-25,delete-loc-25,change-files-25
0,fffeelipe,0.0,20.0,29.17,50.00,199.17,100.0,100.0,20.0,29.17,...,0.0,87.0,202.0,17.0,78.0,168.0,6.0,0.0,0.0,0.0
1,mnguzmanc,0.0,60.0,75.00,67.50,290.00,87.5,87.5,20.0,37.50,...,1.0,65.0,39.0,2.0,81.0,136.0,2.0,51.0,144.0,2.0
2,jmcuestasb,0.0,100.0,54.17,25.00,254.17,75.0,62.5,100.0,58.33,...,1.0,9.0,0.0,1.0,9.0,26.0,1.0,5.0,34.0,1.0
3,katherinsb,0.0,20.0,37.50,16.67,136.67,62.5,37.5,20.0,45.83,...,0.0,0.0,0.0,4.0,259.0,371.0,3.0,0.0,0.0,6.0
4,jjrodriguezn,0.0,60.0,58.33,87.50,255.83,50.0,37.5,40.0,54.17,...,1.0,67.0,13.0,2.0,4.0,7.0,4.0,59.0,49.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,jumcorredorro,3.0,100.0,62.50,75.00,325.00,87.5,87.5,80.0,58.33,...,1.0,1.0,0.0,1.0,2.0,2.0,1.0,29.0,35.0,1.0
160,feartheGru,3.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,234.0,2.0
161,Danielsv9207,3.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162,JhonEmmanuelTorres,3.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163,janoguerab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [24]:
d3_phase12 = pd.read_csv('../../d3-components/d3_phase12_final.csv')
d3_phase12 = d3_phase12.loc[:, ~d3_phase12.columns.str.contains('^Unnamed')]
d3_phase12

    d3-delete-12  d3-add-12          name
0              0          0      Chranium
1              0          3  Christian7sr
2              0          3     bsgarciac
3              0         52    dsbarrerag
4              0       1015    falperezgo
5              0          0   jiapulidoar
6              0          0  jucjimenezmo
7              0          1   kgbayala528
8              0          0  lfvalderrama
9              0          0   nabautistal
10             0         59     nfmorenog
11             1          2        oeroaq
12             0          5    ronaldsg20

In [25]:
d3_phase23 = pd.read_csv('../../d3-components/d3_phase23_final.csv')
d3_phase23 = d3_phase23.loc[:, ~d3_phase23.columns.str.contains('^Unnamed')]
d3_phase23

    d3-delete-23  d3-add-23          name
0              0          0      Chranium
1              0          1  Christian7sr
2              0          6     bsgarciac
3              0          0    dsbarrerag
4              0          0    falperezgo
5              0          0   jiapulidoar
6              0          0  jucjimenezmo
7              0          1   kgbayala528
8              0          0  lfvalderrama
9              0         38   nabautistal
10             0          0     nfmorenog
11             0          0        oeroaq
12             0         45    ronaldsg20
13             1          6     srmedinac

In [26]:
d3_phase34 = pd.read_csv('../../d3-components/d3_phase23_final.csv')
d3_phase34 = d3_phase34.loc[:, ~d3_phase34.columns.str.contains('^Unnamed')]
d3_phase34

    d3-delete-23  d3-add-23          name
0              0          0      Chranium
1              0          1  Christian7sr
2              0          6     bsgarciac
3              0          0    dsbarrerag
4              0          0    falperezgo
5              0          0   jiapulidoar
6              0          0  jucjimenezmo
7              0          1   kgbayala528
8              0          0  lfvalderrama
9              0         38   nabautistal
10             0          0     nfmorenog
11             0          0        oeroaq
12             0         45    ronaldsg20
13             1          6     srmedinac

In [27]:
d3_phase45 = pd.read_csv('../../d3-components/d3_phase23_final.csv')
d3_phase45 = d3_phase45.loc[:, ~d3_phase45.columns.str.contains('^Unnamed')]
d3_phase45

    d3-delete-23  d3-add-23          name
0              0          0      Chranium
1              0          1  Christian7sr
2              0          6     bsgarciac
3              0          0    dsbarrerag
4              0          0    falperezgo
5              0          0   jiapulidoar
6              0          0  jucjimenezmo
7              0          1   kgbayala528
8              0          0  lfvalderrama
9              0         38   nabautistal
10             0          0     nfmorenog
11             0          0        oeroaq
12             0         45    ronaldsg20
13             1          6     srmedinac

In [28]:
phase45_loc_merge = pd.merge(phase34_loc_merge, d3_phase12, on=['Student'], how = 'outer')
phase45_loc_merge

NameError: name 'd3_phase12_loc' is not defined

In [ ]:
overall_loc_scores_final = overall_loc_scores.fillna(0)

In [ ]:
overall_loc_scores_final['improve-effort-12'] = overall_loc_scores_final['add-loc-12'] - 0.5 * overall_loc_scores_final['delete-loc-12']
overall_loc_scores_final['improve-effort-23'] = overall_loc_scores_final['add-loc-23'] - 0.5 * overall_loc_scores_final['delete-loc-23']
overall_loc_scores_final['improve-effort-34'] = overall_loc_scores_final['add-loc-34'] - 0.5 * overall_loc_scores_final['delete-loc-34']
overall_loc_scores_final['improve-effort-45'] = overall_loc_scores_final['add-loc-45'] - 0.5 * overall_loc_scores_final['delete-loc-45']
overall_loc_scores_final['improve-effort-15'] = overall_loc_scores_final['add-loc-15'] - 0.5 * overall_loc_scores_final['delete-loc-15']
overall_loc_scores_final['improve-effort-25'] = overall_loc_scores_final['add-loc-25'] - 0.5 * overall_loc_scores_final['delete-loc-25']

In [ ]:
overall_loc_scores_final

## Descriptive Exploratory Analysis ( DEA )

>> Run correlation on overall improvement scores (Spearman Correlation)

>> Run the correlations per subgroup - to see if the picture changes there.

>> Examining the distribution of each metrics using histogram and normality test

In [ ]:
improve_scores = overall_loc_scores_final[['improve-tech-12', 'improve-tech-23', 'improve-tech-34', 'improve-tech-45',
                             'improve-tech-15', 'improve-novel-12', 'improve-novel-23', 'improve-novel-34', 
                             'improve-novel-45', 'improve-novel-15', 'improve-vis-12', 'improve-vis-23', 
                             'improve-vis-34', 'improve-vis-45', 'improve-vis-15', 'improve-ur-12', 
                            'improve-ur-23', 'improve-ur-34', 'improve-ur-45', 'improve-ur-15', 
                            'improve-total-12', 'improve-total-23', 'improve-total-34', 'improve-total-45', 
                            'improve-total-15']]

In [ ]:
bogota_0 = overall_loc_scores_final[overall_loc_scores_final['Group'].isin([0])]
improve_scores_bogota0 = bogota_0[['improve-tech-12', 'improve-tech-23', 'improve-tech-34', 'improve-tech-45', 'improve-tech-15',
                           'improve-novel-12', 'improve-novel-23', 'improve-novel-34', 
                            'improve-novel-45', 'improve-novel-15', 'improve-vis-12', 'improve-vis-23', 
                            'improve-vis-34', 'improve-vis-45', 'improve-vis-15', 'improve-ur-12', 
                            'improve-ur-23', 'improve-ur-34', 'improve-ur-45', 'improve-ur-15', 
                            'improve-total-12', 'improve-total-23', 'improve-total-34', 'improve-total-45', 
                            'improve-total-15']]

In [ ]:
bogota_1 = overall_loc_scores_final[overall_loc_scores_final['Group'].isin([1])]
improve_scores_bogota1 = bogota_1[['improve-tech-12', 'improve-tech-23', 'improve-tech-34', 'improve-tech-45', 'improve-tech-15',
                           'improve-novel-12', 'improve-novel-23', 'improve-novel-34', 
                            'improve-novel-45', 'improve-novel-15', 'improve-vis-12', 'improve-vis-23', 
                            'improve-vis-34', 'improve-vis-45', 'improve-vis-15', 'improve-ur-12', 
                            'improve-ur-23', 'improve-ur-34', 'improve-ur-45', 'improve-ur-15', 
                            'improve-total-12', 'improve-total-23', 'improve-total-34', 'improve-total-45', 
                            'improve-total-15']]

In [ ]:
bogota_2 = overall_loc_scores_final[overall_loc_scores_final['Group'].isin([2])]
improve_scores_bogota2 = bogota_2[['improve-tech-12', 'improve-tech-23', 'improve-tech-34', 'improve-tech-45', 'improve-tech-15',
                           'improve-novel-12', 'improve-novel-23', 'improve-novel-34', 
                            'improve-novel-45', 'improve-novel-15', 'improve-vis-12', 'improve-vis-23', 
                            'improve-vis-34', 'improve-vis-45', 'improve-vis-15', 'improve-ur-12', 
                            'improve-ur-23', 'improve-ur-34', 'improve-ur-45', 'improve-ur-15', 
                            'improve-total-12', 'improve-total-23', 'improve-total-34', 'improve-total-45', 
                            'improve-total-15']]

In [ ]:
bogota_3 = overall_loc_scores_final[overall_loc_scores_final['Group'].isin([3])]
improve_scores_bogota3 = bogota_3[['improve-tech-12', 'improve-tech-23', 'improve-tech-34', 'improve-tech-45', 'improve-tech-15',
                           'improve-novel-12', 'improve-novel-23', 'improve-novel-34', 
                            'improve-novel-45', 'improve-novel-15', 'improve-vis-12', 'improve-vis-23', 
                            'improve-vis-34', 'improve-vis-45', 'improve-vis-15', 'improve-ur-12', 
                            'improve-ur-23', 'improve-ur-34', 'improve-ur-45', 'improve-ur-15', 
                            'improve-total-12', 'improve-total-23', 'improve-total-34', 'improve-total-45', 
                            'improve-total-15']]

In [ ]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns


def corr_sig(df=None):
    p_matrix = np.zeros(shape=(df.shape[1],df.shape[1]))
    for col in df.columns:
        for col2 in df.drop(col,axis=1).columns:
            _ , p = stats.pearsonr(df[col],df[col2])
            p_matrix[df.columns.to_list().index(col),df.columns.to_list().index(col2)] = p
    return p_matrix


def plot_cor_matrix(corr, mask=None):
    f, ax = plt.subplots(figsize=(16, 14))
    sns.heatmap(corr, ax=ax,
                mask=mask,
                # cosmetics
                annot=True, vmin=-1, vmax=1, center=0,
                cmap='coolwarm', linewidths=2, linecolor='black', cbar_kws={'orientation': 'horizontal'})

In [ ]:
corr = improve_scores.corr(method='spearman')                            # get correlation
p_values = corr_sig(improve_scores)                     # get p-Value
mask = np.invert(np.tril(p_values<0.05))    # mask - only get significant corr
plot_cor_matrix(corr,mask)

## Interpretation Overall Sample

>> **The goal is to see whether the different subscores are correlated with each other in the overall sample.**

>> * improve-tech-15 with improve-ur-15 ( 0.28 ) - low correlate 

>> * improve-tech-15 with improve-vis-15 ( 0.33 ) - moderate correlation 

>> * improve-tech-15 with improve-novelty-15 ( 0.38 ) - moderate correlation 

>> **We only see low and moderate correlations, so using improve-total-15 is maybe not appropriate.**

>> * improve-total-15 with improve-tech-15 ( 0.66 ) - high correlation 

>> * improve-total-15 with improve-novel-15 ( 0.79 ) - high correlation 

>> * improve-total-15 with improve-vis-15 ( 0.74 ) - high correlation

>> * improve-total-15 with improve-ur-15 ( 0.8 ) - high correlation 

>> **All of the other score dimensions have high correlations with improve-total-15.**

In [ ]:
corr = improve_scores_bogota0.corr(method='spearman')                            # get correlation
p_values = corr_sig(improve_scores_bogota0)                     # get p-Value
mask = np.invert(np.tril(p_values<0.05))    # mask - only get significant corr
plot_cor_matrix(corr,mask)

## Interpretation Bogota 0 ( No Transparency ) 

>> **The goal is to see whether the different subscores are correlated with each other in the overall sample.** 

>> * improve-tech-15 with improve-ur-15 ( 0.48 ) - moderate correlate 

>> * improve-tech-15 with improve-vis-15 ( 0.55 ) - high correlation 

>> * improve-tech-15 with improve-novelty-15 ( 0.63 ) - high correlation 

>> **We only see moderate and high correlations among the subscores.**

>> * improve-total-15 with improve-tech-15 ( 0.75 ) - high correlation

>> * improve-total-15 with improve-novel-15 ( 0.84 ) - high correlation

>> * improve-total-15 with improve-vis-15 ( 0.82 ) - high correlation

>> * improve-total-15 with improve-ur-15 ( 0.86 ) - high correlation

>> **All of the other score dimensions have high correlations with improve-total-15.**

In [ ]:
corr = improve_scores_bogota1.corr(method='spearman')                            # get correlation
p_values = corr_sig(improve_scores_bogota1)                     # get p-Value
mask = np.invert(np.tril(p_values<0.05))    # mask - only get significant corr
plot_cor_matrix(corr,mask)

## Interpretation Bogota 1 ( Performance Transparency ) 

>> **The goal is to see whether the different subscores are correlated with each other in the overall sample.**

>> * improve-tech-15 with improve-ur-15 - not even significant 

>> * improve-tech-15 with improve-vis-15 ( 0.24 ) - low correlation

>> * improve-tech-15 with improve-novelty-15 ( 0.32 ) - moderate correlation 

>> **We only see low and moderate correlations among the subscores, not sure if improve-total-15 is appropriate.**

>> * improve-total-15 with improve-tech-15 ( 0.69 ) - high correlation

>> * improve-total-15 with improve-novel-15 ( 0.77 ) - high correlation

>> * improve-total-15 with improve-vis-15 ( 0.65 ) - high correlation

>> * improve-total-15 with improve-ur-15 ( 0.68 ) - high correlation

>> **All of the other score dimensions have high correlations with improve-total-15.**

In [ ]:
corr = improve_scores_bogota2.corr(method='spearman')                            # get correlation
p_values = corr_sig(improve_scores_bogota2)                     # get p-Value
mask = np.invert(np.tril(p_values<0.05))    # mask - only get significant corr
plot_cor_matrix(corr,mask)

## Interpretation Bogota 2 ( Solution Transparency )

>> **The goal is to see whether the different subscores are correlated with each other in the overall sample.** 

>> * improve-tech-15 with improve-ur-15 - not even significant 

>> * improve-tech-15 with improve-vis-15 ( 0.28 ) - low correlation

>> * improve-tech-15 with improve-novelty-15 - not even significant 

>> **We only see low correlation among the subscores, not sure if improve-total-15 is appropriate.**

>> * improve-total-15 with improve-tech-15 ( 0.6 ) - high correlation

>> * improve-total-15 with improve-novel-15 ( 0.78 ) - high correlation

>> * improve-total-15 with improve-vis-15 ( 0.69 ) - high correlation

>> * improve-total-15 with improve-ur-15 ( 0.78 ) - high correlation

>> **All of the other score dimensions have high correlations with improve-total-15.**

In [ ]:
corr = improve_scores_bogota3.corr(method='spearman')                            # get correlation
p_values = corr_sig(improve_scores_bogota3)                     # get p-Value
mask = np.invert(np.tril(p_values<0.05))    # mask - only get significant corr
plot_cor_matrix(corr,mask)

## Interpretation Bogota 3 ( Full Transparency )

>> **The goal is to see whether the different subscores are correlated with each other in the overall sample.** 

>> * improve-tech-15 with improve-ur-15 - not even significant 

>> * improve-tech-15 with improve-vis-15  - not even significant 

>> * improve-tech-15 with improve-novelty-15 - 0.26 (low correlation)

>> **We only see low correlation among the subscores, not sure if improve-total-15 is appropriate.**

>> * improve-total-15 with improve-tech-15 ( 0.53 ) - high correlation

>> * improve-total-15 with improve-novel-15 ( 0.71 ) - high correlation

>> * improve-total-15 with improve-vis-15 ( 0.69 ) - high correlation

>> * improve-total-15 with improve-ur-15 ( 0.83 ) - high correlation

>> **All of the other score dimensions have high correlations with improve-total-15.**

## Inference

>> The overall sample is not representative of the subgroups in terms of the innovation performance score. For example, we see correlations that are not significant in the Bogota 3, which is the full transparency group. However, we see low and moderate correlations on the overall sample. For the case of Bogota 0 ( No Transparency ), however, we see moderate to high correlations.

In [ ]:
improve_scores = overall_loc_scores_final[['improve-effort-12', 
                            'improve-effort-23', 'improve-effort-34', 'improve-effort-45', 'improve-effort-15', 'improve-effort-25','add-loc-12', 'delete-loc-12', 'change-files-12', 
                            'add-loc-23', 'delete-loc-23', 'change-files-23', 
                            'add-loc-34', 'delete-loc-34', 'change-files-34', 
                            'add-loc-45', 'delete-loc-45', 'change-files-45', 
                            'add-loc-15', 'delete-loc-15', 'change-files-15', 
                            'add-loc-25', 'delete-loc-25', 'change-files-25',
                            'improve-tech-12', 'improve-tech-23', 'improve-tech-34', 'improve-tech-45', 'improve-tech-15',
                           'improve-novel-12', 'improve-novel-23', 'improve-novel-34', 
                            'improve-novel-45', 'improve-novel-15', 'improve-vis-12', 'improve-vis-23', 
                            'improve-vis-34', 'improve-vis-45', 'improve-vis-15', 'improve-ur-12', 
                            'improve-ur-23', 'improve-ur-34', 'improve-ur-45', 'improve-ur-15', 
                            'improve-total-12', 'improve-total-23', 'improve-total-34', 'improve-total-45', 
                            'improve-total-15']]

In [ ]:
bogota_0 = overall_loc_scores_final[overall_loc_scores_final['Group'].isin([0])]
improve_scores_bogota0 = bogota_0[[ 'improve-effort-12', 
                            'improve-effort-23', 'improve-effort-34', 'improve-effort-45', 'improve-effort-25','improve-effort-15','add-loc-12', 'delete-loc-12', 'change-files-12', 
                            'add-loc-23', 'delete-loc-23', 'change-files-23', 
                            'add-loc-34', 'delete-loc-34', 'change-files-34', 
                            'add-loc-45', 'delete-loc-45', 'change-files-45', 
                            'add-loc-15', 'delete-loc-15', 'change-files-15',
                            'add-loc-25', 'delete-loc-25', 'change-files-25',
                            'improve-tech-12', 'improve-tech-23', 'improve-tech-34', 'improve-tech-45', 'improve-tech-15',
                           'improve-novel-12', 'improve-novel-23', 'improve-novel-34', 
                            'improve-novel-45', 'improve-novel-15', 'improve-vis-12', 'improve-vis-23', 
                            'improve-vis-34', 'improve-vis-45', 'improve-vis-15', 'improve-ur-12', 
                            'improve-ur-23', 'improve-ur-34', 'improve-ur-45', 'improve-ur-15', 
                            'improve-total-12', 'improve-total-23', 'improve-total-34', 'improve-total-45', 
                            'improve-total-15']]

In [ ]:
bogota_1 = overall_loc_scores_final[overall_loc_scores_final['Group'].isin([1])]
improve_scores_bogota1 = bogota_1[['improve-effort-12', 
                            'improve-effort-23', 'improve-effort-34', 'improve-effort-45', 'improve-effort-25','improve-effort-15','add-loc-12', 'delete-loc-12', 'change-files-12', 
                            'add-loc-23', 'delete-loc-23', 'change-files-23', 
                            'add-loc-34', 'delete-loc-34', 'change-files-34', 
                            'add-loc-45', 'delete-loc-45', 'change-files-45', 
                            'add-loc-15', 'delete-loc-15', 'change-files-15',
                            'add-loc-25', 'delete-loc-25', 'change-files-25',
                            'improve-tech-12', 'improve-tech-23', 'improve-tech-34', 'improve-tech-45', 'improve-tech-15',
                           'improve-novel-12', 'improve-novel-23', 'improve-novel-34', 
                            'improve-novel-45', 'improve-novel-15', 'improve-vis-12', 'improve-vis-23', 
                            'improve-vis-34', 'improve-vis-45', 'improve-vis-15', 'improve-ur-12', 
                            'improve-ur-23', 'improve-ur-34', 'improve-ur-45', 'improve-ur-15', 
                            'improve-total-12', 'improve-total-23', 'improve-total-34', 'improve-total-45', 
                            'improve-total-15']]

In [ ]:
bogota_2 = overall_loc_scores_final[overall_loc_scores_final['Group'].isin([2])]
improve_scores_bogota2 = bogota_2[['improve-effort-12', 
                            'improve-effort-23', 'improve-effort-34', 'improve-effort-45', 'improve-effort-25','improve-effort-15','add-loc-12', 'delete-loc-12', 'change-files-12', 
                            'add-loc-23', 'delete-loc-23', 'change-files-23', 
                            'add-loc-34', 'delete-loc-34', 'change-files-34', 
                            'add-loc-45', 'delete-loc-45', 'change-files-45', 
                            'add-loc-15', 'delete-loc-15', 'change-files-15',
                            'add-loc-25', 'delete-loc-25', 'change-files-25',
                            'improve-tech-12', 'improve-tech-23', 'improve-tech-34', 'improve-tech-45', 'improve-tech-15',
                           'improve-novel-12', 'improve-novel-23', 'improve-novel-34', 
                            'improve-novel-45', 'improve-novel-15', 'improve-vis-12', 'improve-vis-23', 
                            'improve-vis-34', 'improve-vis-45', 'improve-vis-15', 'improve-ur-12', 
                            'improve-ur-23', 'improve-ur-34', 'improve-ur-45', 'improve-ur-15', 
                            'improve-total-12', 'improve-total-23', 'improve-total-34', 'improve-total-45', 
                            'improve-total-15']]

In [ ]:
bogota_3 = overall_loc_scores_final[overall_loc_scores_final['Group'].isin([3])]
improve_scores_bogota3 = bogota_3[['improve-effort-12', 
                            'improve-effort-23', 'improve-effort-34', 'improve-effort-45', 'improve-effort-25', 'improve-effort-15','add-loc-12', 'delete-loc-12', 'change-files-12', 
                            'add-loc-23', 'delete-loc-23', 'change-files-23', 
                            'add-loc-34', 'delete-loc-34', 'change-files-34', 
                            'add-loc-45', 'delete-loc-45', 'change-files-45', 
                            'add-loc-15', 'delete-loc-15', 'change-files-15', 
                            'add-loc-25', 'delete-loc-25', 'change-files-25',
                            'improve-tech-12', 'improve-tech-23', 'improve-tech-34', 'improve-tech-45', 'improve-tech-15',
                           'improve-novel-12', 'improve-novel-23', 'improve-novel-34', 
                            'improve-novel-45', 'improve-novel-15', 'improve-vis-12', 'improve-vis-23', 
                            'improve-vis-34', 'improve-vis-45', 'improve-vis-15', 'improve-ur-12', 
                            'improve-ur-23', 'improve-ur-34', 'improve-ur-45', 'improve-ur-15', 
                            'improve-total-12', 'improve-total-23', 'improve-total-34', 'improve-total-45', 
                            'improve-total-15']]

In [ ]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns


def corr_sig(df=None):
    p_matrix = np.zeros(shape=(df.shape[1],df.shape[1]))
    for col in df.columns:
        for col2 in df.drop(col,axis=1).columns:
            _ , p = stats.pearsonr(df[col],df[col2])
            p_matrix[df.columns.to_list().index(col),df.columns.to_list().index(col2)] = p
    return p_matrix


def plot_cor_matrix(corr, mask=None):
    f, ax = plt.subplots(figsize=(26, 24))
    sns.heatmap(corr, ax=ax,
                mask=mask,
                # cosmetics
                annot=True, vmin=-1, vmax=1, center=0,
                cmap='coolwarm', linewidths=2, linecolor='black', cbar_kws={'orientation': 'horizontal'})

In [ ]:
corr = improve_scores.corr(method='spearman')                            # get correlation
p_values = corr_sig(improve_scores)                     # get p-Value
mask = np.invert(np.tril(p_values<0.05))    # mask - only get significant corr
plot_cor_matrix(corr,mask)

## Interpretation Overall Sample

â€¢ The goal is to see whether the different subscores are correlated with each other in the overall sample. 

>> **The goal is to see whether the different types of loc are correlated with each other in the overall sample.**

>> * add-loc-15 with delete-loc-15 - ( 0.89 ) - high correlation

>> * add-loc-15 with change-files-15 ( 0.5 ) - high correlation

>> **We see high correlations of add-loc-15 with delete-loc-15 and change-files-15.**

>> * improve-effort-15 with add-loc-15 - not even significant 

>> * improve-effort-15 with change-files-15 - not even significant 

>> * improve-effort-15 with delete-loc-15 - (-0.47) - moderate negative correlation

>> **We see correlations that are not significant and negative correlations with improve-effort-15**

In [ ]:
corr = improve_scores_bogota0.corr(method='spearman')                            # get correlation
p_values = corr_sig(improve_scores)                     # get p-Value
mask = np.invert(np.tril(p_values<0.05))    # mask - only get significant corr
plot_cor_matrix(corr,mask)

## Interpretation Bogota 0 ( No Transparency )

>> **The goal is to see whether the different types of loc are correlated with each other in the overall sample.**

>> * add-loc-15 with delete-loc-15 - ( 0.96 ) - high correlation

>> * add-loc-15 with change-files-15 ( 0.9 ) - high correlation

>> **We see high correlations with add-loc-15 for both delete-loc-15 and change-files-15.**

>> * improve-effort-15 with add-loc-15 - not even significant 

>> * improve-effort-15 with delete-loc-15 - ( -0.43 )( negative moderate correlation )

>> * improve-effort-15 with change-files-15 = not even significant 

>> **We see correlations that are not significant and negative correlations with improve-effort-15**

In [ ]:
corr = improve_scores_bogota1.corr(method='spearman')                            # get correlation
p_values = corr_sig(improve_scores)                     # get p-Value
mask = np.invert(np.tril(p_values<0.05))    # mask - only get significant corr
plot_cor_matrix(corr,mask)

## Interpretation Bogota 1 ( Performance Transparency )

>> **The goal is to see whether the different types of loc are correlated with each other in the overall sample.**

>> * add-loc-15 with delete-loc-15 - ( 0.85 ) - high correlation

>> * add-loc-15 with change-files-15 ( 0.53 ) - high correlation

>> **We see high correlations with add-loc-15 for both delete-loc-15 and change-files-15.** 

>> * improve-effort-15 with add-loc-15 - not even significant

>> * improve-effort-15 with delete-loc-15 - ( -0.58 ) - high negative correlation 

>> * improve-effort-15 with change-files-15 - not even significant 

>> **We see correlations that are not significant and negative correlations with improve-effort-15.**

In [ ]:
corr = improve_scores_bogota2.corr(method='spearman')                            # get correlation
p_values = corr_sig(improve_scores)                     # get p-Value
mask = np.invert(np.tril(p_values<0.05))    # mask - only get significant corr
plot_cor_matrix(corr,mask)

## Interpretation Bogota 2 ( Solution Transparency )

>> **The goal is to see whether the different types of loc are correlated with each other in the overall sample.**

>> * add-loc-15 with delete-loc-15 - ( 0.94 ) - high correlation

>> * add-loc-15 with change-files-15 ( 0.64 ) - high correlation

>> **We see high correlations with add-loc-15 for both delete-loc-15 and change-files-15.**

>> * improve-effort-15 with add-loc-15 - not even significant

>> * improve-effort-15 with delete-loc-15 - (-0.32) - ( moderate negative correlation )

>> * improve-effort-15 with change-files-15 - not even significant

>> **We see correlations that are not significant and moderate negative correlation.**

In [ ]:
corr = improve_scores_bogota3.corr(method='spearman')                            # get correlation
p_values = corr_sig(improve_scores)                     # get p-Value
mask = np.invert(np.tril(p_values<0.05))    # mask - only get significant corr
plot_cor_matrix(corr,mask)

## Interpretation Bogota 3 ( Full Transparency )

>> **The goal is to see whether the different types of loc are correlated with each other in the overall sample.**

>> * add-loc-15 with delete-loc-15 - ( 0.74 ) - high correlation

>> * add-loc-15 with change-files-15 ( 0.43 ) - moderate correlation

>> **We see high correlation and moderate correlation with add-loc-15.**

>> * improve-effort-15 with add-loc-15 - not even significant

>> * improve-effort-15 with delete-loc-15 - (-0.32) - ( moderate negative correlation )

>> * improve-effort-15 with change-files-15 - not even significant

>> **We see correlations that are not significant and moderate negative correlation.**

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
ax = sns.boxplot(x='Group', y='improve-tech-15', data=overall_loc_scores_final, color='#99c2a2')
ax = sns.swarmplot(x="Group", y="improve-tech-15", data=overall_loc_scores_final, color='#7d0013')
plt.show()

>> Note: We want to have the linechart for each subgroups,   
   x-axis is the phases, 
   y-axis is the raw tech score, 
   legend we will have the groups   
   Interpretation: The 2 transparency conditions
   (2) and (3) seems to be improving more on tech. The median is higher.

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['tech-phase1'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['tech-phase2'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['tech-phase3'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['tech-phase4'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['tech-phase5'].mean()

In [ ]:
import matplotlib.pyplot as plt

# Mean Scores of All Groups [ Tech Scores ]

y1 = [28.85, 46.15, 43.59, 47.76, 54.81]
y2 = [39.02, 57.93, 57.01, 61.28, 64.02]
y3 = [33.33, 56.85, 55.29, 56.25, 69.94]
y4 = [36.59, 60.37, 60.06, 64.63, 73.78]   

x_axis=['Phase 1', 'Phase 2', 'Phase 3', 'Phase 4', 'Phase 5']

line1 = plt.plot(x_axis, y1,'ko-',label='Bogota 0 ( No Transparency )')
line2 = plt.plot(x_axis, y2,'ro-',label='Bogota 1 ( Performance Transparency )') 
line3 = plt.plot(x_axis, y3,'mo-',label='Bogota 2 ( Solution Transparency )')
line3 = plt.plot(x_axis, y4,'bo-',label='Bogota 3 ( Full Transparency )')

plt.title("Mean Scores of Tech Scores for All Treatment Groups")
plt.ylabel("Mean Scores")

plt.legend(bbox_to_anchor=(1, 1),
           bbox_transform=plt.gcf().transFigure)

In [ ]:
overall_loc_scores_tech = overall_loc_scores_final[["tech-phase1", "tech-phase2", "tech-phase3", "tech-phase4", "tech-phase5"]]

# lines = overall_loc_scores_tech.plot.line()

overall_loc_scores_tech

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
ax = sns.boxplot(x='Group', y='improve-vis-15', data=overall_loc_scores_final, color='#99c2a2')
ax = sns.swarmplot(x="Group", y="improve-vis-15", data=overall_loc_scores_final, color='#7d0013')
plt.show()

>> Note: We want to have the linechart for each subgroups,   
   x-axis is the phases, 
   y-axis is the raw tech score, 
   legend we will have the groups   
   Interpretation: The baseline condition (1) seems to be highest in terms of improving on vis. Could be a skills.      effect. Check correlation with effort, LOC.

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['infovis-phase1'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['infovis-phase2'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['infovis-phase3'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['infovis-phase4'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['infovis-phase5'].mean()

In [ ]:
import matplotlib.pyplot as plt

# Mean Scores of All Groups [Vis Scores ]

y1 = [14.64, 26.07, 31.09, 32.59, 36.11]
y2 = [32.01, 33.94, 37.60, 42.38, 44.51]
y3 = [26.39, 29.76, 35.42, 36.61, 42.16]
y4 = [29.27, 33.13, 36.58, 35.67, 47.05]   

x_axis=['Phase 1', 'Phase 2', 'Phase 3', 'Phase 4', 'Phase 5']

line1 = plt.plot(x_axis, y1,'ko-',label='Bogota 0 ( No Transparency )')
line2 = plt.plot(x_axis, y2,'ro-',label='Bogota 1 ( Performance Transparency )') 
line3 = plt.plot(x_axis, y3,'mo-',label='Bogota 2 ( Solution Transparency )')
line3 = plt.plot(x_axis, y4,'bo-',label='Bogota 3 ( Full Transparency )')

plt.title("Mean Scores of Vis Scores for All Treatment Groups")
plt.ylabel("Mean Scores")

plt.legend(bbox_to_anchor=(1, 1),
           bbox_transform=plt.gcf().transFigure)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
ax = sns.boxplot(x='Group', y='improve-ur-15', data=overall_loc_scores_final, color='#99c2a2')
ax = sns.swarmplot(x="Group", y="improve-ur-15", data=overall_loc_scores_final, color='#7d0013')
plt.show()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['user-requirement-phase1'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['user-requirement-phase2'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['user-requirement-phase3'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['user-requirement-phase4'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['user-requirement-phase5'].mean()

In [ ]:
import matplotlib.pyplot as plt

# Mean Scores of All Groups [ UR Scores ]

y1 = [8.72, 13.33, 24.62, 23.08, 32.82]
y2 = [20.49, 24.39, 32.2, 36.1, 38.54]
y3 = [14.29, 21.43, 29.52, 33.33, 37.62]
y4 = [17.07, 27.8, 29.27, 33.17, 46.34]   

x_axis=['Phase 1', 'Phase 2', 'Phase 3', 'Phase 4', 'Phase 5']

line1 = plt.plot(x_axis, y1,'ko-',label='Bogota 0 ( No Transparency )')
line2 = plt.plot(x_axis, y2,'ro-',label='Bogota 1 ( Performance Transparency )') 
line3 = plt.plot(x_axis, y3,'mo-',label='Bogota 2 ( Solution Transparency )')
line3 = plt.plot(x_axis, y4,'bo-',label='Bogota 3 ( Full Transparency )')

plt.title("Mean Scores of UR Scores for All Treatment Groups")
plt.ylabel("Mean Scores")

plt.legend(bbox_to_anchor=(1, 1),
           bbox_transform=plt.gcf().transFigure)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
ax = sns.boxplot(x='Group', y='improve-novel-15', data=overall_loc_scores_final, color='#99c2a2')
ax = sns.swarmplot(x="Group", y="improve-novel-15", data=overall_loc_scores_final, color='#7d0013')
plt.show()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['novelty-phase1'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['novelty-phase2'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['novelty-phase3'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['novelty-phase4'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['novelty-phase5'].mean()

In [ ]:
import matplotlib.pyplot as plt

# Mean Scores of All Groups [ Novelty Scores ]

y1 = [8.97, 22.12, 27.08, 29.49, 39.12]
y2 = [26.81, 34.3, 40.7, 38.56, 46.97]
y3 = [24.7, 32.14, 30.26, 29.04, 42.8]
y4 = [19.87, 23.02, 25.3, 30.6, 50.7]   

x_axis=['Phase 1', 'Phase 2', 'Phase 3', 'Phase 4', 'Phase 5']

line1 = plt.plot(x_axis, y1,'ko-',label='Bogota 0 ( No Transparency )')
line2 = plt.plot(x_axis, y2,'ro-',label='Bogota 1 ( Performance Transparency )') 
line3 = plt.plot(x_axis, y3,'mo-',label='Bogota 2 ( Solution Transparency )')
line3 = plt.plot(x_axis, y4,'bo-',label='Bogota 3 ( Full Transparency )')

plt.title("Mean Scores of Novelty Scores for All Treatment Groups")
plt.ylabel("Mean Scores")

plt.legend(bbox_to_anchor=(1, 1),
           bbox_transform=plt.gcf().transFigure)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
ax = sns.boxplot(x='Group', y='add-loc-15', data=overall_loc_scores_final, color='#99c2a2')
ax = sns.swarmplot(x="Group", y="add-loc-15", data=overall_loc_scores_final, color='#7d0013')
plt.show()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['add-loc-15'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['add-loc-12'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['add-loc-23'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['add-loc-34'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['add-loc-45'].mean()

In [ ]:
import matplotlib.pyplot as plt

# Mean Scores of All Groups [ Novelty Scores ]

y1 = [15.41, 19.1, 19.1, 19.3]
y2 = [12.02, 19.56, 24.22, 12.02]
y3 = [12.02, 12.12, 19.98, 9.52]
y4 = [25.61, 19.71, 29.73, 37.22]   

x_axis=['Phase 1-2', 'Phase 2-3', 'Phase 3-4', 'Phase 4-5']

line1 = plt.plot(x_axis, y1,'ko-',label='Bogota 0 ( No Transparency )')
line2 = plt.plot(x_axis, y2,'ro-',label='Bogota 1 ( Performance Transparency )') 
line3 = plt.plot(x_axis, y3,'mo-',label='Bogota 2 ( Solution Transparency )')
line3 = plt.plot(x_axis, y4,'bo-',label='Bogota 3 ( Full Transparency )')

plt.title("Mean of Line Added for All Treatment Groups")
plt.ylabel("Mean Scores")

plt.legend(bbox_to_anchor=(1, 1),
           bbox_transform=plt.gcf().transFigure)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
ax = sns.boxplot(x='Group', y='delete-loc-15', data=overall_loc_scores_final, color='#99c2a2')
ax = sns.stripplot(x="Group", y="delete-loc-15", data=overall_loc_scores_final, color='#7d0013')
plt.show()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['delete-loc-15'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['delete-loc-12'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['delete-loc-23'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['delete-loc-34'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['delete-loc-45'].mean()

In [ ]:
import matplotlib.pyplot as plt

# Mean Scores of All Groups [ Novelty Scores ]

y1 = [28.28, 14.59, 56.10, 29.38]
y2 = [22.88, 38.29, 56.90, 22.88]
y3 = [32.86, 32.17, 28.93, 22.83]
y4 = [51.98, 31.34, 81.68, 34.46]   

x_axis=['Phase 1-2', 'Phase 2-3', 'Phase 3-4', 'Phase 4-5']

line1 = plt.plot(x_axis, y1,'ko-',label='Bogota 0 ( No Transparency )')
line2 = plt.plot(x_axis, y2,'ro-',label='Bogota 1 ( Performance Transparency )') 
line3 = plt.plot(x_axis, y3,'mo-',label='Bogota 2 ( Solution Transparency )')
line3 = plt.plot(x_axis, y4,'bo-',label='Bogota 3 ( Full Transparency )')

plt.title("Mean of Lines Deleted for All Treatment Groups")
plt.ylabel("Mean Scores")

plt.legend(bbox_to_anchor=(1, 1),
           bbox_transform=plt.gcf().transFigure)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
ax = sns.boxplot(x='Group', y='improve-effort-15', data=overall_loc_scores_final, color='#99c2a2')
ax = sns.stripplot(x="Group", y='improve-effort-15', data=overall_loc_scores_final, color='#7d0013')
plt.show()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['improve-effort-15'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['improve-effort-12'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['improve-effort-23'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['improve-effort-34'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['improve-effort-45'].mean()

In [ ]:
import matplotlib.pyplot as plt

# Mean Scores of All Groups [ Novelty Scores ]

y1 = [1.27, 11.81, -8.95, 4.64]
y2 = [0.59, 0.41, -4.23, 0.59]
y3 = [-4.40, -3.96, 5.51, -1.89]
y4 = [-0.38, 4.04, -11.11, 19.99]   

x_axis=['Phase 1-2', 'Phase 2-3', 'Phase 3-4', 'Phase 4-5']

line1 = plt.plot(x_axis, y1,'ko-',label='Bogota 0 ( No Transparency )')
line2 = plt.plot(x_axis, y2,'ro-',label='Bogota 1 ( Performance Transparency )') 
line3 = plt.plot(x_axis, y3,'mo-',label='Bogota 2 ( Solution Transparency )')
line3 = plt.plot(x_axis, y4,'bo-',label='Bogota 3 ( Full Transparency )')

plt.title("Mean of Effort for All Treatment Groups")
plt.ylabel("Mean Scores")

plt.legend(bbox_to_anchor=(1, 1),
           bbox_transform=plt.gcf().transFigure)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
ax = sns.boxplot(x='Group', y='change-files-15', data=overall_loc_scores_final, color='#99c2a2')
ax = sns.stripplot(x="Group", y='change-files-15', data=overall_loc_scores_final, color='#7d0013')
plt.show()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['change-files-15'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['change-files-12'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['change-files-23'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['change-files-34'].mean()

In [ ]:
overall_loc_scores_final.groupby('Group', as_index=False)['change-files-45'].mean()

In [ ]:
import matplotlib.pyplot as plt

# Mean Scores of All Groups [ Novelty Scores ]

y1 = [1.27, 11.81, -8.95, 4.64]
y2 = [0.59, 0.41, -4.23, 0.59]
y3 = [-4.40, -3.96, 5.51, -1.89]
y4 = [-0.38, 4.04, -11.11, 19.99]   

x_axis=['Phase 1-2', 'Phase 2-3', 'Phase 3-4', 'Phase 4-5']

line1 = plt.plot(x_axis, y1,'ko-',label='Bogota 0 ( No Transparency )')
line2 = plt.plot(x_axis, y2,'ro-',label='Bogota 1 ( Performance Transparency )') 
line3 = plt.plot(x_axis, y3,'mo-',label='Bogota 2 ( Solution Transparency )')
line3 = plt.plot(x_axis, y4,'bo-',label='Bogota 3 ( Full Transparency )')

plt.title("Mean of Change Files for All Treatment Groups")
plt.ylabel("Mean Change Files")

plt.legend(bbox_to_anchor=(1, 1),
           bbox_transform=plt.gcf().transFigure)

## Calculate one-way anove for each variable (each column) based on the "Group" column.

In [ ]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

dropped_student = overall_loc_scores_final.drop('Student', axis=1)
df_long = dropped_student.melt(id_vars="Group")

df_long

In [ ]:
def aov_func(x):
    model = ols('value ~ Group', data=x).fit()
    return sm.stats.anova_lm(model)
        
output_df = df_long.groupby("variable").apply(aov_func)
output_df

In [ ]:
output_df.loc[(output_df['PR(>F)'] <= 0.05)]

In [ ]:
output_df.to_csv('output.csv')

### Cronbachâ€™s Alpha ( Internal Consistency )

0.9 â‰¤ Î±	Excellent

0.8 â‰¤ Î± < 0.9	Good

0.7 â‰¤ Î± < 0.8	Acceptable

0.6 â‰¤ Î± < 0.7	Questionable

0.5 â‰¤ Î± < 0.6	Poor

Î± < 0.5	Unacceptable

In [ ]:
# 95% confidence interval for Cronbach's alpha

import pingouin as pg

dropped_student_group = overall_loc_scores_final.drop(['Student', 'Group'], axis=1)

pg.cronbach_alpha(data=dropped_student_group)

## Adequacy Test

Before you perform factor analysis, you need to evaluate the â€œfactorabilityâ€ of our dataset. Factorability means "can we found the factors in the dataset?". There are two methods to check the factorability or sampling adequacy:


* Bartlettâ€™s Test
* Kaiser-Meyer-Olkin Test

Bartlettâ€™s test of sphericity checks whether or not the observed variables intercorrelate at all using the observed correlation matrix against the identity matrix. If the test found statistically insignificant, you should not employ a factor analysis.

In [ ]:
# In this Bartlett â€™s test, the p-value is 0. The test was statistically significant, 
# indicating that the observed correlation matrix is not an identity matrix.

from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
chi_square_value,p_value=calculate_bartlett_sphericity(dropped_student_group)
p_value

In [ ]:
# Kaiser-Meyer-Olkin (KMO) Test measures the suitability of data for factor analysis. 
# It determines the adequacy for each observed variable and for the complete model. 
# KMO estimates the proportion of variance among all the observed variable. 
# Lower proportion id more suitable for factor analysis. KMO values range between 0 and 1. 
# Value of KMO less than 0.6 is considered inadequate.

In [ ]:
from factor_analyzer.factor_analyzer import calculate_kmo
kmo_all,kmo_model=calculate_kmo(dropped_student_group)
kmo_model

## Factor Analysis

In [ ]:
df_phase15 = dropped_student_group[['improve-novel-15', 'improve-vis-15', 'improve-ur-15', 'improve-tech-15', 'improve-total-15',
                                   'add-loc-15', 'delete-loc-15', 'improve-effort-15', 'change-files-15']]
df_phase15

In [ ]:
# Here, we can see only for 18-factors eigenvalues are greater than one. 
# It means we need to choose only 18 factors (or unobserved variables).

from factor_analyzer import FactorAnalyzer

fa = FactorAnalyzer()
fa.fit(df_phase15)
eigen_values, vectors = fa.get_eigenvalues()
eigen_values

In [ ]:
from factor_analyzer import FactorAnalyzer 
import matplotlib.pyplot as plt

In [ ]:
# create a factor analyzer variable and perform factor analysis 

fa = FactorAnalyzer(n_factors=3, rotation="varimax")
fa.fit(dropped_student_group)

In [ ]:
# Get the loadings

loadings = fa.loadings_

In [ ]:
# Get the Eigenvector and Eigenvalues

ev, v = fa.get_eigenvalues()

In [ ]:
# Do a scree plot 

xvals = range(1, dropped_student_group.shape[1] + 1)

In [ ]:
plt.scatter(xvals, ev)
plt.plot(xvals, ev)
plt.title('Scree Plot')
plt.xlabel('Factor')
plt.ylabel('Eigenvalue')
plt.grid()
plt.show()

In [ ]:
df_pca = pd.DataFrame.from_records(loadings)
df_pca

In [ ]:
# Get variance of each factors

# 1. Sum of squared loadings (variance)
# 2. Proportional variance
# 3. Cumulative variance

## 
fa.get_factor_variance()

## Inference -  Total 40.2% Cumulative Variance explained by the 3 factors.

In [ ]:
import pandas as pd
import pingouin as pg


aov = pg.anova(dv='improve-novel-15', between=['Group', 'add-loc-15'], data=overall_loc_scores_final,
             detailed=True)

print(aov)

In [ ]:
import pandas as pd
import pingouin as pg


aov = pg.anova(dv='improve-tech-15', between=['Group', 'improve-effort-15'], data=overall_loc_scores_final,
             detailed=True)

print(aov)

In [ ]:
import pandas as pd
import pingouin as pg


aov = pg.anova(dv='improve-novel-15', between=['Group', 'improve-effort-15'], data=overall_loc_scores_final,
             detailed=True)

print(aov)

In [ ]:
import pandas as pd
import pingouin as pg


aov = pg.anova(dv='improve-vis-15', between=['Group', 'improve-effort-15'], data=overall_loc_scores_final,
             detailed=True)

print(aov)

In [ ]:
from pingouin import ancova, read_dataset
ancova(data=overall_loc_scores_final, dv='improve-novel-15', covar=['add-loc-15', 'improve-effort-15', 'delete-loc-15'], between='Group')

In [ ]:
import pandas as pd
import pingouin as pg


aov = pg.anova(dv='improve-ur-15', between=['Group', 'improve-effort-15'], data=overall_loc_scores_final,
             detailed=True)

print(aov)