# Phase 4 - 5 ( Code Added, Deleted, Number of Files Changed )

In [1]:
import pandas as pd

df_phase45 = pd.read_csv('phase-4-5-prelim.csv')
df_phase45 = df_phase45.drop(['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'], axis = 1)

In [2]:
df_phase45['change-revised'] = df_phase45.change.str.extract('(\d+)')
df_phase45.head(5)

,change,addition,delete,username,change-revised
0,0 files changed,NaN,NaN,adamantwharf,0
1,4 files changed,133 insertions(+),85 deletions(-),adriel62,4
2,2 files changed,6 insertions(+),11 deletions(-),afceballosr,2
3,0 files changed,NaN,NaN,AFelipeGA,0
4,0 files changed,NaN,NaN,afforeroc,0

In [3]:
df_phase45['add-revised'] = df_phase45.addition.str.extract('(\d+)')
df_phase45['add-revised'] = df_phase45['add-revised'].fillna(0)
df_phase45.head(5)

,change,addition,delete,username,change-revised,add-revised
0,0 files changed,NaN,NaN,adamantwharf,0,0
1,4 files changed,133 insertions(+),85 deletions(-),adriel62,4,133
2,2 files changed,6 insertions(+),11 deletions(-),afceballosr,2,6
3,0 files changed,NaN,NaN,AFelipeGA,0,0
4,0 files changed,NaN,NaN,afforeroc,0,0

In [4]:
df_phase45['delete-revised'] = df_phase45.delete.str.extract('(\d+)')
df_phase45['delete-revised'] = df_phase45['delete-revised'].fillna(0)
df_phase45.head(5)

,change,addition,delete,username,change-revised,add-revised,delete-revised
0,0 files changed,NaN,NaN,adamantwharf,0,0,0
1,4 files changed,133 insertions(+),85 deletions(-),adriel62,4,133,85
2,2 files changed,6 insertions(+),11 deletions(-),afceballosr,2,6,11
3,0 files changed,NaN,NaN,AFelipeGA,0,0,0
4,0 files changed,NaN,NaN,afforeroc,0,0,0

# Phase 4 -5 - Filter Bogota 3 ( Full Transparency Group )

In [5]:
df3 = pd.read_csv('bogota-3.csv')
df3.head(5)

           Project  Unnamed: 1  Unnamed: 2
0       NicolasPrr         NaN         NaN
1  jscastelblancoh         NaN         NaN
2        juligarji         NaN         NaN
3      lacardenasv         NaN         NaN
4       jmalvarezd         NaN         NaN

In [6]:
df_phase45['bogota-3'] = df_phase45['username'].isin(df3['Project'])
df_phase45.head(5)

,change,addition,delete,username,change-revised,add-revised,delete-revised,bogota-3
0,0 files changed,NaN,NaN,adamantwharf,0,0,0,False
1,4 files changed,133 insertions(+),85 deletions(-),adriel62,4,133,85,True
2,2 files changed,6 insertions(+),11 deletions(-),afceballosr,2,6,11,True
3,0 files changed,NaN,NaN,AFelipeGA,0,0,0,True
4,0 files changed,NaN,NaN,afforeroc,0,0,0,True

In [7]:
df_phase45["bogota-3"] = df_phase45["bogota-3"].astype(int)
df_phase45.head(5)

,change,addition,delete,username,change-revised,add-revised,delete-revised,bogota-3
0,0 files changed,NaN,NaN,adamantwharf,0,0,0,0
1,4 files changed,133 insertions(+),85 deletions(-),adriel62,4,133,85,1
2,2 files changed,6 insertions(+),11 deletions(-),afceballosr,2,6,11,1
3,0 files changed,NaN,NaN,AFelipeGA,0,0,0,1
4,0 files changed,NaN,NaN,afforeroc,0,0,0,1

In [8]:
df3_phase45 = df_phase45.loc[df_phase45['bogota-3'] == 1]
df3_phase45.head(5)

,change,addition,delete,username,change-revised,add-revised,delete-revised,bogota-3
1,4 files changed,133 insertions(+),85 deletions(-),adriel62,4,133,85,1
2,2 files changed,6 insertions(+),11 deletions(-),afceballosr,2,6,11,1
3,0 files changed,NaN,NaN,AFelipeGA,0,0,0,1
4,0 files changed,NaN,NaN,afforeroc,0,0,0,1
19,4 files changed,7 insertions(+),59 deletions(-),capinzor,4,7,59,1

In [9]:
print(len(df3_phase45.index))

41

In [10]:
df3_phase45['change-revised'] = pd.to_numeric(df3_phase45['change-revised'])
print(df3_phase45['change-revised'].mean())
print(df3_phase45['change-revised'].median())
print(df3_phase45['change-revised'].std())
print(df3_phase45['change-revised'].max())
print(df3_phase45['change-revised'].min())

1.4634146341463414
1.0
1.5668050449179978
6
0

<ipython-input-10-50770f9ba0e8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_phase45['change-revised'] = pd.to_numeric(df3_phase45['change-revised'])

In [11]:
df3_phase45['delete-revised'] = pd.to_numeric(df3_phase45['delete-revised'])
df3_phase45['delete-revised'].mean()
print(df3_phase45['delete-revised'].mean())
print(df3_phase45['delete-revised'].median())
print(df3_phase45['delete-revised'].std())
print(df3_phase45['delete-revised'].max())
print(df3_phase45['delete-revised'].min())

df3_delete = df3_phase45['delete-revised']
df3_delete.values

34.46341463414634
4.0
71.31868533595372
371
0

<ipython-input-11-658cc17f8b64>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_phase45['delete-revised'] = pd.to_numeric(df3_phase45['delete-revised'])

array([ 85,  11,   0,   0,  59,  15,   0,  90,   0, 124,  17,   0,   0,
         0,   0,   0,  24,  80,  50,   0,  44,   2,   0,  54,   4,  24,
        66,   0,   0, 243,   0,   4,   6,   0,   0,  36, 371,   0,   0,
         4,   0])

In [12]:
df3_phase45['add-revised'] = pd.to_numeric(df3_phase45['add-revised'])
df3_phase45['add-revised'].mean()

print(df3_phase45['add-revised'].mean())
print(df3_phase45['add-revised'].median())
print(df3_phase45['add-revised'].std())
print(df3_phase45['add-revised'].max())
print(df3_phase45['add-revised'].min())
df3_add = df3_phase45['add-revised']
df3_add.values

37.21951219512195
2.0
135.3193467681399
858
0

<ipython-input-12-b98e62fa59ad>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_phase45['add-revised'] = pd.to_numeric(df3_phase45['add-revised'])

array([133,   6,   0,   0,   7,  16,   0,  20,   0,  96,   4,   0,   0,
         0,   0,   0,  11,  17,  15, 125,  44,   2,   0,  38,   2,  65,
        29,   0,   0,   4,   0,   2,   2,   0,   3, 858,  26,   0,   0,
         1,   0])

In [13]:
df3_phase45['add-revised'] = df3_phase45['add-revised'].astype(float)
df3_phase45['delete-revised'] = df3_phase45['delete-revised'].astype(float)
df3_phase45['effort'] = df3_phase45['add-revised'] - 0.5 * df3_phase45['delete-revised']
print(df3_phase45['effort'].mean())
print(df3_phase45['effort'].median())
print(df3_phase45['effort'].std())
print(df3_phase45['effort'].max())
print(df3_phase45['effort'].min())

19.98780487804878
0.0
137.72560981008937
840.0
-159.5

<ipython-input-13-e3c66aaaafc6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_phase45['add-revised'] = df3_phase45['add-revised'].astype(float)
<ipython-input-13-e3c66aaaafc6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_phase45['delete-revised'] = df3_phase45['delete-revised'].astype(float)
<ipython-input-13-e3c66aaaafc6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_phase45['effort'] = df3_phase45['add-revised'] - 0.5 * df3_phase45['delete-revised']

In [14]:
import numpy as np
np.set_printoptions(suppress=True)
diff3 = df3_phase45['add-revised'] - 0.5 * df3_phase45['delete-revised']
diff3.values

array([  90.5,    0.5,    0. ,    0. ,  -22.5,    8.5,    0. ,  -25. ,
          0. ,   34. ,   -4.5,    0. ,    0. ,    0. ,    0. ,    0. ,
         -1. ,  -23. ,  -10. ,  125. ,   22. ,    1. ,    0. ,   11. ,
          0. ,   53. ,   -4. ,    0. ,    0. , -117.5,    0. ,    0. ,
         -1. ,    0. ,    3. ,  840. , -159.5,    0. ,    0. ,   -1. ,
          0. ])

# Phase 4 -5 - Bogota 2 ( Solution Transparency )

In [15]:
df2 = pd.read_csv('bogota-2.csv')
df2.head(5)

           Project  Unnamed: 1  Unnamed: 2
0        xdanielsb         NaN         NaN
1          Gantiva         NaN         NaN
2         leguzman         NaN         NaN
3  juasmartinezbel         NaN         NaN
4   cesarochoa2006         NaN         NaN

In [16]:
df_phase45['bogota-2'] = df_phase45['username'].isin(df2['Project'])
df_phase45.head(5)

,change,addition,delete,username,change-revised,add-revised,delete-revised,bogota-3,bogota-2
0,0 files changed,NaN,NaN,adamantwharf,0,0,0,0,False
1,4 files changed,133 insertions(+),85 deletions(-),adriel62,4,133,85,1,False
2,2 files changed,6 insertions(+),11 deletions(-),afceballosr,2,6,11,1,False
3,0 files changed,NaN,NaN,AFelipeGA,0,0,0,1,False
4,0 files changed,NaN,NaN,afforeroc,0,0,0,1,False

In [17]:
df_phase45["bogota-2"] = df_phase45["bogota-2"].astype(int)
df_phase45.head(5)

,change,addition,delete,username,change-revised,add-revised,delete-revised,bogota-3,bogota-2
0,0 files changed,NaN,NaN,adamantwharf,0,0,0,0,0
1,4 files changed,133 insertions(+),85 deletions(-),adriel62,4,133,85,1,0
2,2 files changed,6 insertions(+),11 deletions(-),afceballosr,2,6,11,1,0
3,0 files changed,NaN,NaN,AFelipeGA,0,0,0,1,0
4,0 files changed,NaN,NaN,afforeroc,0,0,0,1,0

In [18]:
df2_phase45 = df_phase45.loc[df_phase45['bogota-2'] == 1]
df2_phase45.head(5)

,change,addition,delete,username,change-revised,add-revised,delete-revised,bogota-3,bogota-2
11,0 files changed,NaN,NaN,bdvegat,0,0,0,0,1
12,0 files changed,NaN,NaN,begarzonf,0,0,0,0,1
21,2 files changed,19 insertions(+),57 deletions(-),ccvacad,2,19,57,0,1
23,0 files changed,NaN,NaN,cesarochoa2006,0,0,0,0,1
26,0 files changed,NaN,NaN,crarojasca,0,0,0,0,1

In [19]:
print(len(df2_phase45.index))

41

In [20]:
df2_phase45['change-revised'] = pd.to_numeric(df2_phase45['change-revised'])
print(df2_phase45['change-revised'].mean())
print(df2_phase45['change-revised'].median())
print(df2_phase45['change-revised'].std())
print(df2_phase45['change-revised'].max())
print(df2_phase45['change-revised'].min())

1.2439024390243902
0.0
2.233612408240047
10
0

<ipython-input-20-c0ab3965d061>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_phase45['change-revised'] = pd.to_numeric(df2_phase45['change-revised'])

In [21]:
df2_phase45['delete-revised'] = pd.to_numeric(df2_phase45['delete-revised'])
df2_phase45['delete-revised'].mean()
print(df2_phase45['delete-revised'].mean())
print(df2_phase45['delete-revised'].median())
print(df2_phase45['delete-revised'].std())
print(df2_phase45['delete-revised'].max())
print(df2_phase45['delete-revised'].min())

df2_delete = df2_phase45['delete-revised']
df2_delete.values

23.390243902439025
0.0
55.599855237572555
257
0

<ipython-input-21-1ce3efd6d9a9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_phase45['delete-revised'] = pd.to_numeric(df2_phase45['delete-revised'])

array([  0,   0,  57,   0,   0,   0,   0,   0,   0,   8,   0,  11,   0,
         0,   0,   0,   0,   0,   0,   3,   0,   0,   0,   1,   0,   0,
       112, 257,   4,   0,   0,   0,   0,  27,   0,   0, 103,   0, 143,
       167,  66])

In [22]:
df2_phase45['add-revised'] = pd.to_numeric(df2_phase45['add-revised'])
df2_phase45['add-revised'].mean()

print(df2_phase45['add-revised'].mean())
print(df2_phase45['add-revised'].median())
print(df2_phase45['add-revised'].std())
print(df2_phase45['add-revised'].max())
print(df2_phase45['add-revised'].min())
df2_add = df2_phase45['add-revised']
df2_add.values

9.75609756097561
0.0
22.81642006078614
110
0

<ipython-input-22-00fe9b2b2f8d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_phase45['add-revised'] = pd.to_numeric(df2_phase45['add-revised'])

array([  0,   0,  19,   0,   0,   0,   0,   0,   1,   6,   0,  18,   0,
         0,   0,   0,   0,   0,   0,  32,   0,   0,   0,   1,   0,   0,
        77,  62,   2,   0,   0,   0,   0,  14,   0,  19,  15,   0,   8,
       110,  16])

In [23]:
df2_phase45['add-revised'] = df2_phase45['add-revised'].astype(float)
df2_phase45['delete-revised'] = df2_phase45['delete-revised'].astype(float)
df2_phase45['effort'] = df2_phase45['add-revised'] - 0.5 * df2_phase45['delete-revised']
print(df2_phase45['effort'].mean())
print(df2_phase45['effort'].median())
print(df2_phase45['effort'].std())
print(df2_phase45['effort'].max())
print(df2_phase45['effort'].min())

-1.9390243902439024
0.0
17.753941506729998
30.5
-66.5

<ipython-input-23-a7b98b88d0d5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_phase45['add-revised'] = df2_phase45['add-revised'].astype(float)
<ipython-input-23-a7b98b88d0d5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_phase45['delete-revised'] = df2_phase45['delete-revised'].astype(float)
<ipython-input-23-a7b98b88d0d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_phase45['effort'] = df2_phase45['add-revised'] - 0.5 * df2_phase45['delete-revised']

In [24]:
import numpy as np
np.set_printoptions(suppress=True)
diff2 = df2_phase45['add-revised'] - 0.5 * df2_phase45['delete-revised']
diff2.values

array([  0. ,   0. ,  -9.5,   0. ,   0. ,   0. ,   0. ,   0. ,   1. ,
         2. ,   0. ,  12.5,   0. ,   0. ,   0. ,   0. ,   0. ,   0. ,
         0. ,  30.5,   0. ,   0. ,   0. ,   0.5,   0. ,   0. ,  21. ,
       -66.5,   0. ,   0. ,   0. ,   0. ,   0. ,   0.5,   0. ,  19. ,
       -36.5,   0. , -63.5,  26.5, -17. ])

# Phase 4 - 5 - Bogota 1 ( Performance Transparency )

In [25]:
df1 = pd.read_csv('bogota-1.csv')
df1.head(5)
print(len(df1.index))

43

In [26]:
df_phase45['bogota-1'] = df_phase45['username'].isin(df1['Project'])
df_phase45.head(5)

,change,addition,delete,username,change-revised,add-revised,delete-revised,bogota-3,bogota-2,bogota-1
0,0 files changed,NaN,NaN,adamantwharf,0,0,0,0,0,True
1,4 files changed,133 insertions(+),85 deletions(-),adriel62,4,133,85,1,0,False
2,2 files changed,6 insertions(+),11 deletions(-),afceballosr,2,6,11,1,0,False
3,0 files changed,NaN,NaN,AFelipeGA,0,0,0,1,0,False
4,0 files changed,NaN,NaN,afforeroc,0,0,0,1,0,False

In [27]:
df_phase45["bogota-1"] = df_phase45["bogota-1"].astype(int)
df_phase45.head(5)

,change,addition,delete,username,change-revised,add-revised,delete-revised,bogota-3,bogota-2,bogota-1
0,0 files changed,NaN,NaN,adamantwharf,0,0,0,0,0,1
1,4 files changed,133 insertions(+),85 deletions(-),adriel62,4,133,85,1,0,0
2,2 files changed,6 insertions(+),11 deletions(-),afceballosr,2,6,11,1,0,0
3,0 files changed,NaN,NaN,AFelipeGA,0,0,0,1,0,0
4,0 files changed,NaN,NaN,afforeroc,0,0,0,1,0,0

In [28]:
df1_phase45 = df_phase45.loc[df_phase45['bogota-1'] == 1]
df1_phase45.head(5)

,change,addition,delete,username,change-revised,add-revised,delete-revised,bogota-3,bogota-2,bogota-1
0,0 files changed,NaN,NaN,adamantwharf,0,0,0,0,0,1
5,3 files changed,14 insertions(+),83 deletions(-),aldiazve,3,14,83,0,0,1
6,0 files changed,NaN,NaN,andfsanchezlem,0,0,0,0,0,1
7,2 files changed,32 insertions(+),25 deletions(-),anfmorenoso,2,32,25,0,0,1
10,0 files changed,NaN,NaN,bdcajicam,0,0,0,0,0,1

In [29]:
print(len(df1_phase45.index))

40

In [30]:
df1_phase45['change-revised'] = pd.to_numeric(df1_phase45['change-revised'])
print(df1_phase45['change-revised'].mean())
print(df1_phase45['change-revised'].median())
print(df1_phase45['change-revised'].std())
print(df1_phase45['change-revised'].max())
print(df1_phase45['change-revised'].min())

1.575
1.0
2.469168862551703
12
0

<ipython-input-30-f1cf5acab4e8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_phase45['change-revised'] = pd.to_numeric(df1_phase45['change-revised'])

In [31]:
df1_phase45['delete-revised'] = pd.to_numeric(df1_phase45['delete-revised'])
df1_phase45['delete-revised'].mean()
print(df1_phase45['delete-revised'].mean())
print(df1_phase45['delete-revised'].median())
print(df1_phase45['delete-revised'].std())
print(df1_phase45['delete-revised'].max())
print(df1_phase45['delete-revised'].min())

df1_delete = df1_phase45['delete-revised']
df1_delete.values

23.45
0.0
58.334996313292024
346
0

<ipython-input-31-4cb403aa95e8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_phase45['delete-revised'] = pd.to_numeric(df1_phase45['delete-revised'])

array([  0,  83,   0,  25,   0,   5,   0,   0,   0,   0,   0,   0,  20,
       346,  19,   3,  15,   8,   0,   5,   0,   3, 111,   0,  35,  35,
         0,   0,  64,   0,  32,   0,   0,  42,   0,  65,   0,  22,   0,
         0])

In [32]:
df1_phase45['add-revised'] = pd.to_numeric(df1_phase45['add-revised'])
df1_phase45['add-revised'].mean()

print(df1_phase45['add-revised'].mean())
print(df1_phase45['add-revised'].median())
print(df1_phase45['add-revised'].std())
print(df1_phase45['add-revised'].max())
print(df1_phase45['add-revised'].min())

df1_add = df1_phase45['add-revised']
df1_add.values

12.325
0.5
29.159497287355318
167
0

<ipython-input-32-ae7d036d7b6b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_phase45['add-revised'] = pd.to_numeric(df1_phase45['add-revised'])

array([  0,  14,   0,  32,   0,   5,   0,   0,   0,   0,   0,   0,  53,
        49,  32,   3,   9,   3,   0,   3,   0,   1,   9,   0,   9,   3,
         0,   0,  40,   0,   6,   0,   0,  10,   2,  43,   0, 167,   0,
         0])

In [33]:
import numpy as np
np.set_printoptions(suppress=True)
diff1 = df1_phase45['add-revised'] - 0.5 * df1_phase45['delete-revised']
diff1.values

array([   0. ,  -27.5,    0. ,   19.5,    0. ,    2.5,    0. ,    0. ,
          0. ,    0. ,    0. ,    0. ,   43. , -124. ,   22.5,    1.5,
          1.5,   -1. ,    0. ,    0.5,    0. ,   -0.5,  -46.5,    0. ,
         -8.5,  -14.5,    0. ,    0. ,    8. ,    0. ,  -10. ,    0. ,
          0. ,  -11. ,    2. ,   10.5,    0. ,  156. ,    0. ,    0. ])

# Phase 4 - 5 - Bogota 0 ( No Transparency )

In [34]:
df0 = pd.read_csv('bogota-0.csv')
df0.head(5)

        Project  Unnamed: 1  Unnamed: 2
0  lfvalderrama         NaN         NaN
1   Judgarciani         NaN         NaN
2     bsgarciac         NaN         NaN
3      Moimolcp         NaN         NaN
4     mnguzmanc         NaN         NaN

In [35]:
df_phase45['bogota-0'] = df_phase45['username'].isin(df0['Project'])
df_phase45.head(5)

,change,addition,delete,username,change-revised,add-revised,delete-revised,bogota-3,bogota-2,bogota-1,bogota-0
0,0 files changed,NaN,NaN,adamantwharf,0,0,0,0,0,1,False
1,4 files changed,133 insertions(+),85 deletions(-),adriel62,4,133,85,1,0,0,False
2,2 files changed,6 insertions(+),11 deletions(-),afceballosr,2,6,11,1,0,0,False
3,0 files changed,NaN,NaN,AFelipeGA,0,0,0,1,0,0,False
4,0 files changed,NaN,NaN,afforeroc,0,0,0,1,0,0,False

In [36]:
df_phase45["bogota-0"] = df_phase45["bogota-0"].astype(int)
df_phase45.head(5)

,change,addition,delete,username,change-revised,add-revised,delete-revised,bogota-3,bogota-2,bogota-1,bogota-0
0,0 files changed,NaN,NaN,adamantwharf,0,0,0,0,0,1,0
1,4 files changed,133 insertions(+),85 deletions(-),adriel62,4,133,85,1,0,0,0
2,2 files changed,6 insertions(+),11 deletions(-),afceballosr,2,6,11,1,0,0,0
3,0 files changed,NaN,NaN,AFelipeGA,0,0,0,1,0,0,0
4,0 files changed,NaN,NaN,afforeroc,0,0,0,1,0,0,0

In [37]:
df0_phase45 = df_phase45.loc[df_phase45['bogota-0'] == 1]
df0_phase45.head(5)

,change,addition,delete,username,change-revised,add-revised,delete-revised,bogota-3,bogota-2,bogota-1,bogota-0
9,0 files changed,NaN,NaN,annipi,0,0,0,0,0,0,1
13,6 files changed,69 insertions(+),105 deletions(-),bsgarciac,6,69,105,0,0,0,1
14,2 files changed,2 insertions(+),2 deletions(-),camilo654,2,2,2,0,0,0,1
15,1 file changed,5 insertions(+),1 deletion(-),camilo13152,1,5,1,0,0,0,1
16,0 files changed,NaN,NaN,CamiloRueda,0,0,0,0,0,0,1

In [38]:
print(len(df0_phase45.index))

38

In [39]:
df0_phase45['change-revised'] = pd.to_numeric(df0_phase45['change-revised'])
print(df0_phase45['change-revised'].mean())
print(df0_phase45['change-revised'].median())
print(df0_phase45['change-revised'].std())
print(df0_phase45['change-revised'].max())
print(df0_phase45['change-revised'].min())

1.1578947368421053
1.0
1.5687198394124247
6
0

<ipython-input-39-44c96850d46a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0_phase45['change-revised'] = pd.to_numeric(df0_phase45['change-revised'])

In [40]:
df0_phase45['delete-revised'] = pd.to_numeric(df0_phase45['delete-revised'])
df0_phase45['delete-revised'].mean()
print(df0_phase45['delete-revised'].mean())
print(df0_phase45['delete-revised'].median())
print(df0_phase45['delete-revised'].std())
print(df0_phase45['delete-revised'].max())
print(df0_phase45['delete-revised'].min())

df0_delete = df0_phase45['delete-revised']
df0_delete.values

30.157894736842106
0.0
71.29327564507636
371
0

<ipython-input-40-ec6e2e9cc888>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0_phase45['delete-revised'] = pd.to_numeric(df0_phase45['delete-revised'])

array([  0, 105,   2,   1,   0,   0, 131,   0,   0,  56, 168,   0,   0,
        13,   0,   0,   0,   0,   7,  26,   3,   0,   0,  45, 371,   4,
         5,   0, 136,   0,  62,   0,   0,   0,   0,  11,   0,   0])

In [41]:
df0_phase45['add-revised'] = pd.to_numeric(df0_phase45['add-revised'])
df0_phase45['add-revised'].mean()

print(df0_phase45['add-revised'].mean())
print(df0_phase45['add-revised'].median())
print(df0_phase45['add-revised'].std())
print(df0_phase45['add-revised'].max())
print(df0_phase45['add-revised'].min())

df0_add = df0_phase45['add-revised']
df0_add.values

19.842105263157894
0.0
47.67430398351868
259
0

<ipython-input-41-bd970a7ebe3d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0_phase45['add-revised'] = pd.to_numeric(df0_phase45['add-revised'])

array([  0,  69,   2,   5,   0,   0, 102,   0,   0,  31,  78,   0,   0,
        10,   0,   0,   0,   0,   4,   9,  26,   0,   0,  31, 259,   1,
         2,   0,  81,   0,  36,   0,   0,   2,   0,   6,   0,   0])

In [42]:
df0_phase45['add-revised'] = df0_phase45['add-revised'].astype(float)
df0_phase45['delete-revised'] = df0_phase45['delete-revised'].astype(float)
df0_phase45['effort'] = df0_phase45['add-revised'] - 0.5 * df0_phase45['delete-revised']
print(df0_phase45['effort'].mean())
print(df0_phase45['effort'].median())
print(df0_phase45['effort'].std())
print(df0_phase45['effort'].max())
print(df0_phase45['effort'].min())

4.7631578947368425
0.0
13.863590679002892
73.5
-6.0

<ipython-input-42-2454a5042d29>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0_phase45['add-revised'] = df0_phase45['add-revised'].astype(float)
<ipython-input-42-2454a5042d29>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0_phase45['delete-revised'] = df0_phase45['delete-revised'].astype(float)
<ipython-input-42-2454a5042d29>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0_phase45['effort'] = df0_phase45['add-revised'] - 0.5 * df0_phase45['delete-revised']

In [43]:
import numpy as np
np.set_printoptions(suppress=True)
diff0 = df0_phase45['add-revised'] - 0.5 * df0_phase45['delete-revised']
diff0.values

array([ 0. , 16.5,  1. ,  4.5,  0. ,  0. , 36.5,  0. ,  0. ,  3. , -6. ,
        0. ,  0. ,  3.5,  0. ,  0. ,  0. ,  0. ,  0.5, -4. , 24.5,  0. ,
        0. ,  8.5, 73.5, -1. , -0.5,  0. , 13. ,  0. ,  5. ,  0. ,  0. ,
        2. ,  0. ,  0.5,  0. ,  0. ])

# ANOVA on effort

In [44]:
import scipy.stats as stats
# stats f_oneway functions takes the groups as input and returns ANOVA F and p value
fvalue, pvalue = stats.f_oneway(diff0, diff1, diff2, diff3)
print(fvalue, pvalue)

0.7460565784126434 0.5261883241093215

In [45]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'score': [0. , 16.5,  1. ,  4.5,  0. ,  0. , 36.5,  0. ,  0. ,  3. , -6. ,
        0. ,  0. ,  3.5,  0. ,  0. ,  0. ,  0. ,  0.5, -4. , 24.5,  0. ,
        0. ,  8.5, 73.5, -1. , -0.5,  0. , 13. ,  0. ,  5. ,  0. ,  0. ,
        2. ,  0. ,  0.5,  0. ,  0. , 0. ,  -27.5,    0. ,   19.5,    0. ,    2.5,    0. ,    0. ,
          0. ,    0. ,    0. ,    0. ,   43. , -124. ,   22.5,    1.5,
          1.5,   -1. ,    0. ,    0.5,    0. ,   -0.5,  -46.5,    0. ,
         -8.5,  -14.5,    0. ,    0. ,    8. ,    0. ,  -10. ,    0. ,
          0. ,  -11. ,    2. ,   10.5,    0. ,  156. ,    0. ,    0., 0. ,   0. ,  -9.5,   0. ,   0. ,   0. ,   0. ,   0. ,   1. ,
         2. ,   0. ,  12.5,   0. ,   0. ,   0. ,   0. ,   0. ,   0. ,
         0. ,  30.5,   0. ,   0. ,   0. ,   0.5,   0. ,   0. ,  21. ,
       -66.5,   0. ,   0. ,   0. ,   0. ,   0. ,   0.5,   0. ,  19. ,
       -36.5,   0. , -63.5,  26.5, -17. , 0. ,   0. ,  -9.5,   0. ,   0. ,   0. ,   0. ,   0. ,   1. ,
         2. ,   0. ,  12.5,   0. ,   0. ,   0. ,   0. ,   0. ,   0. ,
         0. ,  30.5,   0. ,   0. ,   0. ,   0.5,   0. ,   0. ,  21. ,
       -66.5,   0. ,   0. ,   0. ,   0. ,   0. ,   0.5,   0. ,  19. ,
       -36.5,   0. , -63.5,  26.5, -17.  ],
                   'group': np.repeat([0, 1, 2, 3], repeats=[38, 40, 41, 41])})

In [46]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd


# perform Tukey's test
tukey = pairwise_tukeyhsd(endog=df['score'],
                          groups=df['group'],
                          alpha=0.05)

#display results
print(tukey)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     0      1  -4.1632 0.8253 -17.3498  9.0235  False
     0      2  -6.7022 0.5413 -19.8103  6.4059  False
     0      3  -6.7022 0.5413 -19.8103  6.4059  False
     1      2   -2.539    0.9 -15.4759 10.3979  False
     1      3   -2.539    0.9 -15.4759 10.3979  False
     2      3      0.0    0.9 -12.8568 12.8568  False
-----------------------------------------------------

# ANOVA on additions

In [47]:
import scipy.stats as stats
# stats f_oneway functions takes the groups as input and returns ANOVA F and p value
fvalue, pvalue = stats.f_oneway(df0_add, df1_add, df2_add, df3_add)
print(fvalue, pvalue)

1.1237095650066158 0.3413102529460247

In [48]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'score': [0,  69,   2,   5,   0,   0, 102,   0,   0,  31,  78,   0,   0,
        10,   0,   0,   0,   0,   4,   9,  26,   0,   0,  31, 259,   1,
         2,   0,  81,   0,  36,   0,   0,   2,   0,   6,   0,   0, 0,  14,   0,  32,   0,   5,   0,   0,   0,   0,   0,   0,  53,
        49,  32,   3,   9,   3,   0,   3,   0,   1,   9,   0,   9,   3,
         0,   0,  40,   0,   6,   0,   0,  10,   2,  43,   0, 167,   0,
         0,   0,   0,  19,   0,   0,   0,   0,   0,   1,   6,   0,  18,   0,
         0,   0,   0,   0,   0,   0,  32,   0,   0,   0,   1,   0,   0,
        77,  62,   2,   0,   0,   0,   0,  14,   0,  19,  15,   0,   8,
       110,  16, 133,   6,   0,   0,   7,  16,   0,  20,   0,  96,   4,   0,   0,
         0,   0,   0,  11,  17,  15, 125,  44,   2,   0,  38,   2,  65,
        29,   0,   0,   4,   0,   2,   2,   0,   3, 858,  26,   0,   0,
         1,   0 ],
                   'group': np.repeat([0, 1, 2, 3], repeats=[38, 40, 41, 41])})

In [49]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd


# perform Tukey's test
tukey = pairwise_tukeyhsd(endog=df['score'],
                          groups=df['group'],
                          alpha=0.05)

#display results
print(tukey)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     0      1  -7.5171    0.9 -51.4656 36.4314  False
     0      2  -10.086    0.9 -53.7726 33.6006  False
     0      3  17.3774 0.7062 -26.3092  61.064  False
     1      2  -2.5689    0.9  -45.685 40.5472  False
     1      3  24.8945 0.4417 -18.2216 68.0106  False
     2      3  27.4634 0.3463 -15.3857 70.3125  False
-----------------------------------------------------

# ANOVA on deletions

In [50]:
import scipy.stats as stats
# stats f_oneway functions takes the groups as input and returns ANOVA F and p value
fvalue, pvalue = stats.f_oneway(df0_delete, df1_delete, df2_delete, df3_delete)
print(fvalue, pvalue)

0.2877761136816256 0.8341780259989855

In [52]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'score': [ 0, 105,   2,   1,   0,   0, 131,   0,   0,  56, 168,   0,   0,
        13,   0,   0,   0,   0,   7,  26,   3,   0,   0,  45, 371,   4,
         5,   0, 136,   0,  62,   0,   0,   0,   0,  11,   0,   0, 0,  83,   0,  25,   0,   5,   0,   0,   0,   0,   0,   0,  20,
       346,  19,   3,  15,   8,   0,   5,   0,   3, 111,   0,  35,  35,
         0,   0,  64,   0,  32,   0,   0,  42,   0,  65,   0,  22,   0,
         0, 0,   0,  57,   0,   0,   0,   0,   0,   0,   8,   0,  11,   0,
         0,   0,   0,   0,   0,   0,   3,   0,   0,   0,   1,   0,   0,
       112, 257,   4,   0,   0,   0,   0,  27,   0,   0, 103,   0, 143,
       167,  66, 85,  11,   0,   0,  59,  15,   0,  90,   0, 124,  17,   0,   0,
         0,   0,   0,  24,  80,  50,   0,  44,   2,   0,  54,   4,  24,
        66,   0,   0, 243,   0,   4,   6,   0,   0,  36, 371,   0,   0,
         4,   0 ],
                   'group': np.repeat([0, 1, 2, 3], repeats=[38, 40, 41, 41])})

In [53]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd


# perform Tukey's test
tukey = pairwise_tukeyhsd(endog=df['score'],
                          groups=df['group'],
                          alpha=0.05)

#display results
print(tukey)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     0      1  -6.7079    0.9  -44.622 31.2062  False
     0      2  -6.7677    0.9 -44.4558 30.9205  False
     0      3   4.3055    0.9 -33.3826 41.9937  False
     1      2  -0.0598    0.9 -37.2557 37.1362  False
     1      3  11.0134 0.8538 -26.1825 48.2094  False
     2      3  11.0732 0.8488 -25.8925 48.0388  False
-----------------------------------------------------

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'score': [0, 105,   2,   1,   0,   0, 131,   0,   0,  56, 168,   0,   0,
        13,   0,   0,   0,   0,   7,  26,   3,   0,   0,  45, 371,   4,
         5,   0, 136,   0,  62,   0,   0,   0,   0,  11,   0,   0, 0,  83,   0,  25,   0,   5,   0,   0,   0,   0,   0,   0,  20,
       346,  19,   3,  15,   8,   0,   5,   0,   3, 111,   0,  35,  35,
         0,   0,  64,   0,  32,   0,   0,  42,   0,  65,   0,  22,   0,
         0, 0,   0,  57,   0,   0,   0,   0,   0,   0,   8,   0,  11,   0,
         0,   0,   0,   0,   0,   0,   3,   0,   0,   0,   1,   0,   0,
       112, 257,   4,   0,   0,   0,   0,  27,   0,   0, 103,   0, 143,
       167,  66, 85,  11,   0,   0,  59,  15,   0,  90,   0, 124,  17,   0,   0,
         0,   0,   0,  24,  80,  50,   0,  44,   2,   0,  54,   4,  24,
        66,   0,   0, 243,   0,   4,   6,   0,   0,  36, 371,   0,   0,
         4,   0  ],
                   'group': np.repeat([0, 1, 2, 3], repeats=[38, 40, 41, 41])})

In [ ]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd


# perform Tukey's test
tukey = pairwise_tukeyhsd(endog=df['score'],
                          groups=df['group'],
                          alpha=0.05)

#display results
print(tukey)

# Phase 4 - 5 Visualizations

In [ ]:
import matplotlib.pyplot as plt
import numpy as np


city=['Bogota 0 (No Transparency)','Bogota 1 (Performance Transparency)',' Bogota 2 (Solution Transparency)','Bogota 3 (Full Transparency)']
pos = np.arange(len(city))
Lines_of_Code_Added =[19.84,12.325,9.76, 37.22]


plt.barh(pos,Lines_of_Code_Added,color='blue',edgecolor='black')
plt.yticks(pos, city)
plt.xlabel('Lines_of_Code_Added', fontsize=16)
plt.ylabel('Groups', fontsize=16)
plt.title('Phase 4 - 5 -> Mean of Lines of Code Added',fontsize=20)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np


city=['Bogota 0 (No Transparency)','Bogota 1 (Performance Transparency)',' Bogota 2 (Solution Transparency)','Bogota 3 (Full Transparency)']
pos = np.arange(len(city))
Lines_of_Code_Added =[0.0, 0.5, 0.0, 2.0]


plt.barh(pos,Lines_of_Code_Added,color='blue',edgecolor='black')
plt.yticks(pos, city)
plt.xlabel('Lines_of_Code_Added', fontsize=16)
plt.ylabel('Groups', fontsize=16)
plt.title('Phase 4 - 5 -> Median of Lines of Code Added',fontsize=20)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np


city=['Bogota 0 (No Transparency)','Bogota 1 (Performance Transparency)',' Bogota 2 (Solution Transparency)','Bogota 3 (Full Transparency)']
pos = np.arange(len(city))
Effort =[4.76, 0.6, -1.94, 19.99]


plt.barh(pos,Effort,color='blue',edgecolor='black')
plt.yticks(pos, city)
plt.xlabel('Effort', fontsize=16)
plt.ylabel('Groups', fontsize=16)
plt.title('Phase 4 - 5 -> Mean of Effort',fontsize=20)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np


city=['a','b','c','d']
pos = np.arange(len(city))
Effort =[4, 3, -1.5, -3.5]


plt.barh(pos,Effort,color=['g' if e > 0 else 'r' for e in Effort],edgecolor='black')
plt.yticks(pos, city)
plt.xlabel('DV', fontsize=16)
plt.ylabel('Groups', fontsize=16)
plt.title('ABCDEF',fontsize=20)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np


city=['Bogota 0 (No Transparency)','Bogota 1 (Performance Transparency)',' Bogota 2 (Solution Transparency)','Bogota 3 (Full Transparency)']
pos = np.arange(len(city))
Effort =[73.5, 156, 30.5, 840]


plt.barh(pos,Effort,color='blue',edgecolor='black')
plt.yticks(pos, city)
plt.xlabel('Effort', fontsize=16)
plt.ylabel('Groups', fontsize=16)
plt.title('Phase 4 - 5 -> Max of Effort',fontsize=20)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np


city=['Bogota 0 (No Transparency)','Bogota 1 (Performance Transparency)',' Bogota 2 (Solution Transparency)','Bogota 3 (Full Transparency)']
pos = np.arange(len(city))
Effort =[-6.0, -124, -66.5, -159.5]


plt.barh(pos,Effort,color='blue',edgecolor='black')
plt.yticks(pos, city)
plt.xlabel('Effort', fontsize=16)
plt.ylabel('Groups', fontsize=16)
plt.title('Phase 4 - 5 -> Min of Effort',fontsize=20)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np


city=['Bogota 0 (No Transparency)','Bogota 1 (Performance Transparency)',' Bogota 2 (Solution Transparency)','Bogota 3 (Full Transparency)']
pos = np.arange(len(city))
Effort =[13.86, 34.36, 17.75, 137.73]


plt.barh(pos,Effort,color='blue',edgecolor='black')
plt.yticks(pos, city)
plt.xlabel('Effort', fontsize=16)
plt.ylabel('Groups', fontsize=16)
plt.title('Phase 4 - 5 -> Standard Deviation of Effort',fontsize=20)
plt.show()

In [ ]:
import pandas as pd

df = pd.read_csv('phase-3-4-prelim.csv')
df.head(5)

In [ ]:
df['change-revised'] = df.change.str.extract('(\d+)')
df.head(5)

In [ ]:
df['add-revised'] = df.addition.str.extract('(\d+)')
df['add-revised'] = df['add-revised'].fillna(0)
df.head(5)

In [ ]:
df['delete-revised'] = df.delete.str.extract('(\d+)')
df['delete-revised'] = df['delete-revised'].fillna(0)
df.head(5)

# Phase 2 - 3 ( Code Added, Deleted, Number of Files Changed )

In [ ]:
import pandas as pd

df = pd.read_csv('phase-2-3-prelim.csv')
df.head(5)

In [ ]:
df['change-revised'] = df.change.str.extract('(\d+)')
df.head(5)

In [ ]:
df['add-revised'] = df.addition.str.extract('(\d+)')
df['add-revised'] = df['add-revised'].fillna(0)
df.head(5)

In [ ]:
df['delete-revised'] = df.delete.str.extract('(\d+)')
df['delete-revised'] = df['delete-revised'].fillna(0)
df.head(5)

# Phase 1 - 2 ( Code Added, Deleted, Number of Files Changed )

In [ ]:
import pandas as pd

df = pd.read_csv('phase-1-2-prelim.csv')
df.head(5)

In [ ]:
df['change-revised'] = df.change.str.extract('(\d+)')
df.head(5)

In [ ]:
df['delete-revised'] = df.delete.str.extract('(\d+)')
df['delete-revised'] = df['delete-revised'].fillna(0)
df.head(5)

In [ ]:
df['add-revised'] = df.addition.str.extract('(\d+)')
df['add-revised'] = df['add-revised'].fillna(0)
df.head(5)

# Phase 1 -2 - Filter Bogota 3 ( Full Transparency Group )

In [ ]:
df_name = pd.read_csv('bogota-3.csv')
df_name.head(5)

In [ ]:
df['bogota-3'] = df['username'].isin(df_name['Project'])
df.head(5)

In [ ]:
df["bogota-3"] = df["bogota-3"].astype(int)
df.head(5)

In [ ]:
df_new = df.loc[df['bogota-3'] == 1]
df_new.head(5)

In [ ]:
df_new['change-revised'].mean()

In [ ]:
df_new['delete-revised'] = pd.to_numeric(df_new['delete-revised'])
df_new['delete-revised'].mean()

In [ ]:
df_new['add-revised'] = pd.to_numeric(df_new['add-revised'])
df_new['add-revised'].mean()