In [3]:
from scipy import stats
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import networkx as nx
np.random.seed(0)

In [4]:
df = pd.read_csv("all_score_phase5_update.csv")
df1 = df.dropna()
df1.head(5)

,username,hack id,repo name,time,climate dataset,extra dataset used,extra dataset list,google api,location,using JS,...,combined_infovis_raw,combined_infovis_norm,combined_infovis_per,novelty,novelty_normal,novelty_per,novelty_detail,total_raw,total_norm,total_norm_per
0,mdecloedt,honors0,IH-Project-2017-mdecloedt_webapp_phase5,Wed Nov 22 08:30:39 2017,1,2,"Required Weather API, Zillow Home Value Search...",1,1,1,...,11,47.826087,88.89%,8,1.777778,77.78%,"3.0,0.0,0.0,;3.0,1.0,1.0,;",28,281.448643,88.89%
1,Jordan-Loeser,honors0,IH-Project-2017-Jordan-Loeser_webapp_phase5,Wed Nov 22 08:30:39 2017,1,2,"Required Weather API, Zillow Home Value Search...",1,1,1,...,5,21.739130,59.26%,10,2.222222,81.48%,"3.0,1.0,1.0,;3.0,1.0,1.0,;",24,234.708748,66.67%
2,LukasMMarinovic,honors0,IH-Project-2017-LukasMMarinovic_webapp_phase5,Wed Nov 22 08:30:39 2017,1,1,"Required Weather API,",1,0,1,...,5,21.739130,59.26%,3,0.666667,29.63%,"3.0,0.0,0.0,;",15,210.478261,40.74%
3,whipplem123,honors0,IH-Project-2017-whipplem123_webapp_phase5,Wed Nov 22 08:30:39 2017,0,1,"Zillow Home Value Searching API,",1,1,1,...,3,13.043478,22.22%,3,0.666667,29.63%,"3.0,0.0,0.0,;",15,212.615692,44.44%
5,jmamaril25,honors0,IH-Project-2017-jmamaril25_webapp_phase5,Wed Nov 22 08:30:39 2017,1,5,"New York State Career Centers, NYCHA Developme...",1,1,1,...,15,65.217391,96.3%,21,4.666667,96.3%,"3.0,1.0,2.0,;3.0,1.0,1.0,;1.0,0.0,0.0,;1.0,1.0...",46,334.628263,96.3%

In [5]:
honors0 = df1.loc[df1['hack id'] == 'honors0']
#print(honors0)
result0 = honors0[['hack id', 'novelty']]
result0_revised = pd.DataFrame(result0)

unal0 = df1.loc[df1['hack id'] == 'unal0']
result1 = unal0[['hack id', 'novelty']]
result1_revised = pd.DataFrame(result1)

unal1 = df1.loc[df1['hack id'] == 'unal1']
result2 = unal1[['hack id', 'novelty']]
result2_revised = pd.DataFrame(result2)

unal2 = df1.loc[df1['hack id'] == 'unal2']
result3 = unal2[['hack id', 'novelty']]
result3_revised = pd.DataFrame(result3)

append1 = result0_revised.append(result1_revised)
append2 = append1.append(result2_revised)
append3 = append2.append(result3_revised)

append3.columns = ['treatments', 'value']

In [6]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Ordinary Least Squares (OLS) model
model = ols('value ~ C(treatments)', data=append3).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                    sum_sq    df         F    PR(>F)
C(treatments)  1002.803147   3.0  4.922859  0.004623
Residual       3259.254545  48.0       NaN       NaN

In [7]:
honors0 = df1.loc[df1['hack id'] == 'honors0']
#print(honors0)
result0 = honors0['novelty']
result0_revised = pd.DataFrame(result0)

unal0 = df1.loc[df1['hack id'] == 'unal0']
result1 = unal0['novelty']
result1_revised = pd.DataFrame(result1)

unal1 = df1.loc[df1['hack id'] == 'unal1']
result2 = unal1['novelty']
result2_revised = pd.DataFrame(result2)

unal2 = df1.loc[df1['hack id'] == 'unal2']
result3 = unal2['novelty']
result3_revised = pd.DataFrame(result3)

fvalue, pvalue = stats.f_oneway(result0_revised['novelty'], result1_revised['novelty'], result2_revised['novelty'], result3_revised['novelty'])
print(fvalue, pvalue)

4.922858931661838 0.0046233225314292106

In [8]:
honors0 = df1.loc[df1['hack id'] == 'honors0']
#print(honors0)
result0 = honors0['novelty_normal']
result0_revised = pd.DataFrame(result0)

unal0 = df1.loc[df1['hack id'] == 'unal0']
result1 = unal0['novelty_normal']
result1_revised = pd.DataFrame(result1)

unal1 = df1.loc[df1['hack id'] == 'unal1']
result2 = unal1['novelty_normal']
result2_revised = pd.DataFrame(result2)

unal2 = df1.loc[df1['hack id'] == 'unal2']
result3 = unal2['novelty_normal']
result3_revised = pd.DataFrame(result3)

fvalue, pvalue = stats.f_oneway(result0_revised['novelty_normal'], result1_revised['novelty_normal'], result2_revised['novelty_normal'], result3_revised['novelty_normal'])
print(fvalue, pvalue)

4.922858931618311 0.004623322531646656

# Interpretation
## The p value obtained from ANOVA analysis is significant (p < 0.05), and therefore, we conclude that there are significant differences among treatments.

## Note on F value: F value is inversely related to p value and higher F value (greater than F critical value) indicates a significant p value.

In [11]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=append3['value'], groups=append3['treatments'], alpha=0.05)
print(m_comp)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
 group1 group2 meandiff p-adj   lower   upper  reject
-----------------------------------------------------
honors0  unal0   0.9364    0.9 -7.2963   9.169  False
honors0  unal1      9.1 0.0315  0.6059 17.5941   True
honors0  unal2   9.3909 0.0196  1.1582 17.6236   True
  unal0  unal1   8.1636 0.1204  -1.419 17.7463  False
  unal0  unal2   8.4545 0.0894 -0.8972 17.8062  False
  unal1  unal2   0.2909    0.9 -9.2917  9.8735  False
-----------------------------------------------------

In [14]:
honors0 = df1.loc[df1['hack id'] == 'honors0']
#print(honors0)
result0 = honors0[['hack id', 'novelty_normal']]
result0_revised = pd.DataFrame(result0)

unal0 = df1.loc[df1['hack id'] == 'unal0']
result1 = unal0[['hack id', 'novelty_normal']]
result1_revised = pd.DataFrame(result1)

unal1 = df1.loc[df1['hack id'] == 'unal1']
result2 = unal1[['hack id', 'novelty_normal']]
result2_revised = pd.DataFrame(result2)

unal2 = df1.loc[df1['hack id'] == 'unal2']
result3 = unal2[['hack id', 'novelty_normal']]
result3_revised = pd.DataFrame(result3)

append1 = result0_revised.append(result1_revised)
append2 = append1.append(result2_revised)
append4 = append2.append(result3_revised)

append4.columns = ['treatments', 'value']

In [16]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=append4['value'], groups=append4['treatments'], alpha=0.05)
print(m_comp)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
 group1 group2 meandiff p-adj   lower  upper  reject
----------------------------------------------------
honors0  unal0   0.2081    0.9 -1.6214 2.0376  False
honors0  unal1   2.0222 0.0315  0.1346 3.9098   True
honors0  unal2   2.0869 0.0196  0.2574 3.9164   True
  unal0  unal1   1.8141 0.1204 -0.3153 3.9436  False
  unal0  unal2   1.8788 0.0894 -0.1994 3.9569  False
  unal1  unal2   0.0646    0.9 -2.0648 2.1941  False
----------------------------------------------------

In [20]:
honors0 = df1.loc[df1['hack id'] == 'honors0']
#print(honors0)
result0 = honors0[['hack id', 'combined_infovis_raw']]
result0_revised = pd.DataFrame(result0)

unal0 = df1.loc[df1['hack id'] == 'unal0']
result1 = unal0[['hack id', 'combined_infovis_raw']]
result1_revised = pd.DataFrame(result1)

unal1 = df1.loc[df1['hack id'] == 'unal1']
result2 = unal1[['hack id', 'combined_infovis_raw']]
result2_revised = pd.DataFrame(result2)

unal2 = df1.loc[df1['hack id'] == 'unal2']
result3 = unal2[['hack id', 'combined_infovis_raw']]
result3_revised = pd.DataFrame(result3)

append1 = result0_revised.append(result1_revised)
append2 = append1.append(result2_revised)
append5 = append2.append(result3_revised)

append5.columns = ['treatments', 'value']

In [21]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=append5['value'], groups=append5['treatments'], alpha=0.05)
print(m_comp)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
 group1 group2 meandiff p-adj   lower  upper  reject
----------------------------------------------------
honors0  unal0  -0.0545    0.9 -5.1235 5.0144  False
honors0  unal1     -0.2    0.9 -5.4299 5.0299  False
honors0  unal2   2.2182 0.6353 -2.8507 7.2871  False
  unal0  unal1  -0.1455    0.9 -6.0455 5.7546  False
  unal0  unal2   2.2727 0.6985 -3.4852 8.0306  False
  unal1  unal2   2.4182 0.6762 -3.4819 8.3183  False
----------------------------------------------------

In [24]:
honors0 = df1.loc[df1['hack id'] == 'honors0']
#print(honors0)
result0 = honors0[['hack id', 'total_norm']]
result0_revised = pd.DataFrame(result0)

unal0 = df1.loc[df1['hack id'] == 'unal0']
result1 = unal0[['hack id', 'total_norm']]
result1_revised = pd.DataFrame(result1)

unal1 = df1.loc[df1['hack id'] == 'unal1']
result2 = unal1[['hack id', 'total_norm']]
result2_revised = pd.DataFrame(result2)

unal2 = df1.loc[df1['hack id'] == 'unal2']
result3 = unal2[['hack id', 'total_norm']]
result3_revised = pd.DataFrame(result3)

append1 = result0_revised.append(result1_revised)
append2 = append1.append(result2_revised)
append5 = append2.append(result3_revised)

append5.columns = ['treatments', 'value']

In [25]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=append5['value'], groups=append5['treatments'], alpha=0.05)
print(m_comp)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
======================================================
 group1 group2 meandiff p-adj   lower    upper  reject
------------------------------------------------------
honors0  unal0  -21.866 0.6542 -73.3432 29.6113  False
honors0  unal1 -18.7831  0.759  -71.895 34.3288  False
honors0  unal2  17.6861 0.7738 -33.7912 69.1633  False
  unal0  unal1   3.0829    0.9 -56.8354 63.0012  False
  unal0  unal2   39.552  0.286 -18.9222 98.0263  False
  unal1  unal2  36.4691 0.3783 -23.4491 96.3874  False
------------------------------------------------------