In [20]:
from scipy import stats
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st 
np.random.seed(0) # fix the seed of the random number generator to simplify testing.

In [21]:
# Spring 2017 Phase 5 Bogota Group 0 ( No Transparency )

df = pd.read_csv("bogota-0-phase5.csv")
df1 = df.dropna()
df1.head(5)

       Project  User Requirement  Info Viz Score  Novelty Score
0    fffeelipe              20.0           29.17          50.00
2    mnguzmanc              60.0           75.00          67.50
4        DglyP              40.0           29.17          45.83
6  hsmartineza              80.0           33.33          60.00
9   jmcuestasb             100.0           54.17          25.00

In [22]:
mean_phase5_user_requirement_bogota0 = df1['User Requirement'].mean()
mean_phase5_info_viz_bogota0 = df1['Info Viz Score'].mean()
mean_phase5_novelty_bogota0 = df1['Novelty Score'].mean()
print(mean_phase5_user_requirement_bogota0, mean_phase5_info_viz_bogota0, mean_phase5_novelty_bogota0)

40.57142857142857 42.738285714285716 46.619142857142855

In [23]:
# Spring 2017 Phase 5 Bogota Group 1 ( Performance Transparency )
df3 = pd.read_csv("bogota-1-phase5.csv")
df4 = df3.dropna()
df4.head(5)

          Project  User Requirement  Info Viz Score  Novelty Score
0       gasierram              40.0           62.50           25.0
2    adamantwharf              20.0           25.00            0.0
4       bdcajicam              40.0           29.17           62.5
6  andfsanchezlem              20.0           25.00            0.0
8     dfhincapiem              20.0           25.00           25.0

In [24]:
mean_phase5_user_requirement_bogota1 = df4['User Requirement'].mean()
mean_phase5_info_viz_bogota1 = df4['Info Viz Score'].mean()
mean_phase5_novelty_bogota1 = df4['Novelty Score'].mean()
print(mean_phase5_user_requirement_bogota1, mean_phase5_info_viz_bogota1, mean_phase5_novelty_bogota1)

42.7027027027027 49.32432432432434 52.049729729729734

In [25]:
df1['Group'] = 0
df4['Group'] = 1

<ipython-input-25-1498eb6e27a5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Group'] = 0
<ipython-input-25-1498eb6e27a5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Group'] = 1

In [26]:
df_combined = df1.append(df4, sort = False)
df_combined

           Project  User Requirement  Info Viz Score  Novelty Score  Group
0        fffeelipe              20.0           29.17          50.00      0
2        mnguzmanc              60.0           75.00          67.50      0
4            DglyP              40.0           29.17          45.83      0
6      hsmartineza              80.0           33.33          60.00      0
9       jmcuestasb             100.0           54.17          25.00      0
..             ...               ...             ...            ...    ...
68     jiapulidoar              60.0           83.33          66.67      1
70       jsviveroj              80.0           79.17          72.50      1
72      daandradec             100.0           66.67          95.00      1
74        jcrubioa              40.0           50.00          81.25      1
76  joahernandezca              20.0           54.17          25.00      1

[72 rows x 5 columns]

**Two sample unpaired t-test**

Hypothesis: 

About the attribute "User Requirement"

H0: mean(No-Transparency.NoveltyScore) = mean(Full-Transparency.NoveltyScore) 

H1: mean(No-Transparency.NoveltyScore) != mean(Fully-Transparency.NoveltyScore)

In [27]:
attributeName = 'User Requirement'

# two_sample_unpaired_t_test

df_new = df_combined.loc[df_combined['Group'] == 0]
df_new2 = df_combined.loc[df_combined['Group'] == 1]
output = st.ttest_ind(df_new['User Requirement'], df_new2['User Requirement'], nan_policy='omit')
if (output.pvalue > 0.05): 
    print(output.pvalue, 'accept')
else:
    print(output.pvalue, 'reject')

0.7885709855228404 accept

In [28]:
attributeName = 'Novelty Score'

# two_sample_unpaired_t_test

df_new = df_combined.loc[df_combined['Group'] == 0]
df_new2 = df_combined.loc[df_combined['Group'] == 1]
output = st.ttest_ind(df_new['Novelty Score'], df_new2['Novelty Score'], nan_policy='omit')
if (output.pvalue > 0.05): 
    print(output.pvalue, 'accept')
else:
    print(output.pvalue, 'reject')

0.4697605412476872 accept

In [29]:
attributeName = 'Info Viz Score'

# two_sample_unpaired_t_test

df_new = df_combined.loc[df_combined['Group'] == 0]
df_new2 = df_combined.loc[df_combined['Group'] == 1]
output = st.ttest_ind(df_new['Info Viz Score'], df_new2['Info Viz Score'], nan_policy='omit')
if (output.pvalue > 0.05): 
    print(output.pvalue, 'accept')
else:
    print(output.pvalue, 'reject')

0.13079931010697848 accept

In [30]:
df5 = pd.read_csv("bogota-3-phase5.csv")
df6 = df5.dropna()
df6.head(5)

      Project  User Requirement  Info Viz Score  Novelty Score
0   lemartinp             100.0           54.17          87.50
2   juligarji             100.0           75.00          92.50
4   nfmorenog               0.0           37.50          15.00
6   AFelipeGA              40.0           37.50          56.25
8  mballeng91               0.0           25.00          25.00

In [31]:
df6['Group'] = 3

<ipython-input-31-988316be6a60>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['Group'] = 3

In [32]:
df_full = df_combined.append(df6, sort = False)
df_full

          Project  User Requirement  Info Viz Score  Novelty Score  Group
0       fffeelipe              20.0           29.17          50.00      0
2       mnguzmanc              60.0           75.00          67.50      0
4           DglyP              40.0           29.17          45.83      0
6     hsmartineza              80.0           33.33          60.00      0
9      jmcuestasb             100.0           54.17          25.00      0
..            ...               ...             ...            ...    ...
69        DavidQP              80.0           70.83          83.33      3
71    afceballosr              80.0           45.83          57.50      3
73      lizzyt10h              20.0           54.17          81.25      3
75     NicolasPrr             100.0           83.33          90.00      3
77  jumcorredorro             100.0           62.50          75.00      3

[110 rows x 5 columns]

In [34]:
attributeName = 'User Requirement'

# two_sample_unpaired_t_test

df_new = df_full.loc[df_full['Group'] == 0]
df_new2 = df_full.loc[df_full['Group'] == 3]
output = st.ttest_ind(df_new['User Requirement'], df_new2['User Requirement'], nan_policy='omit')
if (output.pvalue > 0.05): 
    print(output.pvalue, 'accept')
else:
    print(output.pvalue, 'reject')

0.2419414359739583 accept

In [35]:
attributeName = 'Novelty Score'

# two_sample_unpaired_t_test

df_new = df_full.loc[df_full['Group'] == 0]
df_new2 = df_full.loc[df_full['Group'] == 3]
output = st.ttest_ind(df_new['Novelty Score'], df_new2['Novelty Score'], nan_policy='omit')
if (output.pvalue > 0.05): 
    print(output.pvalue, 'accept')
else:
    print(output.pvalue, 'reject')

0.2588715713725102 accept