In [1]:
import pandas as pd

df0_phase5 = pd.read_csv('final-bogota-0-phase5.csv')
df0_phase5 = df0_phase5.loc[:, ~df0_phase5.columns.str.contains('^Unnamed')]
df0_phase5.head(5)

,Project,Hack,Student,Total Score,The % of participants whose total score below your score,Phase
0,lfvalderrama,Bogota-Hack-0-2017,lfvalderrama,352.92,98.04,5th Phase
1,Judgarciani,Bogota-Hack-0-2017,Judgarciani,325.00,96.08,5th Phase
2,bsgarciac,Bogota-Hack-0-2017,bsgarciac,320.83,94.12,5th Phase
3,Moimolcp,Bogota-Hack-0-2017,Moimolcp,304.17,92.16,5th Phase
4,mnguzmanc,Bogota-Hack-0-2017,mnguzmanc,290.00,90.20,5th Phase

In [2]:
df0_phase5['Total Score'].mean()
df0_phase5['Total Score'].median()

190.83

In [3]:
df1_phase5 = pd.read_csv('final-bogota-1-phase5.csv')
df1_phase5 = df1_phase5.loc[:, ~df1_phase5.columns.str.contains('^Unnamed')]
df1_phase5.head(5)

,Project,Hack,Student,Total Score,The % of participants whose total score below your score,Phase
0,oeroaq,Bogota-Hack-1-2017,oeroaq,357.50,97.67,5th Phase
1,jonatan360,Bogota-Hack-1-2017,jonatan360,352.50,95.35,5th Phase
2,jesusfchavarro,Bogota-Hack-1-2017,jesusfchavarro,345.00,93.02,5th Phase
3,daandradec,Bogota-Hack-1-2017,daandradec,336.67,90.70,5th Phase
4,djguzmanc,Bogota-Hack-1-2017,djguzmanc,334.17,88.37,5th Phase

In [4]:
df1_phase5['Total Score'].mean()
df1_phase5['Total Score'].median()

198.33

In [5]:
df2_phase5 = pd.read_csv('final-bogota-2-phase5.csv')
df2_phase5 = df.loc[:, ~df2_phase5.columns.str.contains('^Unnamed')]
df2_phase5.head(5)

,Project,Hack,Student,Total Score,The % of participants whose total score below your score,Phase
0,xdanielsb,Bogota-Hack-2-2017,xdanielsb,357.50,97.62,5th Phase
1,Gantiva,Bogota-Hack-2-2017,Gantiva,345.83,95.24,5th Phase
2,leguzman,Bogota-Hack-2-2017,leguzman,339.17,92.86,5th Phase
3,juasmartinezbel,Bogota-Hack-2-2017,juasmartinezbel,337.50,90.48,5th Phase
4,cesarochoa2006,Bogota-Hack-2-2017,cesarochoa2006,326.67,88.10,5th Phase

In [6]:
df2_phase5['Total Score'].mean()
df2_phase5['Total Score'].median()

178.33

In [7]:
df3_phase5 = pd.read_csv('final-bogota-3-phase5.csv')
df3_phase5 = df3_phase5.loc[:, ~df3_phase5.columns.str.contains('^Unnamed')]
df3_phase5.head(5)

,Project,Hack,Student,Total Score,The % of participants whose total score below your score,Phase
0,NicolasPrr,Bogota-Hack-3-2017,NicolasPrr,360.83,97.62,5th Phase
1,jscastelblancoh,Bogota-Hack-3-2017,jscastelblancoh,358.33,95.24,5th Phase
2,juligarji,Bogota-Hack-3-2017,juligarji,355.00,92.86,5th Phase
3,lacardenasv,Bogota-Hack-3-2017,lacardenasv,350.00,90.48,5th Phase
4,jmalvarezd,Bogota-Hack-3-2017,jmalvarezd,348.75,88.10,5th Phase

In [8]:
df3_phase5['Total Score'].mean()
df3_phase5['Total Score'].median()

209.58

In [9]:
df0_phase4 = pd.read_csv('final-bogota-0-phase4.csv')
df0_phase4 = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head(5)

,Project,Hack,Student,Total Score,The % of participants whose total score below your score,Phase
0,bsgarciac,Bogota-Hack-0-2017,bsgarciac,313.33,98.04,4th Phase
1,jdsuarezj,Bogota-Hack-0-2017,jdsuarezj,276.67,96.08,4th Phase
2,capinillab,Bogota-Hack-0-2017,capinillab,251.67,94.12,4th Phase
3,mnguzmanc,Bogota-Hack-0-2017,mnguzmanc,245.00,92.16,4th Phase
4,camilo654,Bogota-Hack-0-2017,camilo654,243.33,88.24,4th Phase

In [10]:
df['Total Score'].mean()
df['Total Score'].median()

128.33

In [11]:
df = pd.read_csv('final-bogota-1-phase4.csv')
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head(5)

,Project,Hack,Student,Total Score,The % of participants whose total score below your score,Phase
0,oeroaq,Bogota-Hack-1-2017,oeroaq,350.00,97.67,4th Phase
1,jonatan360,Bogota-Hack-1-2017,jonatan360,343.33,95.35,4th Phase
2,jesusfchavarro,Bogota-Hack-1-2017,jesusfchavarro,333.33,93.02,4th Phase
3,daandradec,Bogota-Hack-1-2017,daandradec,318.75,90.70,4th Phase
4,diegoaguevarar,Bogota-Hack-1-2017,diegoaguevarar,312.50,88.37,4th Phase

In [12]:
df['Total Score'].mean()
df['Total Score'].median()

174.17

In [13]:
df = pd.read_csv('final-bogota-2-phase4.csv')
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head(5)

,Project,Hack,Student,Total Score,The % of participants whose total score below your score,Phase
0,fabianr23,Bogota-Hack-2-2017,fabianr23,358.33,97.62,4th Phase
1,jhriverasa,Bogota-Hack-2-2017,jhriverasa,333.33,95.24,4th Phase
2,JuanitoAli,Bogota-Hack-2-2017,JuanitoAli,325.00,92.86,4th Phase
3,juasmartinezbel,Bogota-Hack-2-2017,juasmartinezbel,320.83,90.48,4th Phase
4,Davsatu313,Bogota-Hack-2-2017,Davsatu313,300.83,88.10,4th Phase

In [14]:
df['Total Score'].mean()
df['Total Score'].median()

137.5

In [15]:
df = pd.read_csv('final-bogota-3-phase4.csv')
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head(5)

,Project,Hack,Student,Total Score,The % of participants whose total score below your score,Phase
0,juligarji,Bogota-Hack-3-2017,juligarji,358.33,97.62,4th Phase
1,lgmoralesa,Bogota-Hack-3-2017,lgmoralesa,337.50,95.24,4th Phase
2,jscastelblancoh,Bogota-Hack-3-2017,jscastelblancoh,316.67,92.86,4th Phase
3,jumcorredorro,Bogota-Hack-3-2017,jumcorredorro,305.00,90.48,4th Phase
4,lemartinp,Bogota-Hack-3-2017,lemartinp,300.83,88.10,4th Phase

In [16]:
df['Total Score'].mean()
df['Total Score'].median()

145.41500000000002