In [14]:
%store -r overall_phase1
%store -r overall_phase2
%store -r overall_phase3
%store -r overall_phase4
%store -r overall_phase5

In [19]:
df = df[df['Group'].notna()]

In [20]:
import pandas as pd
overall_phase1 = overall_phase1.rename(columns={'functions': 'functions_phase1', 'unique': 'unique_phase1', 'len_unique': 'len_unique_phase1', 'len_functions': 'len_functions_phase1'})
overall_phase2 = overall_phase2.rename(columns={'functions': 'functions_phase2', 'unique': 'unique_phase2', 'len_unique': 'len_unique_phase2', 'len_functions': 'len_functions_phase2'})

df = pd.merge(overall_phase1, overall_phase2)
df = df[df['Group'].notna()]
df["added-function-12"] = df.apply(lambda row: len(set(row.functions_phase2) - set(row.functions_phase1)), axis=1)
df["deleted-functions-12"] = df.apply(lambda row: len(set(row.functions_phase2) - set(row.functions_phase1)), axis=1)

TypeError: 'float' object is not iterable

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,improve-effort-12,improve-effort-23,improve-effort-34,improve-effort-45,improve-effort-15,improve-effort-25,functions-phase2,unique-phase2,len-unique-phase2,len-functions-phase2
0,fffeelipe,0.0,20.0,29.17,50.00,199.17,100.0,100.0,20.0,29.17,...,0.0,0.0,-14.0,-6.0,-32.5,0.0,"[.ready, k.click, .mcheck, .on, .closest, p.li...","[.ready, k.click, .mcheck, .on, .closest, p.li...",29.0,30.0
1,mnguzmanc,0.0,60.0,75.00,67.50,290.00,87.5,87.5,20.0,37.50,...,-1.0,-16.5,45.5,13.0,-29.0,-21.0,"[house.ico, style.css, maps.js, Chicago.jpg, z...","[house.ico, style.css, maps.js, Chicago.jpg, z...",25.0,25.0
2,jmcuestasb,0.0,100.0,54.17,25.00,254.17,75.0,62.5,100.0,58.33,...,7.0,1.5,9.0,-4.0,7.0,-12.0,"[js.org, .v, .min.js, weather.js, mycss.css, b...","[js.org, .v, .min.js, weather.js, mycss.css, b...",6404.0,7051.0
3,katherinsb,0.0,20.0,37.50,16.67,136.67,62.5,37.5,20.0,45.83,...,0.0,0.0,0.0,73.5,0.0,0.0,[],[],0.0,0.0
4,jjrodriguezn,0.0,60.0,58.33,87.50,255.83,50.0,37.5,40.0,54.17,...,104.0,8.0,60.5,0.5,0.0,34.5,"[data.cityofchicago.org, rows.json, .ajax, goo...","[data.cityofchicago.org, rows.json, .ajax, goo...",19.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,jumcorredorro,3.0,100.0,62.50,75.00,325.00,87.5,87.5,80.0,58.33,...,0.0,12.0,1.0,1.0,11.5,11.5,"[scripto.js, jquery.min.js, bootstrap.min.css,...","[scripto.js, jquery.min.js, bootstrap.min.css,...",38.0,39.0
160,feartheGru,3.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,-33.5,0.0,0.0,0.0,0.0,-111.0,[],[],0.0,0.0
161,Danielsv9207,3.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,[],[],0.0,0.0
162,JhonEmmanuelTorres,3.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,[],[],0.0,0.0
163,Januguerab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [21]:
import pandas as pd

df = pd.DataFrame({
    "word1": [[], ["banana", "kiwi"]],
    "word2": [["tomato", "cucumber"], ["kiwi", "mango"]]
})

df["added"] = df.apply(lambda row: len(set(row.word2) - set(row.word1)), axis=1)
df["deleted"] = df.apply(lambda row: len(set(row.word1) - set(row.word2)), axis=1)

df

            word1               word2  added  deleted
0              []  [tomato, cucumber]      2        0
1  [banana, kiwi]       [kiwi, mango]      1        1