In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
from statsmodels.api import add_constant
from statsmodels.sandbox.regression.gmm import IV2SLS

%store -r full
%store -r solution

%store -r novelty_b3_p1
%store -r novelty_b3_p2
%store -r novelty_b3_p3
%store -r novelty_b3_p4

%store -r novelty_b2_p1
%store -r novelty_b2_p2
%store -r novelty_b2_p3
%store -r novelty_b2_p4

%store -r overall_loc_scores

In [7]:
overall_23 = overall_loc_scores[(overall_loc_scores['Group'] == 2) | (overall_loc_scores['Group'] == 3)]
overall_23

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,add-loc-25,delete-loc-25,change-files-25,add-loc-sum,improve-effort-12,improve-effort-23,improve-effort-34,improve-effort-45,improve-effort-15,improve-effort-25
80,jusherrerama,2.0,20.0,25.00,0.0,120.00,75.0,62.5,20.0,25.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81,bdvegat,2.0,20.0,25.00,0.0,107.50,62.5,50.0,20.0,25.00,...,3.0,4.0,2.0,25.0,0.0,0.0,0.0,0.0,0.0,1.0
82,Phoenixest,2.0,0.0,25.00,25.0,75.00,25.0,25.0,20.0,25.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
83,HashNick,2.0,40.0,50.00,25.0,152.50,37.5,37.5,40.0,54.17,...,7.0,10.0,2.0,21.0,0.5,0.0,6.5,0.0,0.0,2.0
84,ccvacad,2.0,80.0,66.67,80.0,314.17,87.5,0.0,0.0,0.00,...,1.0,1.0,1.0,24.0,-17.5,0.0,-16.0,-9.5,-17.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,NicolasPrr,3.0,100.0,83.33,90.0,360.83,87.5,62.5,0.0,33.33,...,41.0,49.0,5.0,108.0,0.0,0.0,-36.5,0.0,16.5,16.5
159,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,80.0,58.33,...,29.0,35.0,1.0,32.0,0.0,12.0,1.0,1.0,11.5,11.5
160,feartheGru,3.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,...,6.0,234.0,2.0,6.0,-33.5,0.0,0.0,0.0,0.0,-111.0
161,Danielsv9207,3.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162,JhonEmmanuelTorres,3.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
novelty = pd.concat([novelty_b3_p1, novelty_b3_p2, novelty_b3_p3, novelty_b3_p4, 
                    novelty_b2_p1, novelty_b2_p2, novelty_b2_p3, novelty_b2_p4], ignore_index=True)
novelty = novelty.fillna(0)
novelty

,Student,group,abs_perform_diff_best,phase,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,similarity,user2,novelty
0,lemartinp,3,270.84,1,0.0,0.0,4.0,1.0,0.146341,lemartinp,0.708333
1,juligarji,3,167.50,1,4.0,4.0,5.0,3.0,0.057325,juligarji,0.942675
2,nfmorenog,3,225.00,1,0.0,2.0,3.0,1.0,0.190476,nfmorenog,0.745098
3,AFelipeGA,3,291.67,1,4.0,3.0,5.0,2.0,0.090909,AFelipeGA,0.400000
4,mballeng91,3,329.17,1,2.0,6.0,6.0,2.0,0.004854,mballeng91,0.968912
...,...,...,...,...,...,...,...,...,...,...,...
327,xdanielsb,2,0.00,1,3.0,3.0,3.0,2.0,0.000000,xdanielsb,0.947598
328,CSebasGomez,2,260.00,1,3.0,3.0,5.0,2.0,0.000000,CSebasGomez,0.000000
329,jhcardenasa,2,260.00,1,4.0,4.0,5.0,3.0,0.007907,jhcardenasa,0.727273
330,tres-iqus,2,260.00,1,1.0,1.0,4.0,0.0,0.000000,0,0.000000
331,jscontrerasp,2,260.00,1,1.0,1.0,4.0,0.0,0.033149,jscontrerasp,0.638889

In [3]:
commits = pd.read_csv("commits.csv")
commits

,Unnamed: 0,index,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,...,files,additions,deletions,email_name,email_y,hack_id,dates,dates.1,phase,count
0,0,0,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,6.0,168.0,78.0,lfepiar,lfepiar@unal.edu.co,0.0,23/04/2017,23/04/2017,5.0,1
1,1,3,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,281.0,295.0,lfepiar,lfepiar@unal.edu.co,0.0,13/04/2017,13/04/2017,4.0,3
2,2,4,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,6.0,324.0,80.0,lfepiar,lfepiar@unal.edu.co,0.0,11/04/2017,11/04/2017,3.0,1
3,3,5,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,108.0,1339.0,lfepiar,lfepiar@unal.edu.co,0.0,05/04/2017,05/04/2017,2.0,1
4,4,7,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,382.0,2.0,lfepiar,lfepiar@unal.edu.co,0.0,30/03/2017,30/03/2017,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,535,1508,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,5.0,578.0,34.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,23/04/2017,23/04/2017,5.0,1
536,536,1509,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,3.0,266.0,12.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,17/04/2017,17/04/2017,4.0,1
537,537,1512,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,15.0,469.0,202.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,11/04/2017,11/04/2017,3.0,3
538,538,1514,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,10.0,316.0,32.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,02/04/2017,02/04/2017,2.0,2
539,539,1518,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,12.0,245.0,2.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,30/03/2017,30/03/2017,1.0,4

In [4]:
full

,Unnamed: 0,Student,group,abs_perform_diff_best,phase,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,similarity,ln_similarity
0,0,lemartinp,3,270.84,1,0.0,0.0,4.0,1.0,0.146341,0.136576
1,1,juligarji,3,167.50,1,4.0,4.0,5.0,3.0,0.057325,0.055742
2,2,nfmorenog,3,225.00,1,0.0,2.0,3.0,1.0,0.190476,0.174353
3,3,AFelipeGA,3,291.67,1,4.0,3.0,5.0,2.0,0.090909,0.087011
4,4,mballeng91,3,329.17,1,2.0,6.0,6.0,2.0,0.004854,0.004843
...,...,...,...,...,...,...,...,...,...,...,...
159,159,NicolasPrr,3,237.50,4,3.0,4.0,3.0,2.0,0.009360,0.009316
160,160,jumcorredorro,3,53.33,4,1.0,1.0,5.0,2.0,0.013294,0.013206
161,161,feartheGru,3,358.33,4,2.0,2.0,5.0,2.0,0.000000,0.000000
162,162,Danielsv9207,3,358.33,4,1.0,1.0,1.0,3.0,0.000000,0.000000
163,163,JhonEmmanuelTorres,3,358.33,4,5.0,4.0,5.0,2.0,0.000000,0.000000

In [5]:
solution

,Unnamed: 0,Student,group,abs_perform_diff_best,phase,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,similarity,ln_similarity
1,1,bdvegat,2,260.00,1,1.0,2.0,4.0,1.0,0.054187,0.052770
2,2,Phoenixest,2,185.83,1,0.0,1.0,3.0,1.0,0.017964,0.017805
3,3,HashNick,2,260.00,1,1.0,3.0,5.0,3.0,0.023697,0.023420
4,4,ccvacad,2,260.00,1,1.0,0.0,4.0,2.0,0.000000,0.000000
5,5,joaortizro,2,152.50,1,0.0,2.0,2.0,1.0,0.041420,0.040585
...,...,...,...,...,...,...,...,...,...,...,...
162,162,lsfinite,2,358.33,4,1.0,1.0,6.0,3.0,0.008392,0.008357
163,163,xdanielsb,2,283.33,4,3.0,3.0,3.0,2.0,0.040128,0.039344
164,164,CSebasGomez,2,358.33,4,3.0,3.0,5.0,2.0,0.000000,0.000000
165,165,jhcardenasa,2,358.33,4,4.0,4.0,5.0,3.0,0.051020,0.049762
167,167,jscontrerasp,2,358.33,4,1.0,1.0,4.0,0.0,0.054455,0.053024

In [6]:
df = solution.append(full, ignore_index=True)
df

,Unnamed: 0,Student,group,abs_perform_diff_best,phase,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,similarity,ln_similarity
0,1,bdvegat,2,260.00,1,1.0,2.0,4.0,1.0,0.054187,0.052770
1,2,Phoenixest,2,185.83,1,0.0,1.0,3.0,1.0,0.017964,0.017805
2,3,HashNick,2,260.00,1,1.0,3.0,5.0,3.0,0.023697,0.023420
3,4,ccvacad,2,260.00,1,1.0,0.0,4.0,2.0,0.000000,0.000000
4,5,joaortizro,2,152.50,1,0.0,2.0,2.0,1.0,0.041420,0.040585
...,...,...,...,...,...,...,...,...,...,...,...
311,159,NicolasPrr,3,237.50,4,3.0,4.0,3.0,2.0,0.009360,0.009316
312,160,jumcorredorro,3,53.33,4,1.0,1.0,5.0,2.0,0.013294,0.013206
313,161,feartheGru,3,358.33,4,2.0,2.0,5.0,2.0,0.000000,0.000000
314,162,Danielsv9207,3,358.33,4,1.0,1.0,1.0,3.0,0.000000,0.000000
315,163,JhonEmmanuelTorres,3,358.33,4,5.0,4.0,5.0,2.0,0.000000,0.000000

In [7]:
df = pd.merge(df, commits[['Student', 'count', 'phase']], how='left', left_on=['Student', 'phase'], right_on =['Student', 'phase'] )
df['count'] = df['count'].fillna(0)
df = df.drop(['Student', 'phase'], axis=1)
df

,Unnamed: 0,group,abs_perform_diff_best,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,similarity,ln_similarity,count
0,1,2,260.00,1.0,2.0,4.0,1.0,0.054187,0.052770,1.0
1,2,2,185.83,0.0,1.0,3.0,1.0,0.017964,0.017805,2.0
2,3,2,260.00,1.0,3.0,5.0,3.0,0.023697,0.023420,0.0
3,4,2,260.00,1.0,0.0,4.0,2.0,0.000000,0.000000,0.0
4,5,2,152.50,0.0,2.0,2.0,1.0,0.041420,0.040585,3.0
...,...,...,...,...,...,...,...,...,...,...
311,159,3,237.50,3.0,4.0,3.0,2.0,0.009360,0.009316,3.0
312,160,3,53.33,1.0,1.0,5.0,2.0,0.013294,0.013206,1.0
313,161,3,358.33,2.0,2.0,5.0,2.0,0.000000,0.000000,0.0
314,162,3,358.33,1.0,1.0,1.0,3.0,0.000000,0.000000,0.0
315,163,3,358.33,5.0,4.0,5.0,2.0,0.000000,0.000000,0.0

In [14]:
#Let's confirm that aspiration satisfy the relevance condition for performance distance to the best. There is a difference between aspiration and social aspiration. 
reg_expr = 'abs_perform_diff_best ~ Q10'

# Build and train an OLS model that regresses performance distance to the best on aspiration and verify
# using the F-test that coefficients of aspiration is significant 
olsr_model = smf.ols(formula=reg_expr, data=df)
olsr_model_results = olsr_model.fit()
print(olsr_model_results.summary())

df['ln_similarity'] = np.log(df['similarity'] + 1)
df['ln_perform_diff'] = np.log(df['abs_perform_diff_best']+1)

# Build out the exog matrix. Statsmodels requires this matrix to contain all the endogenous and
# exogenous variables, plus the constant.
exog = df[['abs_perform_diff_best']]
exog = add_constant(exog)

# Build out the instruments matrix. Statsmodels requires this matrix to contain not only all the
# instruments but also the variables in exog that will NOT be instrumented
instruments = df[['group']]
instruments = add_constant(instruments)

#Build and train the IV2SLS model
iv2sls_model = IV2SLS(endog=df['ln_similarity'], exog=exog, instrument=instruments)
iv2sls_model_results = iv2sls_model.fit()

#Print the training summary
print(iv2sls_model_results.summary())

#Compare the performance of 2SLS with OLS of ln(wage) on performance distance to the best
reg_expr = 'ln_similarity ~ abs_perform_diff_best + group + Q7_Q7_1 + Q7_Q7_2 + Q8_Q8_1 + Q10 + group * abs_perform_diff_best'
olsr_model = smf.ols(formula=reg_expr, data=df)
olsr_model_results = olsr_model.fit()
print(olsr_model_results.summary())

#Compare the performance of 2SLS with OLS of ln(wage) on performance distance to the best
reg_expr = 'ln_similarity ~ group'
olsr_model = smf.ols(formula=reg_expr, data=df)
olsr_model_results = olsr_model.fit()
print(olsr_model_results.summary())

                              OLS Regression Results
=================================================================================
Dep. Variable:     abs_perform_diff_best   R-squared:                       0.023
Model:                               OLS   Adj. R-squared:                  0.020
Method:                    Least Squares   F-statistic:                     7.361
Date:                   Sat, 17 Sep 2022   Prob (F-statistic):            0.00703
Time:                           15:51:50   Log-Likelihood:                -1834.9
No. Observations:                    316   AIC:                             3674.
Df Residuals:                        314   BIC:                             3681.
Df Model:                              1
Covariance Type:               nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    226.1419     11.648     19.415      0.000     203.225     249.059
Q10          -15.9658      5.885     -2.713      0.007     -27.544      -4.387
==============================================================================
Omnibus:                        2.474   Durbin-Watson:                   1.346
Prob(Omnibus):                  0.290   Jarque-Bera (JB):                2.338
Skew:                          -0.141   Prob(JB):                        0.311
Kurtosis:                       2.688   Cond. No.                         6.21
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                          IV2SLS Regression Results
==============================================================================
Dep. Variable:          ln_similarity   R-squared:                      -7.028
Model:                         IV2SLS   Adj. R-squared:                 -7.053
Method:                     Two Stage   F-statistic:                    0.9672
                        Least Squares   Prob (F-statistic):              0.326
Date:                Sat, 17 Sep 2022
Time:                        15:51:50
No. Observations:                 316
Df Residuals:                     314
Df Model:                           1
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    -0.2405      0.301     -0.800      0.424      -0.832       0.351
abs_perform_diff_best     0.0015      0.002      0.983      0.326      -0.002       0.005
==============================================================================
Omnibus:                        2.180   Durbin-Watson:                   1.426
Prob(Omnibus):                  0.336   Jarque-Bera (JB):                1.853
Skew:                           0.058   Prob(JB):                        0.396
Kurtosis:                       2.643   Cond. No.                         558.
==============================================================================
                            OLS Regression Results
==============================================================================
Dep. Variable:          ln_similarity   R-squared:                       0.080
Model:                            OLS   Adj. R-squared:                  0.059
Method:                 Least Squares   F-statistic:                     3.828
Date:                Sat, 17 Sep 2022   Prob (F-statistic):           0.000524
Time:                        15:51:50   Log-Likelihood:                 517.63
No. Observations:                 316   AIC:                            -1019.
Df Residuals:                     308   BIC:                            -989.2
Df Model:                           7
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                      -0.0433      0.038     -1.132      0.258      -0.119       0.032
abs_perform_diff_best           0.0003      0.000      1.859      0.064   -1.87e-05       0.001
group                           0.0518      0.015      3.497      0.001       0.023       0.081
Q7_Q7_1                        -0.0033      0.002     -1.357      0.176      -0.008       0.001
Q7_Q7_2                         0.0017      0.002      0.777      0.438      -0.003       0.006
Q8_Q8_1                        -0.0009      0.002     -0.409      0.683      -0.005       0.004
Q10                            -0.0027      0.004     -0.742      0.458      -0.010       0.004
group:abs_perform_diff_best    -0.0002   6.87e-05     -2.500      0.013      -0.000   -3.66e-05
==============================================================================
Omnibus:                       47.431   Durbin-Watson:                   1.260
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               73.714
Skew:                           0.908   Prob(JB):                     9.85e-17
Kurtosis:                       4.517   Cond. No.                     8.91e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.91e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:          ln_similarity   R-squared:                       0.025
Model:                            OLS   Adj. R-squared:                  0.022
Method:                 Least Squares   F-statistic:                     7.961
Date:                Sat, 17 Sep 2022   Prob (F-statistic):            0.00508
Time:                        15:51:50   Log-Likelihood:                 508.41
No. Observations:                 316   AIC:                            -1013.
Df Residuals:                     314   BIC:                            -1005.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0165      0.014      1.178      0.240      -0.011       0.044
group          0.0154      0.005      2.822      0.005       0.005       0.026
==============================================================================
Omnibus:                       36.655   Durbin-Watson:                   1.303
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               46.593
Skew:                           0.849   Prob(JB):                     7.63e-11
Kurtosis:                       3.810   Cond. No.                         15.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Novelty

In [15]:
#Compare the performance of 2SLS with OLS of ln(wage) on performance distance to the best

novelty['ln_novelty'] = np.log(novelty['novelty'] + 1)
reg_expr = 'ln_novelty ~ group'
olsr_model = smf.ols(formula=reg_expr, data=novelty)
olsr_model_results = olsr_model.fit()
print(olsr_model_results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             ln_novelty   R-squared:                       0.023
Model:                            OLS   Adj. R-squared:                  0.020
Method:                 Least Squares   F-statistic:                     7.625
Date:                Sat, 17 Sep 2022   Prob (F-statistic):            0.00608
Time:                        15:55:36   Log-Likelihood:                 30.781
No. Observations:                 332   AIC:                            -57.56
Df Residuals:                     330   BIC:                            -49.95
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.2790      0.062      4.517      0.000       0.158       0.401
group          0.0671      0.024      2.761      0.006       0.019       0.115
==============================================================================
Omnibus:                       43.297   Durbin-Watson:                   1.415
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               58.148
Skew:                          -1.021   Prob(JB):                     2.36e-13
Kurtosis:                       2.819   Cond. No.                         14.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [16]:
reg_expr = 'ln_novelty ~ group + abs_perform_diff_best + Q7_Q7_1 + Q7_Q7_2 + Q8_Q8_1 + Q10 + group * abs_perform_diff_best'
olsr_model = smf.ols(formula=reg_expr, data=novelty)
olsr_model_results = olsr_model.fit()
print(olsr_model_results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             ln_novelty   R-squared:                       0.182
Model:                            OLS   Adj. R-squared:                  0.164
Method:                 Least Squares   F-statistic:                     10.29
Date:                Sat, 17 Sep 2022   Prob (F-statistic):           1.17e-11
Time:                        15:55:37   Log-Likelihood:                 60.314
No. Observations:                 332   AIC:                            -104.6
Df Residuals:                     324   BIC:                            -74.19
Df Model:                           7
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                       0.1088      0.154      0.706      0.481      -0.194       0.412
group                           0.2077      0.059      3.540      0.000       0.092       0.323
abs_perform_diff_best           0.0004      0.001      0.479      0.632      -0.001       0.002
Q7_Q7_1                        -0.0216      0.010     -2.222      0.027      -0.041      -0.002
Q7_Q7_2                         0.0190      0.010      1.944      0.053      -0.000       0.038
Q8_Q8_1                         0.0065      0.009      0.688      0.492      -0.012       0.025
Q10                            -0.0223      0.015     -1.486      0.138      -0.052       0.007
group:abs_perform_diff_best    -0.0005      0.000     -1.822      0.069      -0.001    4.34e-05
==============================================================================
Omnibus:                       26.368   Durbin-Watson:                   1.579
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               30.880
Skew:                          -0.736   Prob(JB):                     1.97e-07
Kurtosis:                       2.748   Cond. No.                     8.07e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.07e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [18]:
#Compare the performance of 2SLS with OLS of ln(wage) on performance distance to the best

total = pd.concat([overall_23[['Group','total-phase1']], overall_23[['Group','total-phase1']], overall_23[['Group','total-phase1']], 
                  overall_23[['Group','total-phase1']], overall_23[['Group','total-phase1']], ignore_index=True)

overall_23['ln_total'] = np.log(overall_23['total'] + 1)
reg_expr = 'ln_total ~ Group'
olsr_model = smf.ols(formula=reg_expr, data=overall_23)
olsr_model_results = olsr_model.fit()
print(olsr_model_results.summary())

KeyError: 'total'

In [23]:
overall_23[['Group','total-phase1']]

     Group  total-phase1
80     2.0         82.50
81     2.0          0.00
82     2.0         74.17
83     2.0          0.00
84     2.0          0.00
..     ...           ...
158    3.0        112.50
159    3.0        185.83
160    3.0         12.50
161    3.0         50.00
162    3.0          0.00

[83 rows x 2 columns]