In [14]:
import pandas as pd
df = pd.read_csv("scores_commits.csv")
df = df.rename(columns={"novelty": "novelty_score"})
df = df[df['phase'] != 1]
df['phase'] = df['phase'] - 1
df

,Unnamed: 0,user-requirement,infovis,total,novelty_score,tech,Group,Student,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,phase,count
164,164,60.0,37.50,172.50,0.0,75.0,0.0,fffeelipe,1.0,0.0,5.0,3.0,1,1.0
165,165,20.0,37.50,220.00,75.0,87.5,0.0,mnguzmanc,2.0,1.0,3.0,2.0,1,4.0
166,166,20.0,33.33,140.83,25.0,62.5,0.0,jmcuestasb,1.0,3.0,4.0,2.0,1,6.0
167,167,0.0,0.00,12.50,0.0,12.5,0.0,katherinsb,1.0,2.0,4.0,2.0,1,0.0
168,168,20.0,29.17,111.67,0.0,62.5,0.0,jjrodriguezn,2.0,2.0,3.0,1.0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,815,100.0,83.33,360.83,90.0,87.5,3.0,NicolasPrr,3.0,4.0,3.0,2.0,4,1.0
816,816,100.0,62.50,325.00,75.0,87.5,3.0,jumcorredorro,1.0,1.0,5.0,2.0,4,1.0
817,817,0.0,0.00,0.00,0.0,0.0,3.0,feartheGru,2.0,2.0,5.0,2.0,4,0.0
818,818,0.0,0.00,0.00,0.0,0.0,3.0,Danielsv9207,1.0,1.0,1.0,3.0,4,0.0
819,819,0.0,0.00,0.00,0.0,0.0,3.0,JhonEmmanuelTorres,5.0,4.0,5.0,2.0,4,0.0

In [15]:
df1 = pd.read_csv("novelty_complete_rev.csv")
df1

,Unnamed: 0,Student,phase,novelty,group,abs_perform_diff_best,user2,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10
0,5,lizzyt10h,1,0.400000,3,175.00,lizzyt10h,2.0,1.0,5.0,2.0
1,6,AFelipeGA,1,0.400000,3,291.67,AFelipeGA,4.0,3.0,5.0,2.0
2,7,wapiravaguens,1,0.400000,3,90.00,wapiravaguens,0.0,1.0,4.0,2.0
3,8,capinzor,1,0.413793,3,221.67,capinzor,0.0,0.0,2.0,2.0
4,9,lacardenasv,1,0.424658,3,142.50,lacardenasv,1.0,2.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
634,651,kastellanos,3,0.000000,1,345.83,kastellanos,5.0,5.0,5.0,3.0
635,652,tres-iqus,3,0.000000,2,358.33,tres-iqus,1.0,1.0,4.0,0.0
636,653,annumumozme,4,0.000000,0,313.33,NaN,NaN,NaN,NaN,NaN
637,654,kastellanos,4,0.000000,1,350.00,kastellanos,5.0,5.0,5.0,3.0
638,655,tres-iqus,4,0.000000,2,358.33,tres-iqus,1.0,1.0,4.0,0.0

In [16]:
df_merged = pd.merge(df1, df[['Student', 'phase', 'count', 'total', 'user-requirement', 'infovis', 'novelty_score']], how='left')
df_merged

,Unnamed: 0,Student,phase,novelty,group,abs_perform_diff_best,user2,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,count,total,user-requirement,infovis,novelty_score
0,5,lizzyt10h,1,0.400000,3,175.00,lizzyt10h,2.0,1.0,5.0,2.0,7.0,75.00,0.0,0.00,0.0
1,6,AFelipeGA,1,0.400000,3,291.67,AFelipeGA,4.0,3.0,5.0,2.0,3.0,152.50,40.0,37.50,0.0
2,7,wapiravaguens,1,0.400000,3,90.00,wapiravaguens,0.0,1.0,4.0,2.0,1.0,192.50,80.0,50.00,0.0
3,8,capinzor,1,0.413793,3,221.67,capinzor,0.0,0.0,2.0,2.0,0.0,120.00,20.0,25.00,0.0
4,9,lacardenasv,1,0.424658,3,142.50,lacardenasv,1.0,2.0,5.0,4.0,2.0,264.17,60.0,54.17,87.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,651,kastellanos,3,0.000000,1,345.83,kastellanos,5.0,5.0,5.0,3.0,0.0,0.00,0.0,0.00,0.0
643,652,tres-iqus,3,0.000000,2,358.33,tres-iqus,1.0,1.0,4.0,0.0,0.0,0.00,0.0,0.00,0.0
644,653,annumumozme,4,0.000000,0,313.33,NaN,NaN,NaN,NaN,NaN,0.0,237.50,40.0,37.50,60.0
645,654,kastellanos,4,0.000000,1,350.00,kastellanos,5.0,5.0,5.0,3.0,0.0,0.00,0.0,0.00,0.0
646,655,tres-iqus,4,0.000000,2,358.33,tres-iqus,1.0,1.0,4.0,0.0,0.0,0.00,0.0,0.00,0.0

In [17]:
df_merged.to_csv('merged.csv')