# Metrics for Functional Similarity

## In this notebook, we are constructing the distance of search, which is the cross-stage similarity on an individual level.

In [1]:
# retrive variables stored in other Jupyter notebooks

%store -r overall_loc_scores_final
%store -r overall_loc_scores

In [2]:
overall_loc_scores_final

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,improve-effort-23,improve-effort-34,improve-effort-45,improve-effort-15,improve-effort-25,d3-effort-12,d3-effort-23,d3-effort-34,d3-effort-45,d3-effort-15
0,fffeelipe,0.0,20.0,29.17,50.00,199.17,100.0,100.0,20.0,29.17,...,0.0,-14.0,-6.0,-32.5,0.0,0.0,0.0,0.0,0.0,0.0
1,mnguzmanc,0.0,60.0,75.00,67.50,290.00,87.5,87.5,20.0,37.50,...,-16.5,45.5,13.0,-29.0,-21.0,0.0,0.0,0.0,0.0,0.0
2,jmcuestasb,0.0,100.0,54.17,25.00,254.17,75.0,62.5,100.0,58.33,...,1.5,9.0,-4.0,7.0,-12.0,0.0,0.0,0.0,0.0,0.0
3,katherinsb,0.0,20.0,37.50,16.67,136.67,62.5,37.5,20.0,45.83,...,0.0,0.0,73.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,jjrodriguezn,0.0,60.0,58.33,87.50,255.83,50.0,37.5,40.0,54.17,...,8.0,60.5,0.5,0.0,34.5,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,JhonEmmanuelTorres,3.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
164,janoguerab,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165,djsanabriac,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
166,anmmunozme,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
167,li2266,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
from pathlib import Path
import pandas as pd

files = Path('../../../../Library/CloudStorage/Box-Box/NSF IronHacks App 2016 - 2019/05 Experiments 2017/01 Hack Spring 2017/01 Summary Spring 2017/02 Data/processed-data/bogota-functions-output/spring2017-goldironhack-phase1').glob('*')

phase1_functions = list()

for file in files:
    phase1_functions.append(file.read_text().replace('\n', ','))  # the file is opened and closed

phase1_functions = pd.DataFrame(phase1_functions, columns = ['functions'])
phase1_functions = phase1_functions['functions'].str.split(',').to_frame()
phase1_functions

                                             functions
0                                                   []
1    [FirstLook.css, bootstrap.min.css, jquery.min....
2    [materialize.min.css, materialize.min.js, .min...
3    [jquery.min.js, styles.css, init.js, .containe...
4    [bootstrap.min.css, theme.min.css, aos.css, co...
..                                                 ...
160  [style.css, map.js, document.getElementById, g...
161  [style.css, scripts.js, document.getElementByI...
162                                                 []
163  [document.getElementById, google.maps.Map, goo...
164  [eslint.org, module.exports, RULES.md, .vue, p...

[165 rows x 1 columns]

In [4]:
phase1_functions['unique'] = phase1_functions['functions'].apply(pd.unique)
phase1_functions['unique']

0                                                     []
1      [FirstLook.css, bootstrap.min.css, jquery.min....
2      [materialize.min.css, materialize.min.js, .min...
3      [jquery.min.js, styles.css, init.js, .containe...
4      [bootstrap.min.css, theme.min.css, aos.css, co...
                             ...
160    [style.css, map.js, document.getElementById, g...
161    [style.css, scripts.js, document.getElementByI...
162                                                   []
163    [document.getElementById, google.maps.Map, goo...
164    [eslint.org, module.exports, RULES.md, .vue, p...
Name: unique, Length: 165, dtype: object

In [5]:
phase1_functions['len_unique'] = phase1_functions['unique'].str.len()-1
phase1_functions

,functions,unique,len_unique
0,[],[],0
1,"[FirstLook.css, bootstrap.min.css, jquery.min....","[FirstLook.css, bootstrap.min.css, jquery.min....",16
2,"[materialize.min.css, materialize.min.js, .min...","[materialize.min.css, materialize.min.js, .min...",21
3,"[jquery.min.js, styles.css, init.js, .containe...","[jquery.min.js, styles.css, init.js, .containe...",29
4,"[bootstrap.min.css, theme.min.css, aos.css, co...","[bootstrap.min.css, theme.min.css, aos.css, co...",165
...,...,...,...
160,"[style.css, map.js, document.getElementById, g...","[style.css, map.js, document.getElementById, g...",5
161,"[style.css, scripts.js, document.getElementByI...","[style.css, scripts.js, document.getElementByI...",5
162,[],[],0
163,"[document.getElementById, google.maps.Map, goo...","[document.getElementById, google.maps.Map, goo...",4
164,"[eslint.org, module.exports, RULES.md, .vue, p...","[eslint.org, module.exports, RULES.md, .vue, p...",113

In [6]:
from pathlib import Path


files = Path('../../../../Library/CloudStorage/Box-Box/NSF IronHacks App 2016 - 2019/05 Experiments 2017/01 Hack Spring 2017/01 Summary Spring 2017/02 Data/processed-data/bogota-functions-output/spring2017-goldironhack-phase2').glob('*')

phase2_functions = list()

for file in files:
    phase2_functions.append(file.read_text().replace('\n', ','))  # the file is opened and closed

phase2_functions = pd.DataFrame(phase2_functions, columns = ['functions'])
phase2_functions = phase2_functions['functions'].str.split(',').to_frame()

In [7]:
phase2_functions['unique'] = phase2_functions['functions'].apply(pd.unique)
phase2_functions['unique']

0                                                     []
1      [FirstLook.css, bootstrap.min.css, jquery.min....
2      [materialize.css, materialize.js, materialize....
3      [jquery.min.js, styles.css, init.js, test.js, ...
4      [.ajax, .done, console.log, .fail, data.cityof...
                             ...
160    [house.ico, style.css, map.js, Chicago.jpg, do...
161    [style.css, .js, scripts.js, .ready, .click, ....
162                                                   []
163    [document.getElementById, google.maps.Map, goo...
164    [materialize.min.css, style.css, awesome.min.c...
Name: unique, Length: 165, dtype: object

In [8]:
phase2_functions['len_unique'] = phase2_functions['unique'].str.len()-1
phase2_functions

,functions,unique,len_unique
0,[],[],0
1,"[FirstLook.css, bootstrap.min.css, jquery.min....","[FirstLook.css, bootstrap.min.css, jquery.min....",43
2,"[materialize.css, materialize.js, materialize....","[materialize.css, materialize.js, materialize....",1944
3,"[jquery.min.js, styles.css, init.js, test.js, ...","[jquery.min.js, styles.css, init.js, test.js, ...",40
4,"[.ajax, .done, console.log, .fail, data.cityof...","[.ajax, .done, console.log, .fail, data.cityof...",185
...,...,...,...
160,"[house.ico, style.css, map.js, Chicago.jpg, do...","[house.ico, style.css, map.js, Chicago.jpg, do...",25
161,"[style.css, .js, scripts.js, .ready, .click, ....","[style.css, .js, scripts.js, .ready, .click, ....",2257
162,[],[],0
163,"[document.getElementById, google.maps.Map, goo...","[document.getElementById, google.maps.Map, goo...",4
164,"[materialize.min.css, style.css, awesome.min.c...","[materialize.min.css, style.css, awesome.min.c...",2059

In [9]:
from pathlib import Path


files = Path('../../../../Library/CloudStorage/Box-Box/NSF IronHacks App 2016 - 2019/05 Experiments 2017/01 Hack Spring 2017/01 Summary Spring 2017/02 Data/processed-data/bogota-functions-output/spring2017-goldironhack-phase3').glob('*')

phase3_functions = list()

for file in files:
    phase3_functions.append(file.read_text().replace('\n', ','))  # the file is opened and closed
phase3_functions = pd.DataFrame(phase3_functions, columns = ['functions'])
phase3_functions = phase3_functions['functions'].str.split(',').to_frame()

In [10]:
phase3_functions['unique'] = phase3_functions['functions'].apply(pd.unique)
phase3_functions['unique']

0                                                     []
1      [FirstLook.css, bootstrap.min.css, jquery.min....
2      [materialize.css, materialize.js, materialize....
3      [jquery.min.js, styles.css, init.js, handler.j...
4      [console.log, jQuery.parseJSON, .ajax, .done, ...
                             ...
160    [house.ico, style.css, .css, main.js, map.js, ...
161    [style.css, .js, scripts.js, .ready, .click, ....
162                                                   []
163    [document.getElementById, google.maps.Map, goo...
164    [materialize.min.css, style.css, awesome.min.c...
Name: unique, Length: 165, dtype: object

In [11]:
phase3_functions['len_unique'] = phase3_functions['unique'].str.len()-1
phase3_functions

,functions,unique,len_unique
0,[],[],0
1,"[FirstLook.css, bootstrap.min.css, jquery.min....","[FirstLook.css, bootstrap.min.css, jquery.min....",52
2,"[materialize.css, materialize.js, materialize....","[materialize.css, materialize.js, materialize....",1944
3,"[jquery.min.js, styles.css, init.js, handler.j...","[jquery.min.js, styles.css, init.js, handler.j...",59
4,"[console.log, jQuery.parseJSON, .ajax, .done, ...","[console.log, jQuery.parseJSON, .ajax, .done, ...",193
...,...,...,...
160,"[house.ico, style.css, .css, main.js, map.js, ...","[house.ico, style.css, .css, main.js, map.js, ...",2273
161,"[style.css, .js, scripts.js, .ready, .click, ....","[style.css, .js, scripts.js, .ready, .click, ....",2257
162,[],[],0
163,"[document.getElementById, google.maps.Map, goo...","[document.getElementById, google.maps.Map, goo...",4
164,"[materialize.min.css, style.css, awesome.min.c...","[materialize.min.css, style.css, awesome.min.c...",2059

In [12]:
from pathlib import Path


files = Path('../../../../Library/CloudStorage/Box-Box/NSF IronHacks App 2016 - 2019/05 Experiments 2017/01 Hack Spring 2017/01 Summary Spring 2017/02 Data/processed-data/bogota-functions-output/spring2017-goldironhack-phase4').glob('*')

phase4_functions = list()

for file in files:
    phase4_functions.append(file.read_text().replace('\n', ','))  # the file is opened and closed
phase4_functions = pd.DataFrame(phase4_functions, columns = ['functions'])
phase4_functions = phase4_functions['functions'].str.split(',').to_frame()

In [13]:
phase4_functions['unique'] = phase4_functions['functions'].apply(pd.unique)
phase4_functions['unique']

0                                                     []
1      [FirstLook.css, bootstrap.min.css, jquery.min....
2      [.ajax, data.cityofchicago.org, rows.json, .do...
3      [up.net, shiv.js, main.css, .css, jquery.min.j...
4      [console.log, jQuery.parseJSON, .ajax, .done, ...
                             ...
160    [house.ico, style.css, .css, main.js, map.js, ...
161    [style.css, bootstrap.min.css, .js, scripts.js...
162                                                   []
163    [document.getElementById, google.maps.Map, goo...
164    [materialize.min.css, style.css, awesome.min.c...
Name: unique, Length: 165, dtype: object

In [14]:
phase4_functions['len_unique'] = phase4_functions['unique'].str.len()-1
phase4_functions

,functions,unique,len_unique
0,[],[],0
1,"[FirstLook.css, bootstrap.min.css, jquery.min....","[FirstLook.css, bootstrap.min.css, jquery.min....",52
2,"[.ajax, data.cityofchicago.org, rows.json, .do...","[.ajax, data.cityofchicago.org, rows.json, .do...",2003
3,"[up.net, shiv.js, main.css, .css, jquery.min.j...","[up.net, shiv.js, main.css, .css, jquery.min.j...",62
4,"[console.log, jQuery.parseJSON, .ajax, .done, ...","[console.log, jQuery.parseJSON, .ajax, .done, ...",229
...,...,...,...
160,"[house.ico, style.css, .css, main.js, map.js, ...","[house.ico, style.css, .css, main.js, map.js, ...",2290
161,"[style.css, bootstrap.min.css, .js, scripts.js...","[style.css, bootstrap.min.css, .js, scripts.js...",17
162,[],[],0
163,"[document.getElementById, google.maps.Map, goo...","[document.getElementById, google.maps.Map, goo...",4
164,"[materialize.min.css, style.css, awesome.min.c...","[materialize.min.css, style.css, awesome.min.c...",2059

In [15]:
from pathlib import Path


files = Path('../../../../Library/CloudStorage/Box-Box/NSF IronHacks App 2016 - 2019/05 Experiments 2017/01 Hack Spring 2017/01 Summary Spring 2017/02 Data/processed-data/bogota-functions-output/spring2017-goldironhack-phase5').glob('*')

phase5_functions = list()

for file in files:
    phase5_functions.append(file.read_text().replace('\n', ','))  # the file is opened and closed
phase5_functions = pd.DataFrame(phase5_functions, columns = ['functions'])
phase5_functions = phase5_functions['functions'].str.split(',').to_frame()

In [16]:
phase5_functions['unique'] = phase5_functions['functions'].apply(pd.unique)
phase5_functions['unique']

0                                                     []
1      [FirstLook.css, bootstrap.min.css, jquery.min....
2      [.ajax, data.cityofchicago.org, rows.json, .do...
3      [up.net, shiv.js, main.css, .css, jquery.min.j...
4      [console.log, jQuery.parseJSON, .ajax, .done, ...
                             ...
160    [house.ico, style.css, .css, main.js, map.js, ...
161    [style.css, bootstrap.min.css, .js, scripts.js...
162                                                   []
163    [document.getElementById, google.maps.Map, goo...
164    [materialize.min.css, style.css, awesome.min.c...
Name: unique, Length: 165, dtype: object

In [17]:
phase5_functions['len_unique'] = phase5_functions['unique'].str.len()-1
phase5_functions

,functions,unique,len_unique
0,[],[],0
1,"[FirstLook.css, bootstrap.min.css, jquery.min....","[FirstLook.css, bootstrap.min.css, jquery.min....",52
2,"[.ajax, data.cityofchicago.org, rows.json, .do...","[.ajax, data.cityofchicago.org, rows.json, .do...",2009
3,"[up.net, shiv.js, main.css, .css, jquery.min.j...","[up.net, shiv.js, main.css, .css, jquery.min.j...",62
4,"[console.log, jQuery.parseJSON, .ajax, .done, ...","[console.log, jQuery.parseJSON, .ajax, .done, ...",463
...,...,...,...
160,"[house.ico, style.css, .css, main.js, map.js, ...","[house.ico, style.css, .css, main.js, map.js, ...",2297
161,"[style.css, bootstrap.min.css, .js, scripts.js...","[style.css, bootstrap.min.css, .js, scripts.js...",21
162,[],[],0
163,"[document.getElementById, google.maps.Map, goo...","[document.getElementById, google.maps.Map, goo...",4
164,"[materialize.min.css, style.css, awesome.min.c...","[materialize.min.css, style.css, awesome.min.c...",2059

In [18]:
import glob 
import pandas as pd

phase1_name = glob.glob("../../../../Library/CloudStorage/Box-Box/NSF IronHacks App 2016 - 2019/05 Experiments 2017/01 Hack Spring 2017/01 Summary Spring 2017/02 Data/processed-data/bogota-functions-output/spring2017-goldironhack-phase1/*")  # get all .csv files from the working dir
assert isinstance(phase1_name, list)
phase1_name = pd.DataFrame(phase1_name, columns = ['username'])
components = phase1_name.username.str[1:].str.split('-', expand = True)
phase1_name['Student'] = components[11]
phase1_name_drop = phase1_name.drop(['username'], axis=1)
phase1_name_drop

          Student
0          cap182
1       nfmorenog
2      falperezgo
3    lfvalderrama
4       xdanielsb
..            ...
160     mnguzmanc
161   Semoralesga
162   jhcardenasa
163        crigar
164     AFelipeGA

[165 rows x 1 columns]

In [19]:
import glob 
import pandas as pd

phase2_name = glob.glob("../../../../Library/CloudStorage/Box-Box/NSF IronHacks App 2016 - 2019/05 Experiments 2017/01 Hack Spring 2017/01 Summary Spring 2017/02 Data/processed-data/bogota-functions-output/spring2017-goldironhack-phase2/*")  # get all .csv files from the working dir
assert isinstance(phase2_name, list)
phase2_name = pd.DataFrame(phase2_name, columns = ['username'])
components = phase2_name.username.str[1:].str.split('-', expand = True)
phase2_name['Student'] = components[11]
phase2_name_drop = phase2_name.drop(['username'], axis=1)
phase2_name_drop

          Student
0          cap182
1       nfmorenog
2      falperezgo
3    lfvalderrama
4       xdanielsb
..            ...
160     mnguzmanc
161   Semoralesga
162   jhcardenasa
163        crigar
164     AFelipeGA

[165 rows x 1 columns]

In [20]:
import glob 
import pandas as pd

phase3_name = glob.glob("../../../../Library/CloudStorage/Box-Box/NSF IronHacks App 2016 - 2019/05 Experiments 2017/01 Hack Spring 2017/01 Summary Spring 2017/02 Data/processed-data/bogota-functions-output/spring2017-goldironhack-phase3/*")  # get all .csv files from the working dir
assert isinstance(phase3_name, list)
phase3_name = pd.DataFrame(phase3_name, columns = ['username'])
components = phase3_name.username.str[1:].str.split('-', expand = True)
phase3_name['Student'] = components[11]
phase3_name_drop = phase3_name.drop(['username'], axis=1)
phase3_name_drop

          Student
0          cap182
1       nfmorenog
2      falperezgo
3    lfvalderrama
4       xdanielsb
..            ...
160     mnguzmanc
161   Semoralesga
162   jhcardenasa
163        crigar
164     AFelipeGA

[165 rows x 1 columns]

In [21]:
import glob 
import pandas as pd

phase4_name = glob.glob("../../../../Library/CloudStorage/Box-Box/NSF IronHacks App 2016 - 2019/05 Experiments 2017/01 Hack Spring 2017/01 Summary Spring 2017/02 Data/processed-data/bogota-functions-output/spring2017-goldironhack-phase4/*")  # get all .csv files from the working dir
assert isinstance(phase4_name, list)
phase4_name = pd.DataFrame(phase4_name, columns = ['username'])
components = phase4_name.username.str[1:].str.split('-', expand = True)
phase4_name['Student'] = components[11]
phase4_name_drop = phase4_name.drop(['username'], axis=1)
phase4_name_drop

          Student
0          cap182
1       nfmorenog
2      falperezgo
3    lfvalderrama
4       xdanielsb
..            ...
160     mnguzmanc
161   Semoralesga
162   jhcardenasa
163        crigar
164     AFelipeGA

[165 rows x 1 columns]

In [22]:
import glob 
import pandas as pd

phase5_name = glob.glob("../../../../Library/CloudStorage/Box-Box/NSF IronHacks App 2016 - 2019/05 Experiments 2017/01 Hack Spring 2017/01 Summary Spring 2017/02 Data/processed-data/bogota-functions-output/spring2017-goldironhack-phase5/*")  # get all .csv files from the working dir
assert isinstance(phase5_name, list)
phase5_name = pd.DataFrame(phase5_name, columns = ['username'])
components = phase5_name.username.str[1:].str.split('-', expand = True)
phase5_name['Student'] = components[11]
phase5_name_drop = phase5_name.drop(['username'], axis=1)
phase5_name_drop

          Student
0          cap182
1       nfmorenog
2      falperezgo
3    lfvalderrama
4       xdanielsb
..            ...
160     mnguzmanc
161   Semoralesga
162   jhcardenasa
163        crigar
164     AFelipeGA

[165 rows x 1 columns]

## Functions Dataframe for Phase 1

In [23]:
phase1 = pd.concat([phase1_name_drop, phase1_functions], axis=1)

phase1

,Student,functions,unique,len_unique
0,cap182,[],[],0
1,nfmorenog,"[FirstLook.css, bootstrap.min.css, jquery.min....","[FirstLook.css, bootstrap.min.css, jquery.min....",16
2,falperezgo,"[materialize.min.css, materialize.min.js, .min...","[materialize.min.css, materialize.min.js, .min...",21
3,lfvalderrama,"[jquery.min.js, styles.css, init.js, .containe...","[jquery.min.js, styles.css, init.js, .containe...",29
4,xdanielsb,"[bootstrap.min.css, theme.min.css, aos.css, co...","[bootstrap.min.css, theme.min.css, aos.css, co...",165
...,...,...,...,...
160,mnguzmanc,"[style.css, map.js, document.getElementById, g...","[style.css, map.js, document.getElementById, g...",5
161,Semoralesga,"[style.css, scripts.js, document.getElementByI...","[style.css, scripts.js, document.getElementByI...",5
162,jhcardenasa,[],[],0
163,crigar,"[document.getElementById, google.maps.Map, goo...","[document.getElementById, google.maps.Map, goo...",4
164,AFelipeGA,"[eslint.org, module.exports, RULES.md, .vue, p...","[eslint.org, module.exports, RULES.md, .vue, p...",113

### phase 1 functions dataframe merge with overall dataframe to know the groups.

In [24]:
overall_phase1 = overall_loc_scores_final.merge(phase1[['Student','functions', 'unique', 'len_unique']], on='Student', how='left')
overall_phase1['unique']

0      [.ready, .click, .mcheck, .on, .closest, .list...
1      [style.css, map.js, document.getElementById, g...
2                                                     []
3                                                     []
4                                                     []
                             ...
163                                                   []
164    [document.getElementById, google.maps.Map, goo...
165    [bootstrap.min.css, main.js, jquery.min.js, do...
166    [main.css, bootstrap.min.css, jquery.min.js, b...
167                                                   []
Name: unique, Length: 168, dtype: object

## Functions Dataframe for Phase 2

In [25]:
phase2 = pd.concat([phase2_name_drop, phase2_functions], axis=1)

phase2

,Student,functions,unique,len_unique
0,cap182,[],[],0
1,nfmorenog,"[FirstLook.css, bootstrap.min.css, jquery.min....","[FirstLook.css, bootstrap.min.css, jquery.min....",43
2,falperezgo,"[materialize.css, materialize.js, materialize....","[materialize.css, materialize.js, materialize....",1944
3,lfvalderrama,"[jquery.min.js, styles.css, init.js, test.js, ...","[jquery.min.js, styles.css, init.js, test.js, ...",40
4,xdanielsb,"[.ajax, .done, console.log, .fail, data.cityof...","[.ajax, .done, console.log, .fail, data.cityof...",185
...,...,...,...,...
160,mnguzmanc,"[house.ico, style.css, map.js, Chicago.jpg, do...","[house.ico, style.css, map.js, Chicago.jpg, do...",25
161,Semoralesga,"[style.css, .js, scripts.js, .ready, .click, ....","[style.css, .js, scripts.js, .ready, .click, ....",2257
162,jhcardenasa,[],[],0
163,crigar,"[document.getElementById, google.maps.Map, goo...","[document.getElementById, google.maps.Map, goo...",4
164,AFelipeGA,"[materialize.min.css, style.css, awesome.min.c...","[materialize.min.css, style.css, awesome.min.c...",2059

### phase 2 functions dataframe merge with overall dataframe to know the groups.

In [26]:
overall_phase2 = overall_loc_scores_final.merge(phase2[['Student','functions', 'unique', 'len_unique']], on='Student', how='left')
overall_phase2

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,improve-effort-15,improve-effort-25,d3-effort-12,d3-effort-23,d3-effort-34,d3-effort-45,d3-effort-15,functions,unique,len_unique
0,fffeelipe,0.0,20.0,29.17,50.00,199.17,100.0,100.0,20.0,29.17,...,-32.5,0.0,0.0,0.0,0.0,0.0,0.0,"[.ready, .click, .mcheck, .on, .closest, .list...","[.ready, .click, .mcheck, .on, .closest, .list...",30.0
1,mnguzmanc,0.0,60.0,75.00,67.50,290.00,87.5,87.5,20.0,37.50,...,-29.0,-21.0,0.0,0.0,0.0,0.0,0.0,"[house.ico, style.css, map.js, Chicago.jpg, do...","[house.ico, style.css, map.js, Chicago.jpg, do...",25.0
2,jmcuestasb,0.0,100.0,54.17,25.00,254.17,75.0,62.5,100.0,58.33,...,7.0,-12.0,0.0,0.0,0.0,0.0,0.0,"[js.org, .v, .min.js, weather.js, mycss.css, b...","[js.org, .v, .min.js, weather.js, mycss.css, b...",7051.0
3,katherinsb,0.0,20.0,37.50,16.67,136.67,62.5,37.5,20.0,45.83,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[],[],0.0
4,jjrodriguezn,0.0,60.0,58.33,87.50,255.83,50.0,37.5,40.0,54.17,...,0.0,34.5,0.0,0.0,0.0,0.0,0.0,"[data.cityofchicago.org, rows.json, .ajax, goo...","[data.cityofchicago.org, rows.json, .ajax, goo...",19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,JhonEmmanuelTorres,3.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[],[],0.0
164,janoguerab,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[js.org, .v, .min.js, document.getElementById,...","[js.org, .v, .min.js, document.getElementById,...",36.0
165,djsanabriac,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[bootstrap.min.css, main.js, jquery.min.js, do...","[bootstrap.min.css, main.js, jquery.min.js, do...",32.0
166,anmmunozme,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[.ready, .click, .ajax, data.cityofchicago.org...","[.ready, .click, .ajax, data.cityofchicago.org...",23.0
167,li2266,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[],[],0.0

## Functions Dataframe for Phase 3

In [27]:
phase3 = pd.concat([phase3_name_drop, phase3_functions], axis=1)

phase3

,Student,functions,unique,len_unique
0,cap182,[],[],0
1,nfmorenog,"[FirstLook.css, bootstrap.min.css, jquery.min....","[FirstLook.css, bootstrap.min.css, jquery.min....",52
2,falperezgo,"[materialize.css, materialize.js, materialize....","[materialize.css, materialize.js, materialize....",1944
3,lfvalderrama,"[jquery.min.js, styles.css, init.js, handler.j...","[jquery.min.js, styles.css, init.js, handler.j...",59
4,xdanielsb,"[console.log, jQuery.parseJSON, .ajax, .done, ...","[console.log, jQuery.parseJSON, .ajax, .done, ...",193
...,...,...,...,...
160,mnguzmanc,"[house.ico, style.css, .css, main.js, map.js, ...","[house.ico, style.css, .css, main.js, map.js, ...",2273
161,Semoralesga,"[style.css, .js, scripts.js, .ready, .click, ....","[style.css, .js, scripts.js, .ready, .click, ....",2257
162,jhcardenasa,[],[],0
163,crigar,"[document.getElementById, google.maps.Map, goo...","[document.getElementById, google.maps.Map, goo...",4
164,AFelipeGA,"[materialize.min.css, style.css, awesome.min.c...","[materialize.min.css, style.css, awesome.min.c...",2059

### phase 3 functions dataframe merge with overall dataframe to know the groups.

In [28]:
overall_phase3 = overall_loc_scores_final.merge(phase3[['Student','functions', 'unique', 'len_unique']], on='Student', how='left')
overall_phase3

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,improve-effort-15,improve-effort-25,d3-effort-12,d3-effort-23,d3-effort-34,d3-effort-45,d3-effort-15,functions,unique,len_unique
0,fffeelipe,0.0,20.0,29.17,50.00,199.17,100.0,100.0,20.0,29.17,...,-32.5,0.0,0.0,0.0,0.0,0.0,0.0,"[.ready, .click, .mcheck, .on, .closest, .list...","[.ready, .click, .mcheck, .on, .closest, .list...",30.0
1,mnguzmanc,0.0,60.0,75.00,67.50,290.00,87.5,87.5,20.0,37.50,...,-29.0,-21.0,0.0,0.0,0.0,0.0,0.0,"[house.ico, style.css, .css, main.js, map.js, ...","[house.ico, style.css, .css, main.js, map.js, ...",2273.0
2,jmcuestasb,0.0,100.0,54.17,25.00,254.17,75.0,62.5,100.0,58.33,...,7.0,-12.0,0.0,0.0,0.0,0.0,0.0,"[js.org, .v, .min.js, weather.js, mycss.css, b...","[js.org, .v, .min.js, weather.js, mycss.css, b...",7051.0
3,katherinsb,0.0,20.0,37.50,16.67,136.67,62.5,37.5,20.0,45.83,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[],[],0.0
4,jjrodriguezn,0.0,60.0,58.33,87.50,255.83,50.0,37.5,40.0,54.17,...,0.0,34.5,0.0,0.0,0.0,0.0,0.0,"[google.maps.Map, document.getElementById, goo...","[google.maps.Map, document.getElementById, goo...",27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,JhonEmmanuelTorres,3.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[],[],0.0
164,janoguerab,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[js.org, .v, .min.js, document.getElementById,...","[js.org, .v, .min.js, document.getElementById,...",36.0
165,djsanabriac,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[bootstrap.min.css, main.js, jquery.min.js, do...","[bootstrap.min.css, main.js, jquery.min.js, do...",32.0
166,anmmunozme,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[.ready, .click, .ajax, data.cityofchicago.org...","[.ready, .click, .ajax, data.cityofchicago.org...",36.0
167,li2266,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[],[],0.0

## Functions Dataframe for Phase 4

In [29]:
phase4 = pd.concat([phase4_name_drop, phase4_functions], axis=1)

phase4

,Student,functions,unique,len_unique
0,cap182,[],[],0
1,nfmorenog,"[FirstLook.css, bootstrap.min.css, jquery.min....","[FirstLook.css, bootstrap.min.css, jquery.min....",52
2,falperezgo,"[.ajax, data.cityofchicago.org, rows.json, .do...","[.ajax, data.cityofchicago.org, rows.json, .do...",2003
3,lfvalderrama,"[up.net, shiv.js, main.css, .css, jquery.min.j...","[up.net, shiv.js, main.css, .css, jquery.min.j...",62
4,xdanielsb,"[console.log, jQuery.parseJSON, .ajax, .done, ...","[console.log, jQuery.parseJSON, .ajax, .done, ...",229
...,...,...,...,...
160,mnguzmanc,"[house.ico, style.css, .css, main.js, map.js, ...","[house.ico, style.css, .css, main.js, map.js, ...",2290
161,Semoralesga,"[style.css, bootstrap.min.css, .js, scripts.js...","[style.css, bootstrap.min.css, .js, scripts.js...",17
162,jhcardenasa,[],[],0
163,crigar,"[document.getElementById, google.maps.Map, goo...","[document.getElementById, google.maps.Map, goo...",4
164,AFelipeGA,"[materialize.min.css, style.css, awesome.min.c...","[materialize.min.css, style.css, awesome.min.c...",2059

### phase 4 functions dataframe merge with overall dataframe to know the groups.

In [30]:
overall_phase4 = overall_loc_scores_final.merge(phase4[['Student','functions', 'unique', 'len_unique']], on='Student', how='left')
overall_phase4

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,improve-effort-15,improve-effort-25,d3-effort-12,d3-effort-23,d3-effort-34,d3-effort-45,d3-effort-15,functions,unique,len_unique
0,fffeelipe,0.0,20.0,29.17,50.00,199.17,100.0,100.0,20.0,29.17,...,-32.5,0.0,0.0,0.0,0.0,0.0,0.0,"[.ready, .click, .removeClass, .is, .val, .che...","[.ready, .click, .removeClass, .is, .val, .che...",106.0
1,mnguzmanc,0.0,60.0,75.00,67.50,290.00,87.5,87.5,20.0,37.50,...,-29.0,-21.0,0.0,0.0,0.0,0.0,0.0,"[house.ico, style.css, .css, main.js, map.js, ...","[house.ico, style.css, .css, main.js, map.js, ...",2290.0
2,jmcuestasb,0.0,100.0,54.17,25.00,254.17,75.0,62.5,100.0,58.33,...,7.0,-12.0,0.0,0.0,0.0,0.0,0.0,"[js.org, .v, .min.js, weather.js, mycss.css, b...","[js.org, .v, .min.js, weather.js, mycss.css, b...",7051.0
3,katherinsb,0.0,20.0,37.50,16.67,136.67,62.5,37.5,20.0,45.83,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[reset.css, layout.css, style.css, .js, yui.js...","[reset.css, layout.css, style.css, .js, yui.js...",21.0
4,jjrodriguezn,0.0,60.0,58.33,87.50,255.83,50.0,37.5,40.0,54.17,...,0.0,34.5,0.0,0.0,0.0,0.0,0.0,"[google.maps.Map, document.getElementById, goo...","[google.maps.Map, document.getElementById, goo...",28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,JhonEmmanuelTorres,3.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[],[],0.0
164,janoguerab,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[js.org, .v, .min.js, document.getElementById,...","[js.org, .v, .min.js, document.getElementById,...",36.0
165,djsanabriac,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[bootstrap.min.css, main.js, jquery.min.js, do...","[bootstrap.min.css, main.js, jquery.min.js, do...",32.0
166,anmmunozme,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[.ajax, data.cityofchicago.org, iimk.json, .do...","[.ajax, data.cityofchicago.org, iimk.json, .do...",54.0
167,li2266,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[],[],0.0

## Functions Dataframe for Phase 5

In [31]:
phase5 = pd.concat([phase5_name_drop, phase5_functions], axis=1)

phase5

,Student,functions,unique,len_unique
0,cap182,[],[],0
1,nfmorenog,"[FirstLook.css, bootstrap.min.css, jquery.min....","[FirstLook.css, bootstrap.min.css, jquery.min....",52
2,falperezgo,"[.ajax, data.cityofchicago.org, rows.json, .do...","[.ajax, data.cityofchicago.org, rows.json, .do...",2009
3,lfvalderrama,"[up.net, shiv.js, main.css, .css, jquery.min.j...","[up.net, shiv.js, main.css, .css, jquery.min.j...",62
4,xdanielsb,"[console.log, jQuery.parseJSON, .ajax, .done, ...","[console.log, jQuery.parseJSON, .ajax, .done, ...",463
...,...,...,...,...
160,mnguzmanc,"[house.ico, style.css, .css, main.js, map.js, ...","[house.ico, style.css, .css, main.js, map.js, ...",2297
161,Semoralesga,"[style.css, bootstrap.min.css, .js, scripts.js...","[style.css, bootstrap.min.css, .js, scripts.js...",21
162,jhcardenasa,[],[],0
163,crigar,"[document.getElementById, google.maps.Map, goo...","[document.getElementById, google.maps.Map, goo...",4
164,AFelipeGA,"[materialize.min.css, style.css, awesome.min.c...","[materialize.min.css, style.css, awesome.min.c...",2059

### phase 5 functions dataframe merge with overall dataframe to know the groups.

In [32]:
overall_phase5 = overall_loc_scores_final.merge(phase5[['Student','functions', 'unique', 'len_unique']], on='Student', how='left')
overall_phase5

,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,user-requirement-phase4,infovis-phase4,...,improve-effort-15,improve-effort-25,d3-effort-12,d3-effort-23,d3-effort-34,d3-effort-45,d3-effort-15,functions,unique,len_unique
0,fffeelipe,0.0,20.0,29.17,50.00,199.17,100.0,100.0,20.0,29.17,...,-32.5,0.0,0.0,0.0,0.0,0.0,0.0,"[.ready, .click, .css, .removeClass, .is, .val...","[.ready, .click, .css, .removeClass, .is, .val...",116.0
1,mnguzmanc,0.0,60.0,75.00,67.50,290.00,87.5,87.5,20.0,37.50,...,-29.0,-21.0,0.0,0.0,0.0,0.0,0.0,"[house.ico, style.css, .css, main.js, map.js, ...","[house.ico, style.css, .css, main.js, map.js, ...",2297.0
2,jmcuestasb,0.0,100.0,54.17,25.00,254.17,75.0,62.5,100.0,58.33,...,7.0,-12.0,0.0,0.0,0.0,0.0,0.0,"[js.org, .v, .min.js, weather.js, myss.css, bo...","[js.org, .v, .min.js, weather.js, myss.css, bo...",7051.0
3,katherinsb,0.0,20.0,37.50,16.67,136.67,62.5,37.5,20.0,45.83,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[reset.css, layout.css, style.css, jquery.min....","[reset.css, layout.css, style.css, jquery.min....",2290.0
4,jjrodriguezn,0.0,60.0,58.33,87.50,255.83,50.0,37.5,40.0,54.17,...,0.0,34.5,0.0,0.0,0.0,0.0,0.0,"[google.maps.Map, document.getElementById, goo...","[google.maps.Map, document.getElementById, goo...",31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,JhonEmmanuelTorres,3.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[],[],0.0
164,janoguerab,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[js.org, .v, .min.js, document.getElementById,...","[js.org, .v, .min.js, document.getElementById,...",36.0
165,djsanabriac,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[bootstrap.min.css, main.js, jquery.min.js, do...","[bootstrap.min.css, main.js, jquery.min.js, do...",32.0
166,anmmunozme,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[.ajax, data.cityofchicago.org, iimk.json, .do...","[.ajax, data.cityofchicago.org, iimk.json, .do...",2297.0
167,li2266,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[],[],0.0

## Extract Bogota 0, 1, 2, 3 from Phase 1 Dataframe

In [33]:
overall_phase1_bogota0 = overall_phase1.loc[overall_phase1['Group'] == 0]
overall_phase1_bogota1 = overall_phase1.loc[overall_phase1['Group'] == 1]
overall_phase1_bogota2 = overall_phase1.loc[overall_phase1['Group'] == 2]
overall_phase1_bogota3 = overall_phase1.loc[overall_phase1['Group'] == 3]

## Extract Bogota 0, 1, 2, 3 from Phase 2 Data Frame

In [34]:
overall_phase2_bogota0 = overall_phase2.loc[overall_phase2['Group'] == 0]
overall_phase2_bogota1 = overall_phase2.loc[overall_phase2['Group'] == 1]
overall_phase2_bogota2 = overall_phase2.loc[overall_phase2['Group'] == 2]
overall_phase2_bogota3 = overall_phase2.loc[overall_phase2['Group'] == 3]

## Extract Bogota 0, 1, 2, 3 from Phase 3 Data Frame

In [35]:
overall_phase3_bogota0 = overall_phase3.loc[overall_phase3['Group'] == 0]
overall_phase3_bogota1 = overall_phase3.loc[overall_phase3['Group'] == 1]
overall_phase3_bogota2 = overall_phase3.loc[overall_phase3['Group'] == 2]
overall_phase3_bogota3 = overall_phase3.loc[overall_phase3['Group'] == 3]

## Extract Bogota 0, 1, 2, 3 from Phase 4 Data Frame

In [36]:
overall_phase4_bogota0 = overall_phase4.loc[overall_phase4['Group'] == 0]
overall_phase4_bogota1 = overall_phase4.loc[overall_phase4['Group'] == 1]
overall_phase4_bogota2 = overall_phase4.loc[overall_phase4['Group'] == 2]
overall_phase4_bogota3 = overall_phase4.loc[overall_phase4['Group'] == 3]

## Extract Bogota 0, 1, 2, 3 from Phase 5 Data Frame

In [37]:
overall_phase5_bogota0 = overall_phase5.loc[overall_phase5['Group'] == 0]
overall_phase5_bogota1 = overall_phase5.loc[overall_phase5['Group'] == 1]
overall_phase5_bogota2 = overall_phase5.loc[overall_phase5['Group'] == 2]
overall_phase5_bogota3 = overall_phase5.loc[overall_phase5['Group'] == 3]

In [38]:
%store overall_phase1
%store overall_phase2
%store overall_phase3
%store overall_phase4
%store overall_phase5

%store overall_phase1_bogota0
%store overall_phase1_bogota1
%store overall_phase1_bogota2
%store overall_phase1_bogota3

%store overall_phase2_bogota0
%store overall_phase2_bogota1
%store overall_phase2_bogota2
%store overall_phase2_bogota3

%store overall_phase3_bogota0
%store overall_phase3_bogota1
%store overall_phase3_bogota2
%store overall_phase3_bogota3

%store overall_phase4_bogota0
%store overall_phase4_bogota1
%store overall_phase4_bogota2
%store overall_phase4_bogota3

%store overall_phase5_bogota0
%store overall_phase5_bogota1
%store overall_phase5_bogota2
%store overall_phase5_bogota3

Stored 'overall_phase1' (DataFrame)
Stored 'overall_phase2' (DataFrame)
Stored 'overall_phase3' (DataFrame)
Stored 'overall_phase4' (DataFrame)
Stored 'overall_phase5' (DataFrame)
Stored 'overall_phase1_bogota0' (DataFrame)
Stored 'overall_phase1_bogota1' (DataFrame)
Stored 'overall_phase1_bogota2' (DataFrame)
Stored 'overall_phase1_bogota3' (DataFrame)
Stored 'overall_phase2_bogota0' (DataFrame)
Stored 'overall_phase2_bogota1' (DataFrame)
Stored 'overall_phase2_bogota2' (DataFrame)
Stored 'overall_phase2_bogota3' (DataFrame)
Stored 'overall_phase3_bogota0' (DataFrame)
Stored 'overall_phase3_bogota1' (DataFrame)
Stored 'overall_phase3_bogota2' (DataFrame)
Stored 'overall_phase3_bogota3' (DataFrame)
Stored 'overall_phase4_bogota0' (DataFrame)
Stored 'overall_phase4_bogota1' (DataFrame)
Stored 'overall_phase4_bogota2' (DataFrame)
Stored 'overall_phase4_bogota3' (DataFrame)
Stored 'overall_phase5_bogota0' (DataFrame)
Stored 'overall_phase5_bogota1' (DataFrame)
Stored 'overall_phase5_bogota2' (DataFrame)
Stored 'overall_phase5_bogota3' (DataFrame)