In [1]:
%store -r phase1_group0
%store -r phase1_group1
%store -r phase1_group2
%store -r phase1_group3

%store -r phase2_group0
%store -r phase2_group1
%store -r phase2_group2
%store -r phase2_group3

%store -r phase3_group0
%store -r phase3_group1
%store -r phase3_group2
%store -r phase3_group3

%store -r phase4_group0
%store -r phase4_group1
%store -r phase4_group2
%store -r phase4_group3

%store -r phase5_group0
%store -r phase5_group1
%store -r phase5_group2
%store -r phase5_group3

%store -r survey
%store -r commits

import pandas as pd

In [2]:
phase1_group0['phase'] = 1
phase1_group1['phase'] = 1
phase1_group2['phase'] = 1
phase1_group3['phase'] = 1

phase2_group0['phase'] = 2
phase2_group1['phase'] = 2
phase2_group2['phase'] = 2
phase2_group3['phase'] = 2

phase3_group0['phase'] = 3
phase3_group1['phase'] = 3
phase3_group2['phase'] = 3
phase3_group3['phase'] = 3

phase4_group0['phase'] = 4
phase4_group1['phase'] = 4
phase4_group2['phase'] = 4
phase4_group3['phase'] = 4

phase5_group0['phase'] = 5
phase5_group1['phase'] = 5
phase5_group2['phase'] = 5
phase5_group3['phase'] = 5

In [3]:
template = pd.concat([phase1_group0, phase2_group0, phase3_group0, phase4_group0, phase5_group0, 
          phase1_group1, phase2_group1, phase3_group1, phase4_group1, phase5_group1,
          phase1_group2, phase2_group2, phase3_group2, phase4_group2, phase5_group2,
          phase1_group3, phase2_group3, phase3_group3, phase4_group3, phase5_group3], ignore_index = True)
template = template[['user1', 'similarity', 'group', 'phase']]

In [4]:
template

             user1  similarity  group  phase
0        mnguzmanc    0.056000      0      1
1            DglyP    0.016000      0      1
2      Judgarciani    0.028777      0      1
3        sacastroc    0.056911      0      1
4        pcberriop    0.046667      0      1
..             ...         ...    ...    ...
663        DavidQP    0.093923      3      5
664    afceballosr    0.130137      3      5
665      lizzyt10h    0.072000      3      5
666     NicolasPrr    0.103448      3      5
667  jumcorredorro    0.125926      3      5

[668 rows x 4 columns]

In [5]:
commits = commits.rename(columns={'Student': 'user1'})
commits

,Unnamed: 0,index,user1,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,...,files,additions,deletions,email_name,email_y,hack_id,dates,dates.1,phase,count
0,0,0,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,6.0,168.0,78.0,lfepiar,lfepiar@unal.edu.co,0.0,23/04/2017,23/04/2017,5.0,1
1,1,3,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,281.0,295.0,lfepiar,lfepiar@unal.edu.co,0.0,13/04/2017,13/04/2017,4.0,3
2,2,4,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,6.0,324.0,80.0,lfepiar,lfepiar@unal.edu.co,0.0,11/04/2017,11/04/2017,3.0,1
3,3,5,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,108.0,1339.0,lfepiar,lfepiar@unal.edu.co,0.0,05/04/2017,05/04/2017,2.0,1
4,4,7,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,382.0,2.0,lfepiar,lfepiar@unal.edu.co,0.0,30/03/2017,30/03/2017,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,535,1508,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,5.0,578.0,34.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,23/04/2017,23/04/2017,5.0,1
536,536,1509,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,3.0,266.0,12.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,17/04/2017,17/04/2017,4.0,1
537,537,1512,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,15.0,469.0,202.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,11/04/2017,11/04/2017,3.0,3
538,538,1514,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,10.0,316.0,32.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,02/04/2017,02/04/2017,2.0,2
539,539,1518,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,12.0,245.0,2.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,30/03/2017,30/03/2017,1.0,4

In [6]:
survey = survey.rename(columns={'user2': 'user1'})
survey

                  user1  Q7_Q7_1  Q7_Q7_2  Q8_Q8_1  Q10
0             fffeelipe      1.0      0.0      5.0  3.0
1             mnguzmanc      2.0      1.0      3.0  2.0
2            jmcuestasb      1.0      3.0      4.0  2.0
3            katherinsb      1.0      2.0      4.0  2.0
4          jjrodriguezn      2.0      2.0      3.0  1.0
..                  ...      ...      ...      ...  ...
159          NicolasPrr      3.0      4.0      3.0  2.0
160       jumcorredorro      1.0      1.0      5.0  2.0
161          feartheGru      2.0      2.0      5.0  2.0
162        Danielsv9207      1.0      1.0      1.0  3.0
163  JhonEmmanuelTorres      5.0      4.0      5.0  2.0

[160 rows x 5 columns]

In [11]:
df = pd.merge(template, commits[['user1', 'count']], on='user1', how='left')
df = df.drop_duplicates(subset=['user1', 'similarity', 'phase'])
df

              user1  similarity  group  phase  count
0         mnguzmanc    0.056000      0      1    8.0
4             DglyP    0.016000      0      1   11.0
9       Judgarciani    0.028777      0      1    7.0
14        sacastroc    0.056911      0      1    1.0
19        pcberriop    0.046667      0      1    2.0
...             ...         ...    ...    ...    ...
2514        DavidQP    0.093923      3      5    1.0
2519    afceballosr    0.130137      3      5    1.0
2523      lizzyt10h    0.072000      3      5    5.0
2528     NicolasPrr    0.103448      3      5    1.0
2532  jumcorredorro    0.125926      3      5    1.0

[668 rows x 5 columns]

In [12]:
df1 = pd.merge(df, survey[['user1', 'Q7_Q7_1', 'Q7_Q7_2', 'Q8_Q8_1', 'Q10']], on='user1', how='left')
df2 = df1.drop_duplicates(subset=['user1', 'similarity', 'phase'])
df2

,user1,similarity,group,phase,count,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10
0,mnguzmanc,0.056000,0,1,8.0,2.0,1.0,3.0,2.0
1,DglyP,0.016000,0,1,11.0,1.0,3.0,4.0,3.0
2,Judgarciani,0.028777,0,1,7.0,3.0,3.0,4.0,2.0
3,sacastroc,0.056911,0,1,1.0,1.0,2.0,4.0,2.0
4,pcberriop,0.046667,0,1,2.0,0.0,1.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...
668,DavidQP,0.093923,3,5,1.0,2.0,3.0,4.0,3.0
669,afceballosr,0.130137,3,5,1.0,1.0,3.0,5.0,2.0
670,lizzyt10h,0.072000,3,5,5.0,2.0,1.0,5.0,2.0
671,NicolasPrr,0.103448,3,5,1.0,3.0,4.0,3.0,2.0
672,jumcorredorro,0.125926,3,5,1.0,1.0,1.0,5.0,2.0

In [13]:
df2.to_csv('template.csv')