In [6]:
# retrieve variables from rareness notebook

%store -r group0_phase1_match10
%store -r group0_phase2_match10
%store -r group0_phase3_match10
%store -r group0_phase4_match10
%store -r group0_phase5_match10

%store -r group1_phase1_match10
%store -r group1_phase2_match10
%store -r group1_phase3_match10
%store -r group1_phase4_match10
%store -r group1_phase5_match10

%store -r group2_phase1_match10
%store -r group2_phase2_match10
%store -r group2_phase3_match10
%store -r group2_phase4_match10
%store -r group2_phase5_match10

%store -r group3_phase1_match10
%store -r group3_phase2_match10
%store -r group3_phase3_match10
%store -r group3_phase4_match10
%store -r group3_phase5_match10

# retrive  variables from relational novelty notebook
%store -r survey
%store -r commits

In [9]:
group0_phase1_match10['phase'] = 1
group0_phase2_match10['phase'] = 2
group0_phase3_match10['phase'] = 3
group0_phase4_match10['phase'] = 4
group0_phase5_match10['phase'] = 5

group1_phase1_match10['phase'] = 1
group1_phase2_match10['phase'] = 2
group1_phase3_match10['phase'] = 3
group1_phase4_match10['phase'] = 4
group1_phase5_match10['phase'] = 5

group2_phase1_match10['phase'] = 1
group2_phase2_match10['phase'] = 2
group2_phase3_match10['phase'] = 3
group2_phase4_match10['phase'] = 4
group2_phase5_match10['phase'] = 5

group3_phase1_match10['phase'] = 1
group3_phase2_match10['phase'] = 2
group3_phase3_match10['phase'] = 3
group3_phase4_match10['phase'] = 4
group3_phase5_match10['phase'] = 5

In [10]:
survey

                  user2  Q7_Q7_1  Q7_Q7_2  Q8_Q8_1  Q10
0             fffeelipe      1.0      0.0      5.0  3.0
1             mnguzmanc      2.0      1.0      3.0  2.0
2            jmcuestasb      1.0      3.0      4.0  2.0
3            katherinsb      1.0      2.0      4.0  2.0
4          jjrodriguezn      2.0      2.0      3.0  1.0
..                  ...      ...      ...      ...  ...
159          NicolasPrr      3.0      4.0      3.0  2.0
160       jumcorredorro      1.0      1.0      5.0  2.0
161          feartheGru      2.0      2.0      5.0  2.0
162        Danielsv9207      1.0      1.0      1.0  3.0
163  JhonEmmanuelTorres      5.0      4.0      5.0  2.0

[160 rows x 5 columns]