In [1]:
%store -r bogota_final
%store -r survey
import pandas as pd

In [2]:
p1 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase1']]
p1.rename(columns = {'abs_perform_diff_best_phase1':'abs_perform_diff_best'}, inplace = True)
p1['phase'] = 1
p2 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase2']]
p2.rename(columns = {'abs_perform_diff_best_phase2':'abs_perform_diff_best'}, inplace = True)
p2['phase'] = 2
p3 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase3']]
p3.rename(columns = {'abs_perform_diff_best_phase3':'abs_perform_diff_best'}, inplace = True)
p3['phase'] = 3
p4 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase4']]
p4.rename(columns = {'abs_perform_diff_best_phase4':'abs_perform_diff_best'}, inplace = True)
p4['phase'] = 4
p5 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase5']]
p5.rename(columns = {'abs_perform_diff_best_phase5':'abs_perform_diff_best'}, inplace = True)
p5['phase'] = 5

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_6765/305279030.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p1['phase'] = 1
/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_6765/305279030.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2['phase'] = 2
/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_6765/305279030.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p3['phase'] = 3
/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_6765/305279030.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p4['phase'] = 4
/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_6765/305279030.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p5['phase'] = 5

In [3]:
perform_dist = pd.concat([p1, p2, p3, p4, p5], ignore_index = True)
perform_dist.reset_index()

     index             Student  group  abs_perform_diff_best  phase
0        0           fffeelipe      0                 201.66      1
1        1           mnguzmanc      0                 213.33      1
2        2          jmcuestasb      0                 250.83      1
3        3          katherinsb      0                 300.83      1
4        4        jjrodriguezn      0                 300.83      1
..     ...                 ...    ...                    ...    ...
810    810          NicolasPrr      3                   0.00      5
811    811       jumcorredorro      3                  35.83      5
812    812          feartheGru      3                 360.83      5
813    813        Danielsv9207      3                 360.83      5
814    814  JhonEmmanuelTorres      3                 360.83      5

[815 rows x 5 columns]

In [4]:
perform_dist = pd.merge(perform_dist, survey, how='left', left_on='Student', right_on ='user2')
perform_dist

,Student,group,abs_perform_diff_best,phase,user2,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10
0,fffeelipe,0,201.66,1,fffeelipe,1.0,0.0,5.0,3.0
1,mnguzmanc,0,213.33,1,mnguzmanc,2.0,1.0,3.0,2.0
2,jmcuestasb,0,250.83,1,jmcuestasb,1.0,3.0,4.0,2.0
3,katherinsb,0,300.83,1,katherinsb,1.0,2.0,4.0,2.0
4,jjrodriguezn,0,300.83,1,jjrodriguezn,2.0,2.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...
815,NicolasPrr,3,0.00,5,NicolasPrr,3.0,4.0,3.0,2.0
816,jumcorredorro,3,35.83,5,jumcorredorro,1.0,1.0,5.0,2.0
817,feartheGru,3,360.83,5,feartheGru,2.0,2.0,5.0,2.0
818,Danielsv9207,3,360.83,5,Danielsv9207,1.0,1.0,1.0,3.0
819,JhonEmmanuelTorres,3,360.83,5,JhonEmmanuelTorres,5.0,4.0,5.0,2.0

In [5]:
# store performance distance dataframe to be used in individual exploration 

%store perform_dist

Stored 'perform_dist' (DataFrame)