In [13]:
%store -r bogota_final
%store -r survey
import pandas as pd

In [6]:
p1 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase1']]
p1.rename(columns = {'abs_perform_diff_best_phase1':'abs_perform_diff_best'}, inplace = True)
p1['phase'] = 1
p2 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase2']]
p2.rename(columns = {'abs_perform_diff_best_phase2':'abs_perform_diff_best'}, inplace = True)
p2['phase'] = 2
p3 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase3']]
p3.rename(columns = {'abs_perform_diff_best_phase3':'abs_perform_diff_best'}, inplace = True)
p3['phase'] = 3
p4 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase4']]
p4.rename(columns = {'abs_perform_diff_best_phase4':'abs_perform_diff_best'}, inplace = True)
p4['phase'] = 4
p5 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase5']]
p5.rename(columns = {'abs_perform_diff_best_phase5':'abs_perform_diff_best'}, inplace = True)
p5['phase'] = 5

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_1727/305279030.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p1['phase'] = 1
/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_1727/305279030.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2['phase'] = 2
/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_1727/305279030.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p3['phase'] = 3
/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_1727/305279030.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p4['phase'] = 4
/var/folders/gf/pvtbdsj96cz1tv7vmn1gq7j40000gn/T/ipykernel_1727/305279030.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p5['phase'] = 5

In [10]:
perform_dist = pd.concat([p1, p2, p3, p4, p5], ignore_index = True)
perform_dist.reset_index()

     index             Student  group  abs_perform_diff_best  phase
0        0           fffeelipe      0                 201.66      1
1        1           mnguzmanc      0                 213.33      1
2        2          jmcuestasb      0                 250.83      1
3        3          katherinsb      0                 300.83      1
4        4        jjrodriguezn      0                 300.83      1
..     ...                 ...    ...                    ...    ...
810    810          NicolasPrr      3                   0.00      5
811    811       jumcorredorro      3                  35.83      5
812    812          feartheGru      3                 360.83      5
813    813        Danielsv9207      3                 360.83      5
814    814  JhonEmmanuelTorres      3                 360.83      5

[815 rows x 5 columns]

In [15]:
perform_dist = pd.merge(perform_dist, survey, how='left', left_on='Student', right_on ='user2')
perform_dist

,Student,group,abs_perform_diff_best,phase,user2,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10
0,fffeelipe,0,201.66,1,fffeelipe,1.0,0.0,5.0,3.0
1,mnguzmanc,0,213.33,1,mnguzmanc,2.0,1.0,3.0,2.0
2,jmcuestasb,0,250.83,1,jmcuestasb,1.0,3.0,4.0,2.0
3,katherinsb,0,300.83,1,katherinsb,1.0,2.0,4.0,2.0
4,jjrodriguezn,0,300.83,1,jjrodriguezn,2.0,2.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...
815,NicolasPrr,3,0.00,5,NicolasPrr,3.0,4.0,3.0,2.0
816,jumcorredorro,3,35.83,5,jumcorredorro,1.0,1.0,5.0,2.0
817,feartheGru,3,360.83,5,feartheGru,2.0,2.0,5.0,2.0
818,Danielsv9207,3,360.83,5,Danielsv9207,1.0,1.0,1.0,3.0
819,JhonEmmanuelTorres,3,360.83,5,JhonEmmanuelTorres,5.0,4.0,5.0,2.0

In [16]:
commits = pd.read_csv("commits.csv")
commits

,Unnamed: 0,index,Student,Group,user-requirement-phase5,infovis-phase5,novelty-phase5,total-phase5,tech-phase5,tech-phase4,...,files,additions,deletions,email_name,email_y,hack_id,dates,dates.1,phase,count
0,0,0,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,6.0,168.0,78.0,lfepiar,lfepiar@unal.edu.co,0.0,23/04/2017,23/04/2017,5.0,1
1,1,3,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,281.0,295.0,lfepiar,lfepiar@unal.edu.co,0.0,13/04/2017,13/04/2017,4.0,3
2,2,4,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,6.0,324.0,80.0,lfepiar,lfepiar@unal.edu.co,0.0,11/04/2017,11/04/2017,3.0,1
3,3,5,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,108.0,1339.0,lfepiar,lfepiar@unal.edu.co,0.0,05/04/2017,05/04/2017,2.0,1
4,4,7,fffeelipe,0.0,20.0,29.17,50.0,199.17,100.0,100.0,...,5.0,382.0,2.0,lfepiar,lfepiar@unal.edu.co,0.0,30/03/2017,30/03/2017,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,535,1508,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,5.0,578.0,34.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,23/04/2017,23/04/2017,5.0,1
536,536,1509,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,3.0,266.0,12.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,17/04/2017,17/04/2017,4.0,1
537,537,1512,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,15.0,469.0,202.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,11/04/2017,11/04/2017,3.0,3
538,538,1514,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,10.0,316.0,32.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,02/04/2017,02/04/2017,2.0,2
539,539,1518,jumcorredorro,3.0,100.0,62.50,75.0,325.00,87.5,87.5,...,12.0,245.0,2.0,jumcorredorro,jumcorredorro@unal.edu.co,3.0,30/03/2017,30/03/2017,1.0,4

In [17]:
end = pd.merge(perform_dist, commits[['Student', 'count', 'phase']], how='left', left_on=['Student', 'phase'], right_on =['Student', 'phase'] )
end['count'] = end['count'].fillna(0)
end

,Student,group,abs_perform_diff_best,phase,user2,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,count
0,fffeelipe,0,201.66,1,fffeelipe,1.0,0.0,5.0,3.0,2.0
1,mnguzmanc,0,213.33,1,mnguzmanc,2.0,1.0,3.0,2.0,0.0
2,jmcuestasb,0,250.83,1,jmcuestasb,1.0,3.0,4.0,2.0,3.0
3,katherinsb,0,300.83,1,katherinsb,1.0,2.0,4.0,2.0,0.0
4,jjrodriguezn,0,300.83,1,jjrodriguezn,2.0,2.0,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
815,NicolasPrr,3,0.00,5,NicolasPrr,3.0,4.0,3.0,2.0,1.0
816,jumcorredorro,3,35.83,5,jumcorredorro,1.0,1.0,5.0,2.0,1.0
817,feartheGru,3,360.83,5,feartheGru,2.0,2.0,5.0,2.0,0.0
818,Danielsv9207,3,360.83,5,Danielsv9207,1.0,1.0,1.0,3.0,0.0
819,JhonEmmanuelTorres,3,360.83,5,JhonEmmanuelTorres,5.0,4.0,5.0,2.0,0.0