In [1]:
%store -r bogota_final
%store -r survey

%store -r bogota0_phase4_high_compare
%store -r bogota0_phase3_high_compare
%store -r bogota0_phase2_high_compare
%store -r bogota0_phase1_high_compare

%store -r bogota1_phase4_high_compare
%store -r bogota1_phase3_high_compare
%store -r bogota1_phase2_high_compare
%store -r bogota1_phase1_high_compare

%store -r bogota2_phase4_high_compare
%store -r bogota2_phase3_high_compare
%store -r bogota2_phase2_high_compare
%store -r bogota2_phase1_high_compare

%store -r bogota3_phase4_high_compare
%store -r bogota3_phase3_high_compare
%store -r bogota3_phase2_high_compare
%store -r bogota3_phase1_high_compare

import pandas as pd

In [2]:
bogota3_phase4_high_compare['phase'] = 4
bogota3_phase4_high_compare['group'] = 3

bogota3_phase3_high_compare['phase'] = 3
bogota3_phase3_high_compare['group'] = 3

bogota3_phase2_high_compare['phase'] = 2
bogota3_phase2_high_compare['group'] = 3

bogota3_phase1_high_compare['phase'] = 1
bogota3_phase1_high_compare['group'] = 3

bogota2_phase4_high_compare['phase'] = 4
bogota2_phase4_high_compare['group'] = 3

bogota2_phase3_high_compare['phase'] = 3
bogota2_phase3_high_compare['group'] = 3

bogota2_phase2_high_compare['phase'] = 2
bogota2_phase2_high_compare['group'] = 3

bogota2_phase1_high_compare['phase'] = 1
bogota2_phase1_high_compare['group'] = 3

In [3]:
p1 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase1']]
p1.rename(columns = {'abs_perform_diff_best_phase1':'abs_perform_diff_best'}, inplace = True)
p1['phase'] = 1
p2 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase2']]
p2.rename(columns = {'abs_perform_diff_best_phase2':'abs_perform_diff_best'}, inplace = True)
p2['phase'] = 2
p3 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase3']]
p3.rename(columns = {'abs_perform_diff_best_phase3':'abs_perform_diff_best'}, inplace = True)
p3['phase'] = 3
p4 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase4']]
p4.rename(columns = {'abs_perform_diff_best_phase4':'abs_perform_diff_best'}, inplace = True)
p4['phase'] = 4
p5 = bogota_final[['Student', 'group', 'abs_perform_diff_best_phase5']]
p5.rename(columns = {'abs_perform_diff_best_phase5':'abs_perform_diff_best'}, inplace = True)
p5['phase'] = 5

/var/folders/nr/2yp640v56_x34zrd2n5jvfqc0000gn/T/ipykernel_2654/305279030.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p1.rename(columns = {'abs_perform_diff_best_phase1':'abs_perform_diff_best'}, inplace = True)
/var/folders/nr/2yp640v56_x34zrd2n5jvfqc0000gn/T/ipykernel_2654/305279030.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p1['phase'] = 1
/var/folders/nr/2yp640v56_x34zrd2n5jvfqc0000gn/T/ipykernel_2654/305279030.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2.rename(columns = {'abs_perform_diff_best_phase2':'abs_perform_diff_best'}, inplace = True)
/var/folders/nr/2yp640v56_x34zrd2n5jvfqc0000gn/T/ipykernel_2654/305279030.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2['phase'] = 2
/var/folders/nr/2yp640v56_x34zrd2n5jvfqc0000gn/T/ipykernel_2654/305279030.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p3.rename(columns = {'abs_perform_diff_best_phase3':'abs_perform_diff_best'}, inplace = True)
/var/folders/nr/2yp640v56_x34zrd2n5jvfqc0000gn/T/ipykernel_2654/305279030.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p3['phase'] = 3
/var/folders/nr/2yp640v56_x34zrd2n5jvfqc0000gn/T/ipykernel_2654/305279030.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p4.rename(columns = {'abs_perform_diff_best_phase4':'abs_perform_diff_best'}, inplace = True)
/var/folders/nr/2yp640v56_x34zrd2n5jvfqc0000gn/T/ipykernel_2654/305279030.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p4['phase'] = 4
/var/folders/nr/2yp640v56_x34zrd2n5jvfqc0000gn/T/ipykernel_2654/305279030.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p5.rename(columns = {'abs_perform_diff_best_phase5':'abs_perform_diff_best'}, inplace = True)
/var/folders/nr/2yp640v56_x34zrd2n5jvfqc0000gn/T/ipykernel_2654/305279030.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p5['phase'] = 5

In [4]:
high_compare_b3 = pd.concat([bogota3_phase1_high_compare, bogota3_phase2_high_compare, bogota3_phase3_high_compare, bogota3_phase4_high_compare], ignore_index = True)
high_compare_b3.reset_index()

,index,user1,user2,user1_phase,user2_phase,similarity,phase,group
0,0,jmalvarezd,lemartinp,1,2,0.146341,1,3
1,1,jmalvarezd,juligarji,1,2,0.057325,1,3
2,2,jmalvarezd,nfmorenog,1,2,0.190476,1,3
3,3,jmalvarezd,AFelipeGA,1,2,0.003841,1,3
4,4,jmalvarezd,mballeng91,1,2,0.004854,1,3
...,...,...,...,...,...,...,...,...
155,155,juligarji,NicolasPrr,4,5,0.009360,4,3
156,156,juligarji,jumcorredorro,4,5,0.013294,4,3
157,157,juligarji,feartheGru,4,5,0.000000,4,3
158,158,juligarji,Danielsv9207,4,5,0.000000,4,3
159,159,juligarji,JhonEmmanuelTorres,4,5,0.000000,4,3

In [5]:
high_compare_b2 = pd.concat([bogota2_phase1_high_compare, bogota2_phase2_high_compare, bogota2_phase3_high_compare, bogota2_phase4_high_compare], ignore_index = True)
high_compare_b2.reset_index()

,index,user1,user2,user1_phase,user2_phase,similarity,phase,group
0,0,xdanielsb,jusherrerama,1,2,0.022599,1,3
1,1,xdanielsb,bdvegat,1,2,0.018072,1,3
2,2,xdanielsb,Phoenixest,1,2,0.017964,1,3
3,3,xdanielsb,HashNick,1,2,0.028302,1,3
4,4,xdanielsb,ccvacad,1,2,0.000000,1,3
...,...,...,...,...,...,...,...,...
155,155,fabianr23,lsfinite,4,5,0.008392,4,3
156,156,fabianr23,xdanielsb,4,5,0.040128,4,3
157,157,fabianr23,CSebasGomez,4,5,0.000000,4,3
158,158,fabianr23,jhcardenasa,4,5,0.000000,4,3
159,159,fabianr23,jscontrerasp,4,5,0.054455,4,3

In [6]:
perform_dist = pd.concat([p1, p2, p3, p4, p5], ignore_index = True)
perform_dist.reset_index()

     index             Student  group  abs_perform_diff_best  phase
0        0           fffeelipe      0                 201.66      1
1        1           mnguzmanc      0                 213.33      1
2        2          jmcuestasb      0                 250.83      1
3        3          katherinsb      0                 300.83      1
4        4        jjrodriguezn      0                 300.83      1
..     ...                 ...    ...                    ...    ...
810    810          NicolasPrr      3                   0.00      5
811    811       jumcorredorro      3                  35.83      5
812    812          feartheGru      3                 360.83      5
813    813        Danielsv9207      3                 360.83      5
814    814  JhonEmmanuelTorres      3                 360.83      5

[815 rows x 5 columns]

In [7]:
perform_dist = pd.merge(perform_dist, survey, how='left', left_on='Student', right_on ='user2')
perform_dist

,Student,group,abs_perform_diff_best,phase,user2,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10
0,fffeelipe,0,201.66,1,fffeelipe,1.0,0.0,5.0,3.0
1,mnguzmanc,0,213.33,1,mnguzmanc,2.0,1.0,3.0,2.0
2,jmcuestasb,0,250.83,1,jmcuestasb,1.0,3.0,4.0,2.0
3,katherinsb,0,300.83,1,katherinsb,1.0,2.0,4.0,2.0
4,jjrodriguezn,0,300.83,1,jjrodriguezn,2.0,2.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...
815,NicolasPrr,3,0.00,5,NicolasPrr,3.0,4.0,3.0,2.0
816,jumcorredorro,3,35.83,5,jumcorredorro,1.0,1.0,5.0,2.0
817,feartheGru,3,360.83,5,feartheGru,2.0,2.0,5.0,2.0
818,Danielsv9207,3,360.83,5,Danielsv9207,1.0,1.0,1.0,3.0
819,JhonEmmanuelTorres,3,360.83,5,JhonEmmanuelTorres,5.0,4.0,5.0,2.0

In [8]:
perform_dist_b3 = perform_dist[perform_dist['group'] == 3]
perform_dist_b3.drop('user2', inplace=True, axis=1)

/var/folders/nr/2yp640v56_x34zrd2n5jvfqc0000gn/T/ipykernel_2654/3795420823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  perform_dist_b3.drop('user2', inplace=True, axis=1)

In [9]:
perform_dist_high_compare_b3 = pd.merge(perform_dist_b3, high_compare_b3[['user2', 'similarity', 'group','phase']], how='left', left_on=['Student', 'phase', 'group'], right_on =['user2', 'phase', 'group'])
perform_dist_high_compare_b3 = perform_dist_high_compare_b3[perform_dist_high_compare_b3.phase != 5]
perform_dist_high_compare_b3

,Student,group,abs_perform_diff_best,phase,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,user2,similarity
0,lemartinp,3,270.84,1,0.0,0.0,4.0,1.0,lemartinp,0.146341
1,juligarji,3,167.50,1,4.0,4.0,5.0,3.0,juligarji,0.057325
2,nfmorenog,3,225.00,1,0.0,2.0,3.0,1.0,nfmorenog,0.190476
3,AFelipeGA,3,291.67,1,4.0,3.0,5.0,2.0,AFelipeGA,0.003841
4,mballeng91,3,329.17,1,2.0,6.0,6.0,2.0,mballeng91,0.004854
...,...,...,...,...,...,...,...,...,...,...
159,NicolasPrr,3,237.50,4,3.0,4.0,3.0,2.0,NicolasPrr,0.009360
160,jumcorredorro,3,53.33,4,1.0,1.0,5.0,2.0,jumcorredorro,0.013294
161,feartheGru,3,358.33,4,2.0,2.0,5.0,2.0,feartheGru,0.000000
162,Danielsv9207,3,358.33,4,1.0,1.0,1.0,3.0,Danielsv9207,0.000000
163,JhonEmmanuelTorres,3,358.33,4,5.0,4.0,5.0,2.0,JhonEmmanuelTorres,0.000000

In [10]:
perform_dist_high_compare_b3.to_csv('perform_dist_high_compare_b3.csv')

In [11]:
# store performance distance dataframe to be used in individual exploration 

%store perform_dist
%store perform_dist_high_compare_b3

Stored 'perform_dist' (DataFrame)
Stored 'perform_dist_high_compare_b3' (DataFrame)