In [1]:
%store -r phase1_group0
%store -r phase1_group1
%store -r phase1_group2
%store -r phase1_group3

%store -r phase2_group0
%store -r phase2_group1
%store -r phase2_group2
%store -r phase2_group3

%store -r phase3_group0
%store -r phase3_group1
%store -r phase3_group2
%store -r phase3_group3

%store -r phase4_group0
%store -r phase4_group1
%store -r phase4_group2
%store -r phase4_group3

%store -r phase5_group0
%store -r phase5_group1
%store -r phase5_group2
%store -r phase5_group3

%store -r survey
%store -r commits

import pandas as pd

In [2]:
phase1_group0['phase'] = 1
phase1_group1['phase'] = 1
phase1_group2['phase'] = 1
phase1_group3['phase'] = 1

phase2_group0['phase'] = 2
phase2_group1['phase'] = 2
phase2_group2['phase'] = 2
phase2_group3['phase'] = 2

phase3_group0['phase'] = 3
phase3_group1['phase'] = 3
phase3_group2['phase'] = 3
phase3_group3['phase'] = 3

phase4_group0['phase'] = 4
phase4_group1['phase'] = 4
phase4_group2['phase'] = 4
phase4_group3['phase'] = 4

phase5_group0['phase'] = 5
phase5_group1['phase'] = 5
phase5_group2['phase'] = 5
phase5_group3['phase'] = 5

In [3]:
template = pd.concat([phase1_group0, phase2_group0, phase3_group0, phase4_group0, phase5_group0, 
          phase1_group1, phase2_group1, phase3_group1, phase4_group1, phase5_group1,
          phase1_group2, phase2_group2, phase3_group2, phase4_group2, phase5_group2,
          phase1_group3, phase2_group3, phase3_group3, phase4_group3, phase5_group3], ignore_index = True)
template = template[['user1', 'similarity', 'group', 'phase']]

In [4]:
survey

                  user2  Q7_Q7_1  Q7_Q7_2  Q8_Q8_1  Q10
0             fffeelipe      1.0      0.0      5.0  3.0
1             mnguzmanc      2.0      1.0      3.0  2.0
2            jmcuestasb      1.0      3.0      4.0  2.0
3            katherinsb      1.0      2.0      4.0  2.0
4          jjrodriguezn      2.0      2.0      3.0  1.0
..                  ...      ...      ...      ...  ...
159          NicolasPrr      3.0      4.0      3.0  2.0
160       jumcorredorro      1.0      1.0      5.0  2.0
161          feartheGru      2.0      2.0      5.0  2.0
162        Danielsv9207      1.0      1.0      1.0  3.0
163  JhonEmmanuelTorres      5.0      4.0      5.0  2.0

[160 rows x 5 columns]

In [5]:
commits[['Student', 'count', 'phase']]

           Student  count  phase
0        fffeelipe      1    5.0
1        fffeelipe      3    4.0
2        fffeelipe      1    3.0
3        fffeelipe      1    2.0
4        fffeelipe      2    1.0
..             ...    ...    ...
535  jumcorredorro      1    5.0
536  jumcorredorro      1    4.0
537  jumcorredorro      3    3.0
538  jumcorredorro      2    2.0
539  jumcorredorro      4    1.0

[540 rows x 3 columns]

In [6]:
final = pd.merge(template, survey, how='left', left_on='user1', right_on ='user2')
final

,user1,similarity,group,phase,user2,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10
0,fffeelipe,0.037313,0,1,fffeelipe,1.0,0.0,5.0,3.0
1,mnguzmanc,0.016529,0,1,mnguzmanc,2.0,1.0,3.0,2.0
2,DglyP,0.016667,0,1,DglyP,1.0,3.0,4.0,3.0
3,Judgarciani,0.053333,0,1,Judgarciani,3.0,3.0,4.0,2.0
4,sacastroc,0.050420,0,1,sacastroc,1.0,2.0,4.0,2.0
...,...,...,...,...,...,...,...,...,...
673,DavidQP,0.047904,3,5,DavidQP,2.0,3.0,4.0,3.0
674,afceballosr,0.103448,3,5,afceballosr,1.0,3.0,5.0,2.0
675,lizzyt10h,0.060440,3,5,lizzyt10h,2.0,1.0,5.0,2.0
676,NicolasPrr,0.054622,3,5,NicolasPrr,3.0,4.0,3.0,2.0
677,jumcorredorro,0.064057,3,5,jumcorredorro,1.0,1.0,5.0,2.0

In [7]:
final = pd.merge(template, survey, how='left', left_on='user1', right_on ='user2')
end = pd.merge(final, commits[['Student', 'count', 'phase']], how='left', left_on=['user1', 'phase'], right_on =['Student', 'phase'] )
end['count'] = end['count'].fillna(0)
end = end.drop(['Student'], axis=1)
end

,user1,similarity,group,phase,user2,Q7_Q7_1,Q7_Q7_2,Q8_Q8_1,Q10,count
0,fffeelipe,0.037313,0,1,fffeelipe,1.0,0.0,5.0,3.0,2.0
1,mnguzmanc,0.016529,0,1,mnguzmanc,2.0,1.0,3.0,2.0,0.0
2,DglyP,0.016667,0,1,DglyP,1.0,3.0,4.0,3.0,3.0
3,Judgarciani,0.053333,0,1,Judgarciani,3.0,3.0,4.0,2.0,3.0
4,sacastroc,0.050420,0,1,sacastroc,1.0,2.0,4.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...
673,DavidQP,0.047904,3,5,DavidQP,2.0,3.0,4.0,3.0,1.0
674,afceballosr,0.103448,3,5,afceballosr,1.0,3.0,5.0,2.0,1.0
675,lizzyt10h,0.060440,3,5,lizzyt10h,2.0,1.0,5.0,2.0,5.0
676,NicolasPrr,0.054622,3,5,NicolasPrr,3.0,4.0,3.0,2.0,1.0
677,jumcorredorro,0.064057,3,5,jumcorredorro,1.0,1.0,5.0,2.0,1.0

In [8]:
end.to_csv('template.csv')