## Descriptive Statistics for Relational Novelty

Group comparisons for relational novelty, take top 10%, the lower 10%, and the middle and do the average relational novelty ( inverse of highest similarity ). And calculate the following measures for the 3 groups, the average relational novelty, the standard deviation of the relational novelty, the average pairwise similarity ( pairwise measure AMONG each group members ), and the standard deviation of the pairwise similarity.

In [1]:
%store -r stage1_bogota0
%store -r stage1_bogota1
%store -r stage1_bogota2
%store -r stage1_bogota3

%store -r stage2_bogota0
%store -r stage2_bogota1
%store -r stage2_bogota2
%store -r stage2_bogota3

%store -r stage3_bogota0
%store -r stage3_bogota1
%store -r stage3_bogota2
%store -r stage3_bogota3

%store -r stage4_bogota0
%store -r stage4_bogota1
%store -r stage4_bogota2
%store -r stage4_bogota3

In [2]:
stage1_bogota0

          user1         user2  user1_phase  user2_phase  similarity
38    fffeelipe     mnguzmanc            1            2         0.0
39    fffeelipe    jmcuestasb            1            2         0.0
40    fffeelipe    katherinsb            1            2         1.0
41    fffeelipe  jjrodriguezn            1            2         0.0
42    fffeelipe         DglyP            1            2         0.0
...         ...           ...          ...          ...         ...
2141  odprietoh     jdsolanos            1            2         0.0
2142  odprietoh      jcneivaa            1            2         0.0
2143  odprietoh     fmbernalb            1            2         0.0
2144  odprietoh       MogGy94            1            2         0.0
2145  odprietoh     yocuervoc            1            2         0.0

[1406 rows x 5 columns]

In [3]:
import pandas as pd 
import seaborn as sns
import math
df = pd.read_csv("merged-sim-best.csv")
df

,Unnamed: 0.1,Unnamed: 0,Student,phase,novelty,group,abs_perform_diff_best,user2,Q7_Q7_1,Q7_Q7_2,...,count,total,user-requirement,infovis,novelty_score,exploration,Group,len_unique,added_sum,sim-to-best
0,0,1,wilson911013,1,0.000000,3,250.84,wilson911013,0.0,1.0,...,1.0,90.83,20.0,33.33,0.0,0.000000,3.0,0.0,0.0,0.000000
1,2,5,lizzyt10h,1,0.400000,3,175.00,lizzyt10h,2.0,1.0,...,7.0,75.00,0.0,0.00,0.0,0.945312,3.0,13.0,6.0,0.125000
2,3,6,AFelipeGA,1,0.400000,3,291.67,AFelipeGA,4.0,3.0,...,3.0,152.50,40.0,37.50,0.0,0.995375,3.0,2059.0,2049.0,0.003841
3,4,7,wapiravaguens,1,0.400000,3,90.00,wapiravaguens,0.0,1.0,...,1.0,192.50,80.0,50.00,0.0,0.567164,3.0,63.0,34.0,0.202532
4,5,8,capinzor,1,0.413793,3,221.67,capinzor,0.0,0.0,...,0.0,120.00,20.0,25.00,0.0,0.000000,3.0,20.0,0.0,0.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,647,651,kastellanos,3,0.000000,1,345.83,kastellanos,5.0,5.0,...,0.0,0.00,0.0,0.00,0.0,0.000000,1.0,NaN,NaN,NaN
632,648,652,tres-iqus,3,0.000000,2,358.33,tres-iqus,1.0,1.0,...,0.0,0.00,0.0,0.00,0.0,0.000000,2.0,NaN,NaN,NaN
633,649,653,annumumozme,4,0.000000,0,313.33,NaN,NaN,NaN,...,0.0,237.50,40.0,37.50,60.0,0.000000,0.0,NaN,NaN,NaN
634,650,654,kastellanos,4,0.000000,1,350.00,kastellanos,5.0,5.0,...,0.0,0.00,0.0,0.00,0.0,0.000000,1.0,NaN,NaN,NaN
635,651,655,tres-iqus,4,0.000000,2,358.33,tres-iqus,1.0,1.0,...,0.0,0.00,0.0,0.00,0.0,0.000000,2.0,NaN,NaN,NaN

In [4]:
df_g3 = df[df['group'] == 3]
df_g3_p1 = df_g3[df_g3['phase'] == 1]
df_g3_p2 = df_g3[df_g3['phase'] == 2]
df_g3_p3 = df_g3[df_g3['phase'] == 3]
df_g3_p4 = df_g3[df_g3['phase'] == 4]

df_g2 = df[df['group'] == 2]
df_g2_p1 = df_g2[df_g2['phase'] == 1]
df_g2_p2 = df_g2[df_g2['phase'] == 2]
df_g2_p3 = df_g2[df_g2['phase'] == 3]
df_g2_p4 = df_g2[df_g2['phase'] == 4]

df_g1 = df[df['group'] == 1]
df_g1_p1 = df_g1[df_g1['phase'] == 1]
df_g1_p2 = df_g1[df_g1['phase'] == 2]
df_g1_p3 = df_g1[df_g1['phase'] == 3]
df_g1_p4 = df_g1[df_g1['phase'] == 4]

df_g0 = df[df['group'] == 0]
df_g0_p1 = df_g0[df_g0['phase'] == 1]
df_g0_p2 = df_g0[df_g0['phase'] == 2]
df_g0_p3 = df_g0[df_g0['phase'] == 3]
df_g0_p4 = df_g0[df_g0['phase'] == 4]

In [5]:
math.ceil(len(df_g3_p1['novelty']) * 0.1)

4

In [6]:
math.ceil(len(df_g2_p1['novelty']) * 0.1)

5

In [7]:
math.ceil(len(df_g1_p1['novelty']) * 0.1)

5

In [8]:
math.ceil(len(df_g0_p1['novelty']) * 0.1)

4

In [9]:
math.ceil(len(df_g3_p1['novelty']) * 0.55)

21

In [10]:
math.ceil(len(df_g3_p1['novelty']) * 0.65)

25

In [11]:
math.ceil(len(df_g2_p1['novelty']) * 0.55)

24

In [12]:
math.ceil(len(df_g2_p1['novelty']) * 0.65)

28

In [13]:
math.ceil(len(df_g1_p1['novelty']) * 0.55)

23

In [14]:
math.ceil(len(df_g1_p1['novelty']) * 0.65)

27

In [15]:
math.ceil(len(df_g0_p1['novelty']) * 0.55)

22

In [16]:
math.ceil(len(df_g0_p1['novelty']) * 0.65)

26

In [17]:
df_g3_p1 = df_g3_p1.sort_values(['total'], ascending=False).groupby('Student').head(4)
df_g3_p2 = df_g3_p2.sort_values(['total'], ascending=False).groupby('Student').head(4)
df_g3_p3 = df_g3_p3.sort_values(['total'], ascending=False).groupby('Student').head(4)
df_g3_p4 = df_g3_p4.sort_values(['total'], ascending=False).groupby('Student').head(4)

df_g3_p1 = df_g3_p1.sort_values(['total'], ascending=False).groupby('Student').tail(4)
df_g3_p2 = df_g3_p2.sort_values(['total'], ascending=False).groupby('Student').tail(4)
df_g3_p3 = df_g3_p3.sort_values(['total'], ascending=False).groupby('Student').tail(4)
df_g3_p4 = df_g3_p4.sort_values(['total'], ascending=False).groupby('Student').tail(4)

df_g2_p1 = df_g2_p1.sort_values(['total'], ascending=False).groupby('Student').head(4)
df_g2_p2 = df_g2_p2.sort_values(['total'], ascending=False).groupby('Student').head(4)
df_g2_p3 = df_g2_p3.sort_values(['total'], ascending=False).groupby('Student').head(4)
df_g2_p4 = df_g2_p4.sort_values(['total'], ascending=False).groupby('Student').head(4)

df_g2_p1 = df_g2_p1.sort_values(['total'], ascending=False).groupby('Student').tail(4)
df_g2_p2 = df_g2_p2.sort_values(['total'], ascending=False).groupby('Student').tail(4)
df_g2_p3 = df_g2_p3.sort_values(['total'], ascending=False).groupby('Student').tail(4)
df_g2_p4 = df_g2_p4.sort_values(['total'], ascending=False).groupby('Student').tail(4)

df_g1_p1 = df_g1_p1.sort_values(['total'], ascending=False).groupby('Student').head(4)
df_g1_p2 = df_g1_p2.sort_values(['total'], ascending=False).groupby('Student').head(4)
df_g1_p3 = df_g1_p3.sort_values(['total'], ascending=False).groupby('Student').head(4)
df_g1_p4 = df_g1_p4.sort_values(['total'], ascending=False).groupby('Student').head(4)

df_g1_p1 = df_g1_p1.sort_values(['total'], ascending=False).groupby('Student').tail(4)
df_g1_p2 = df_g1_p2.sort_values(['total'], ascending=False).groupby('Student').tail(4)
df_g1_p3 = df_g1_p3.sort_values(['total'], ascending=False).groupby('Student').tail(4)
df_g1_p4 = df_g1_p4.sort_values(['total'], ascending=False).groupby('Student').tail(4)

df_g0_p1 = df_g0_p1.sort_values(['total'], ascending=False).groupby('Student').head(4)
df_g0_p2 = df_g0_p2.sort_values(['total'], ascending=False).groupby('Student').head(4)
df_g0_p3 = df_g0_p3.sort_values(['total'], ascending=False).groupby('Student').head(4)
df_g0_p4 = df_g0_p4.sort_values(['total'], ascending=False).groupby('Student').head(4)

df_g0_p1 = df_g0_p1.sort_values(['total'], ascending=False).groupby('Student').tail(4)
df_g0_p2 = df_g0_p2.sort_values(['total'], ascending=False).groupby('Student').tail(4)
df_g0_p3 = df_g0_p3.sort_values(['total'], ascending=False).groupby('Student').tail(4)
df_g0_p4 = df_g0_p4.sort_values(['total'], ascending=False).groupby('Student').tail(4)

## Top 10% in Group 3

In [18]:
df_list = [df_g3_p1, df_g3_p2, df_g3_p3, df_g3_p4]

for df in df_list:
    print(df['novelty'].head(4).describe())

count    4.000000
mean     0.682906
std      0.086414
min      0.625000
25%      0.629076
50%      0.648551
75%      0.702381
max      0.809524
Name: novelty, dtype: float64
count    4.000000
mean     0.772434
std      0.079760
min      0.686275
25%      0.715923
50%      0.773160
75%      0.829670
max      0.857143
Name: novelty, dtype: float64
count    4.000000
mean     0.868736
std      0.132570
min      0.679612
25%      0.839806
50%      0.903420
75%      0.932351
max      0.988493
Name: novelty, dtype: float64
count    4.000000
mean     0.882572
std      0.070231
min      0.816456
25%      0.831518
50%      0.871711
75%      0.922764
max      0.970410
Name: novelty, dtype: float64

## Bottom 10% in Group 3

In [19]:
df_list = [df_g3_p1, df_g3_p2, df_g3_p3, df_g3_p4]

for df in df_list:
    print(df['novelty'].tail(4).describe())

count    4.000000
mean     0.529728
std      0.423809
min      0.000000
25%      0.300000
50%      0.575000
75%      0.804728
max      0.968912
Name: novelty, dtype: float64
count    4.000000
mean     0.478237
std      0.403248
min      0.000000
25%      0.321429
50%      0.464286
75%      0.621094
max      0.984375
Name: novelty, dtype: float64
count    4.000000
mean     0.759555
std      0.178619
min      0.500000
25%      0.713785
50%      0.824666
75%      0.870437
max      0.888889
Name: novelty, dtype: float64
count    4.000000
mean     0.793546
std      0.209816
min      0.500000
25%      0.725000
50%      0.844444
75%      0.912990
max      0.985294
Name: novelty, dtype: float64

## Middle in Group 3

In [20]:
df_list = [df_g3_p1, df_g3_p2, df_g3_p3, df_g3_p4]

for df in df_list:
    print(df[['novelty']].iloc[[21,25]].describe())

        novelty
count  2.000000
mean   0.646329
std    0.285508
min    0.444444
25%    0.545387
50%    0.646329
75%    0.747272
max    0.848214
        novelty
count  2.000000
mean   0.594648
std    0.215441
min    0.442308
25%    0.518478
50%    0.594648
75%    0.670818
max    0.746988
        novelty
count  2.000000
mean   0.702786
std    0.070930
min    0.652632
25%    0.677709
50%    0.702786
75%    0.727864
max    0.752941
        novelty
count  2.000000
mean   0.844657
std    0.038379
min    0.817518
25%    0.831087
50%    0.844657
75%    0.858226
max    0.871795

## Top 10% Group 2

In [21]:
df_list = [df_g2_p1, df_g2_p2, df_g2_p3, df_g2_p4]

for df in df_list:
    print(df['novelty'].head(5).describe())

count    5.000000
mean     0.750318
std      0.177847
min      0.537500
25%      0.629630
50%      0.739837
75%      0.861538
max      0.983087
Name: novelty, dtype: float64
count    5.000000
mean     0.767741
std      0.087778
min      0.640000
25%      0.756098
50%      0.774194
75%      0.781818
max      0.886598
Name: novelty, dtype: float64
count    5.000000
mean     0.695096
std      0.359932
min      0.057047
25%      0.795918
50%      0.823293
75%      0.879032
max      0.920188
Name: novelty, dtype: float64
count    5.000000
mean     0.810882
std      0.117681
min      0.622222
25%      0.817073
50%      0.830116
75%      0.837398
max      0.947598
Name: novelty, dtype: float64

## Bottom 10% Group 2

In [22]:
df_list = [df_g2_p1, df_g2_p2, df_g2_p3, df_g2_p4]

for df in df_list:
    print(df['novelty'].tail(5).describe())

count    5.000000
mean     0.354326
std      0.489940
min      0.000000
25%      0.000000
50%      0.000000
75%      0.789474
max      0.982156
Name: novelty, dtype: float64
count    5.000000
mean     0.163953
std      0.353637
min      0.000000
25%      0.000000
50%      0.000000
75%      0.023468
max      0.796296
Name: novelty, dtype: float64
count    5.000000
mean     0.425612
std      0.390735
min      0.000000
25%      0.000000
50%      0.657895
75%      0.696970
max      0.773196
Name: novelty, dtype: float64
count    5.000000
mean     0.273232
std      0.375441
min      0.000000
25%      0.000000
50%      0.000000
75%      0.638889
max      0.727273
Name: novelty, dtype: float64

## Middle in Group 2

In [23]:
df_list = [df_g2_p1, df_g2_p2, df_g2_p3, df_g2_p4]

for df in df_list:
    print(df[['novelty']].iloc[[24,28]].describe())

        novelty
count  2.000000
mean   0.742424
std    0.107137
min    0.666667
25%    0.704545
50%    0.742424
75%    0.780303
max    0.818182
        novelty
count  2.000000
mean   0.765356
std    0.001854
min    0.764045
25%    0.764700
50%    0.765356
75%    0.766011
max    0.766667
        novelty
count  2.000000
mean   0.739698
std    0.097315
min    0.670886
25%    0.705292
50%    0.739698
75%    0.774104
max    0.808511
        novelty
count  2.000000
mean   0.453984
std    0.213481
min    0.303030
25%    0.378507
50%    0.453984
75%    0.529461
max    0.604938

## Top 10% Group 1

In [24]:
df_list = [df_g1_p1, df_g1_p2, df_g1_p3, df_g1_p4]

for df in df_list:
    print(df['novelty'].head(5).describe())

count    5.000000
mean     0.903289
std      0.064473
min      0.843137
25%      0.850000
50%      0.878906
75%      0.965986
max      0.978413
Name: novelty, dtype: float64
count    5.000000
mean     0.747784
std      0.358086
min      0.115942
25%      0.823009
50%      0.878049
75%      0.951956
max      0.969967
Name: novelty, dtype: float64
count    5.000000
mean     0.480164
std      0.363028
min      0.115942
25%      0.256478
50%      0.286215
75%      0.846626
max      0.895561
Name: novelty, dtype: float64
count    5.000000
mean     0.579024
std      0.333868
min      0.175239
25%      0.262414
50%      0.745283
75%      0.829545
max      0.882641
Name: novelty, dtype: float64

## Bottom 10% Group 1

In [25]:
df_list = [df_g1_p1, df_g1_p2, df_g1_p3, df_g1_p4]

for df in df_list:
    print(df['novelty'].tail(5).describe())

count    5.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: novelty, dtype: float64
count    5.000000
mean     0.111111
std      0.248452
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max      0.555556
Name: novelty, dtype: float64
count    5.000000
mean     0.171084
std      0.382556
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max      0.855422
Name: novelty, dtype: float64
count    5.000000
mean     0.171765
std      0.384078
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max      0.858824
Name: novelty, dtype: float64

## Middle Group 1

In [26]:
df_list = [df_g1_p1, df_g1_p2, df_g1_p3, df_g1_p4]

for df in df_list:
    print(df[['novelty']].iloc[[23,27]].describe())

        novelty
count  2.000000
mean   0.454545
std    0.642824
min    0.000000
25%    0.227273
50%    0.454545
75%    0.681818
max    0.909091
        novelty
count  2.000000
mean   0.447143
std    0.377797
min    0.180000
25%    0.313571
50%    0.447143
75%    0.580714
max    0.714286
        novelty
count  2.000000
mean   0.601837
std    0.166116
min    0.484375
25%    0.543106
50%    0.601837
75%    0.660567
max    0.719298
        novelty
count  2.000000
mean   0.337582
std    0.207596
min    0.190789
25%    0.264186
50%    0.337582
75%    0.410979
max    0.484375

## Top 10% in Group 0

In [27]:
df_list = [df_g0_p1, df_g0_p2, df_g0_p3, df_g0_p4]

for df in df_list:
    print(df['novelty'].head(4).describe())

count    4.000000
mean     0.742373
std      0.119638
min      0.566667
25%      0.726225
50%      0.783937
75%      0.800084
max      0.834951
Name: novelty, dtype: float64
count    4.000000
mean     0.697662
std      0.107869
min      0.556818
25%      0.655438
50%      0.709021
75%      0.751245
max      0.815789
Name: novelty, dtype: float64
count    4.000000
mean     0.762419
std      0.153642
min      0.576271
25%      0.671540
50%      0.776177
75%      0.867056
max      0.921053
Name: novelty, dtype: float64
count    4.000000
mean     0.811652
std      0.074112
min      0.720588
25%      0.769953
50%      0.818204
75%      0.859903
max      0.889610
Name: novelty, dtype: float64

## Bottom 10% in Group 0

In [28]:
df_list = [df_g0_p1, df_g0_p2, df_g0_p3, df_g0_p4]

for df in df_list:
    print(df['novelty'].tail(4).describe())

count    4.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: novelty, dtype: float64
count    4.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: novelty, dtype: float64
count    4.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: novelty, dtype: float64
count    4.000000
mean     0.225146
std      0.450292
min      0.000000
25%      0.000000
50%      0.000000
75%      0.225146
max      0.900585
Name: novelty, dtype: float64

## Middle Group 0

In [29]:
df_list = [df_g0_p1, df_g0_p2, df_g0_p3, df_g0_p4]

for df in df_list:
    print(df[['novelty']].iloc[[22,26]].describe())

        novelty
count  2.000000
mean   0.776398
std    0.114191
min    0.695652
25%    0.736025
50%    0.776398
75%    0.816770
max    0.857143
        novelty
count  2.000000
mean   0.877344
std    0.009018
min    0.870968
25%    0.874156
50%    0.877344
75%    0.880533
max    0.883721
        novelty
count  2.000000
mean   0.674614
std    0.277686
min    0.478261
25%    0.576438
50%    0.674614
75%    0.772791
max    0.870968
        novelty
count  2.000000
mean   0.748355
std    0.090714
min    0.684211
25%    0.716283
50%    0.748355
75%    0.780428
max    0.812500

## Top 10%, Middle and Bottom 10% pairwise similarity Group 3

## Stage 1

In [30]:
# four largest values in column age
df_g3_p1_top = df_g3_p1.nlargest(4, ['total'])
df_g3_p1_top = df_g3_p1_top.Student.tolist()
df_g3_p1_top

['dduartec', 'jumcorredorro', 'lgmoralesa', 'jscastelblancoh']

In [31]:
stage1_bogota3_top = stage1_bogota3[stage1_bogota3['user2'].isin(df_g3_p1_top)]
stage1_bogota3_top['similarity'].describe()

count    160.000000
mean       0.099123
std        0.079949
min        0.000000
25%        0.052294
50%        0.084220
75%        0.125219
max        0.375000
Name: similarity, dtype: float64

In [32]:
df_g3_p1_bottom = df_g3_p1.nsmallest(4, ['total'])
df_g3_p1_bottom = df_g3_p1_bottom.Student.tolist()
df_g3_p1_bottom

['lizzyt10h', 'wilson911013', 'mballeng91', 'NicolasPrr']

In [33]:
stage1_bogota3_bottom = stage1_bogota3[stage1_bogota3['user2'].isin(df_g3_p1_bottom)]
stage1_bogota3_bottom['similarity'].describe()

count    160.000000
mean       0.084934
std        0.168042
min        0.000000
25%        0.000000
50%        0.005236
75%        0.115950
max        1.000000
Name: similarity, dtype: float64

## Stage 2

In [34]:
df_g3_p2_top = df_g3_p2.nlargest(4, ['total'])
df_g3_p2_top = df_g3_p2_top.Student.tolist()
df_g3_p2_top

['jumcorredorro', 'lgmoralesa', 'dduartec', 'jmalvarezd']

In [35]:
stage2_bogota3_top = stage2_bogota3[stage2_bogota3['user2'].isin(df_g3_p2_top)]
stage2_bogota3_top['similarity'].describe()

count    160.000000
mean       0.083470
std        0.072332
min        0.000000
25%        0.030772
50%        0.060658
75%        0.119691
max        0.313725
Name: similarity, dtype: float64

In [36]:
df_g3_p2_bottom = df_g3_p2.nsmallest(4, ['total'])
df_g3_p2_bottom = df_g3_p2_bottom.Student.tolist()
df_g3_p2_bottom

['wilson911013', 'Chranium', 'mballeng91', 'afceballosr']

In [37]:
stage2_bogota3_bottom = stage2_bogota3[stage2_bogota3['user2'].isin(df_g3_p2_bottom)]
stage2_bogota3_bottom['similarity'].describe()

count    160.000000
mean       0.075604
std        0.174061
min        0.000000
25%        0.000000
50%        0.008956
75%        0.081186
max        1.000000
Name: similarity, dtype: float64

## Stage 3

In [38]:
df_g3_p3_top = df_g3_p3.nlargest(4, ['total'])
df_g3_p3_top = df_g3_p3_top.Student.tolist()
df_g3_p3_top

['juligarji', 'lgmoralesa', 'jscastelblancoh', 'jumcorredorro']

In [39]:
stage3_bogota3_top = stage3_bogota3[stage3_bogota3['user2'].isin(df_g3_p3_top)]
stage3_bogota3_top['similarity'].describe()

count    160.000000
mean       0.044256
std        0.051071
min        0.000000
25%        0.003848
50%        0.028299
75%        0.065789
max        0.320388
Name: similarity, dtype: float64

In [40]:
df_g3_p3_bottom = df_g3_p3.nsmallest(4, ['total'])
df_g3_p3_bottom = df_g3_p3_bottom.Student.tolist()
df_g3_p3_bottom

['davidh17', 'wilson911013', 'dduartec', 'Chranium']

In [41]:
stage3_bogota3_bottom = stage3_bogota3[stage3_bogota3['user2'].isin(df_g3_p3_bottom)]
stage3_bogota3_bottom['similarity'].describe()

count    160.000000
mean       0.064294
std        0.083910
min        0.000000
25%        0.005445
50%        0.039701
75%        0.091058
max        0.500000
Name: similarity, dtype: float64

## Stage 4

In [42]:
df_g3_p4_top = df_g3_p4.nlargest(4, ['total'])
df_g3_p4_top = df_g3_p4_top.Student.tolist()
df_g3_p4_top

['NicolasPrr', 'jscastelblancoh', 'juligarji', 'lacardenasv']

In [43]:
stage4_bogota3_top = stage4_bogota3[stage4_bogota3['user2'].isin(df_g3_p4_top)]
stage4_bogota3_top['similarity'].describe()

count    160.000000
mean       0.041889
std        0.041467
min        0.000000
25%        0.005725
50%        0.030663
75%        0.067398
max        0.183544
Name: similarity, dtype: float64

In [44]:
df_g3_p4_bottom = df_g3_p4.nsmallest(4, ['total'])
df_g3_p4_bottom = df_g3_p4_bottom.Student.tolist()
df_g3_p4_bottom

['wilson911013', 'Chranium', 'mballeng91', 'spenas']

In [45]:
stage4_bogota3_bottom = stage4_bogota3[stage3_bogota3['user2'].isin(df_g3_p4_bottom)]
stage4_bogota3_bottom['similarity'].describe()

count    160.000000
mean       0.038536
std        0.075541
min        0.000000
25%        0.000150
50%        0.010146
75%        0.047282
max        0.500000
Name: similarity, dtype: float64

## Top 10%, Middle and Bottom 10% pairwise similarity Group 0

## Stage 1

In [46]:
df_g0_p1_top = df_g0_p1.nlargest(4, ['total'])
df_g0_p1_top = df_g0_p1_top.Student.tolist()
df_g0_p1_top

['capinillab', 'bsgarciac', 'mnguzmanc', 'sacastroc']

In [47]:
stage1_bogota0_top = stage1_bogota0[stage1_bogota0['user2'].isin(df_g0_p1_top)]
stage1_bogota0_top['similarity'].describe()

count    148.000000
mean       0.059250
std        0.076245
min        0.000000
25%        0.000000
50%        0.037083
75%        0.096076
max        0.433333
Name: similarity, dtype: float64

In [48]:
df_g0_p1_bottom = df_g0_p1.nsmallest(4, ['total'])
df_g0_p1_bottom = df_g0_p1_bottom.Student.tolist()
df_g0_p1_bottom

['jcneivaa', 'annipi', 'jdsolanos', 'fmbernalb']

In [49]:
stage1_bogota0_bottom = stage1_bogota0[stage1_bogota0['user2'].isin(df_g0_p1_bottom)]
stage1_bogota0_bottom['similarity'].describe()

count    148.000000
mean       0.378378
std        0.486629
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: similarity, dtype: float64

## Stage 2

In [50]:
df_g3_p2_top = df_g3_p2.nlargest(4, ['total'])
df_g3_p2_top = df_g3_p2_top.Student.tolist()
df_g3_p2_top

['jumcorredorro', 'lgmoralesa', 'dduartec', 'jmalvarezd']

In [51]:
stage2_bogota3_top = stage2_bogota3[stage2_bogota3['user2'].isin(df_g3_p2_top)]
stage2_bogota3_top['similarity'].describe()

count    160.000000
mean       0.083470
std        0.072332
min        0.000000
25%        0.030772
50%        0.060658
75%        0.119691
max        0.313725
Name: similarity, dtype: float64

In [52]:
df_g3_p2_bottom = df_g3_p2.nsmallest(4, ['total'])
df_g3_p2_bottom = df_g3_p2_bottom.Student.tolist()
df_g3_p2_bottom

['wilson911013', 'Chranium', 'mballeng91', 'afceballosr']

In [53]:
stage2_bogota3_bottom = stage2_bogota3[stage2_bogota3['user2'].isin(df_g3_p2_bottom)]
stage2_bogota3_bottom['similarity'].describe()

count    160.000000
mean       0.075604
std        0.174061
min        0.000000
25%        0.000000
50%        0.008956
75%        0.081186
max        1.000000
Name: similarity, dtype: float64

In [54]:
%store df_g0_p1_top

Stored 'df_g0_p1_top' (list)