## Descriptive Statistics for Relational Novelty

Group comparisons for relational novelty, take top 10%, the lower 10%, and the middle and do the average relational novelty ( inverse of highest similarity ). And calculate the following measures for the 3 groups, the average relational novelty, the standard deviation of the relational novelty, the average pairwise similarity ( pairwise measure AMONG each group members ), and the standard deviation of the pairwise similarity.

In [1]:
import pandas as pd 
import seaborn as sns
import math
df = pd.read_csv("merged-sim-best.csv")
df

,Unnamed: 0.1,Unnamed: 0,Student,phase,novelty,group,abs_perform_diff_best,user2,Q7_Q7_1,Q7_Q7_2,...,count,total,user-requirement,infovis,novelty_score,exploration,Group,len_unique,added_sum,sim-to-best
0,0,1,wilson911013,1,0.000000,3,250.84,wilson911013,0.0,1.0,...,1.0,90.83,20.0,33.33,0.0,0.000000,3.0,0.0,0.0,0.000000
1,2,5,lizzyt10h,1,0.400000,3,175.00,lizzyt10h,2.0,1.0,...,7.0,75.00,0.0,0.00,0.0,0.945312,3.0,13.0,6.0,0.125000
2,3,6,AFelipeGA,1,0.400000,3,291.67,AFelipeGA,4.0,3.0,...,3.0,152.50,40.0,37.50,0.0,0.995375,3.0,2059.0,2049.0,0.003841
3,4,7,wapiravaguens,1,0.400000,3,90.00,wapiravaguens,0.0,1.0,...,1.0,192.50,80.0,50.00,0.0,0.567164,3.0,63.0,34.0,0.202532
4,5,8,capinzor,1,0.413793,3,221.67,capinzor,0.0,0.0,...,0.0,120.00,20.0,25.00,0.0,0.000000,3.0,20.0,0.0,0.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,647,651,kastellanos,3,0.000000,1,345.83,kastellanos,5.0,5.0,...,0.0,0.00,0.0,0.00,0.0,0.000000,1.0,NaN,NaN,NaN
632,648,652,tres-iqus,3,0.000000,2,358.33,tres-iqus,1.0,1.0,...,0.0,0.00,0.0,0.00,0.0,0.000000,2.0,NaN,NaN,NaN
633,649,653,annumumozme,4,0.000000,0,313.33,NaN,NaN,NaN,...,0.0,237.50,40.0,37.50,60.0,0.000000,0.0,NaN,NaN,NaN
634,650,654,kastellanos,4,0.000000,1,350.00,kastellanos,5.0,5.0,...,0.0,0.00,0.0,0.00,0.0,0.000000,1.0,NaN,NaN,NaN
635,651,655,tres-iqus,4,0.000000,2,358.33,tres-iqus,1.0,1.0,...,0.0,0.00,0.0,0.00,0.0,0.000000,2.0,NaN,NaN,NaN

In [2]:
df_g3 = df[df['group'] == 3]
df_g3_p1 = df_g3[df_g3['phase'] == 1]
df_g3_p2 = df_g3[df_g3['phase'] == 2]
df_g3_p3 = df_g3[df_g3['phase'] == 3]
df_g3_p4 = df_g3[df_g3['phase'] == 4]

df_g2 = df[df['group'] == 2]
df_g2_p1 = df_g2[df_g2['phase'] == 1]
df_g2_p2 = df_g2[df_g2['phase'] == 2]
df_g2_p3 = df_g2[df_g2['phase'] == 3]
df_g2_p4 = df_g2[df_g2['phase'] == 4]

df_g1 = df[df['group'] == 1]
df_g1_p1 = df_g1[df_g1['phase'] == 1]
df_g1_p2 = df_g1[df_g1['phase'] == 2]
df_g1_p3 = df_g1[df_g1['phase'] == 3]
df_g1_p4 = df_g1[df_g1['phase'] == 4]

df_g0 = df[df['group'] == 0]
df_g0_p1 = df_g0[df_g0['phase'] == 1]
df_g0_p2 = df_g0[df_g0['phase'] == 2]
df_g0_p3 = df_g0[df_g0['phase'] == 3]
df_g0_p4 = df_g0[df_g0['phase'] == 4]

In [3]:
math.ceil(len(df_g3_p1['novelty']) * 0.1)

4

In [4]:
math.ceil(len(df_g2_p1['novelty']) * 0.1)

5

In [5]:
math.ceil(len(df_g1_p1['novelty']) * 0.1)

5

In [6]:
math.ceil(len(df_g0_p1['novelty']) * 0.1)

4

In [7]:
math.ceil(len(df_g3_p1['novelty']) * 0.55)

21

In [8]:
math.ceil(len(df_g3_p1['novelty']) * 0.65)

25

In [9]:
math.ceil(len(df_g2_p1['novelty']) * 0.55)

24

In [10]:
math.ceil(len(df_g2_p1['novelty']) * 0.65)

28

In [11]:
math.ceil(len(df_g1_p1['novelty']) * 0.55)

23

In [12]:
math.ceil(len(df_g1_p1['novelty']) * 0.65)

27

In [13]:
math.ceil(len(df_g0_p1['novelty']) * 0.55)

22

In [14]:
math.ceil(len(df_g0_p1['novelty']) * 0.65)

26

In [15]:
df_g3_p1 = df_g3_p1.sort_values(['novelty'], ascending=False).groupby('Student').head(4)
df_g3_p2 = df_g3_p2.sort_values(['novelty'], ascending=False).groupby('Student').head(4)
df_g3_p3 = df_g3_p3.sort_values(['novelty'], ascending=False).groupby('Student').head(4)
df_g3_p4 = df_g3_p4.sort_values(['novelty'], ascending=False).groupby('Student').head(4)

df_g3_p1 = df_g3_p1.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)
df_g3_p2 = df_g3_p2.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)
df_g3_p3 = df_g3_p3.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)
df_g3_p4 = df_g3_p4.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)

df_g2_p1 = df_g2_p1.sort_values(['novelty'], ascending=False).groupby('Student').head(4)
df_g2_p2 = df_g2_p2.sort_values(['novelty'], ascending=False).groupby('Student').head(4)
df_g2_p3 = df_g2_p3.sort_values(['novelty'], ascending=False).groupby('Student').head(4)
df_g2_p4 = df_g2_p4.sort_values(['novelty'], ascending=False).groupby('Student').head(4)

df_g2_p1 = df_g2_p1.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)
df_g2_p2 = df_g2_p2.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)
df_g2_p3 = df_g2_p3.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)
df_g2_p4 = df_g2_p4.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)

df_g1_p1 = df_g1_p1.sort_values(['novelty'], ascending=False).groupby('Student').head(4)
df_g1_p2 = df_g1_p2.sort_values(['novelty'], ascending=False).groupby('Student').head(4)
df_g1_p3 = df_g1_p3.sort_values(['novelty'], ascending=False).groupby('Student').head(4)
df_g1_p4 = df_g1_p4.sort_values(['novelty'], ascending=False).groupby('Student').head(4)

df_g1_p1 = df_g1_p1.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)
df_g1_p2 = df_g1_p2.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)
df_g1_p3 = df_g1_p3.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)
df_g1_p4 = df_g1_p4.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)

df_g0_p1 = df_g0_p1.sort_values(['novelty'], ascending=False).groupby('Student').head(4)
df_g0_p2 = df_g0_p2.sort_values(['novelty'], ascending=False).groupby('Student').head(4)
df_g0_p3 = df_g0_p3.sort_values(['novelty'], ascending=False).groupby('Student').head(4)
df_g0_p4 = df_g0_p4.sort_values(['novelty'], ascending=False).groupby('Student').head(4)

df_g0_p1 = df_g0_p1.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)
df_g0_p2 = df_g0_p2.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)
df_g0_p3 = df_g0_p3.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)
df_g0_p4 = df_g0_p4.sort_values(['novelty'], ascending=False).groupby('Student').tail(4)

## Top 10% in Group 3

In [16]:
df_list = [df_g3_p1, df_g3_p2, df_g3_p3, df_g3_p4]

for df in df_list:
    print(df['novelty'].head(4).describe())

count    4.000000
mean     0.928973
std      0.038087
min      0.878378
25%      0.914039
50%      0.934301
75%      0.949234
max      0.968912
Name: novelty, dtype: float64
count    4.000000
mean     0.964923
std      0.033558
min      0.917563
25%      0.953379
50%      0.974846
75%      0.986390
max      0.992436
Name: novelty, dtype: float64
count    4.000000
mean     0.979196
std      0.007811
min      0.969919
25%      0.975148
50%      0.979186
75%      0.983234
max      0.988493
Name: novelty, dtype: float64
count    4.000000
mean     0.972485
std      0.008896
min      0.964725
25%      0.968315
50%      0.969961
75%      0.974131
max      0.985294
Name: novelty, dtype: float64

## Bottom 10% in Group 3

In [17]:
df_list = [df_g3_p1, df_g3_p2, df_g3_p3, df_g3_p4]

for df in df_list:
    print(df['novelty'].tail(4).describe())

count    4.0
mean     0.3
std      0.2
min      0.0
25%      0.3
50%      0.4
75%      0.4
max      0.4
Name: novelty, dtype: float64
count    4.000000
mean     0.297973
std      0.198685
min      0.000000
25%      0.293919
50%      0.395946
75%      0.400000
max      0.400000
Name: novelty, dtype: float64
count    4.000000
mean     0.432143
std      0.047201
min      0.400000
25%      0.400000
50%      0.414286
75%      0.446429
max      0.500000
Name: novelty, dtype: float64
count    4.000000
mean     0.432143
std      0.047201
min      0.400000
25%      0.400000
50%      0.414286
75%      0.446429
max      0.500000
Name: novelty, dtype: float64

## Middle in Group 3

In [18]:
df_list = [df_g3_p1, df_g3_p2, df_g3_p3, df_g3_p4]

for df in df_list:
    print(df[['novelty']].iloc[[21,25]].describe())

        novelty
count  2.000000
mean   0.585227
std    0.056247
min    0.545455
25%    0.565341
50%    0.585227
75%    0.605114
max    0.625000
        novelty
count  2.000000
mean   0.655637
std    0.043328
min    0.625000
25%    0.640319
50%    0.655637
75%    0.670956
max    0.686275
        novelty
count  2.000000
mean   0.726471
std    0.037435
min    0.700000
25%    0.713235
50%    0.726471
75%    0.739706
max    0.752941
        novelty
count  2.000000
mean   0.784049
std    0.032781
min    0.760870
25%    0.772459
50%    0.784049
75%    0.795639
max    0.807229

## Top 10% Group 2

In [19]:
df_list = [df_g2_p1, df_g2_p2, df_g2_p3, df_g2_p4]

for df in df_list:
    print(df['novelty'].head(5).describe())

count    5.000000
mean     0.984201
std      0.005877
min      0.980308
25%      0.980922
50%      0.982156
75%      0.983087
max      0.994536
Name: novelty, dtype: float64
count    5.000000
mean     0.959821
std      0.023463
min      0.932489
25%      0.942797
50%      0.958217
75%      0.975501
max      0.990099
Name: novelty, dtype: float64
count    5.000000
mean     0.964263
std      0.018565
min      0.943396
25%      0.953911
50%      0.958509
75%      0.975025
max      0.990476
Name: novelty, dtype: float64
count    5.000000
mean     0.967206
std      0.015747
min      0.953317
25%      0.958522
50%      0.958603
75%      0.973751
max      0.991837
Name: novelty, dtype: float64

## Bottom 10% Group 2

In [20]:
df_list = [df_g2_p1, df_g2_p2, df_g2_p3, df_g2_p4]

for df in df_list:
    print(df['novelty'].tail(5).describe())

count    5.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: novelty, dtype: float64
count    5.000000
mean     0.004694
std      0.010495
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max      0.023468
Name: novelty, dtype: float64
count    5.000000
mean     0.072015
std      0.131483
min      0.000000
25%      0.000000
50%      0.000000
75%      0.057047
max      0.303030
Name: novelty, dtype: float64
count    5.000000
mean     0.077976
std      0.131310
min      0.000000
25%      0.000000
50%      0.000000
75%      0.086851
max      0.303030
Name: novelty, dtype: float64

## Middle in Group 2

In [21]:
df_list = [df_g2_p1, df_g2_p2, df_g2_p3, df_g2_p4]

for df in df_list:
    print(df[['novelty']].iloc[[24,28]].describe())

        novelty
count  2.000000
mean   0.593074
std    0.078594
min    0.537500
25%    0.565287
50%    0.593074
75%    0.620861
max    0.648649
        novelty
count  2.000000
mean   0.612857
std    0.038386
min    0.585714
25%    0.599286
50%    0.612857
75%    0.626429
max    0.640000
        novelty
count  2.000000
mean   0.667929
std    0.041069
min    0.638889
25%    0.653409
50%    0.667929
75%    0.682449
max    0.696970
        novelty
count  2.000000
mean   0.683081
std    0.062497
min    0.638889
25%    0.660985
50%    0.683081
75%    0.705177
max    0.727273

## Top 10% Group 1

In [22]:
df_list = [df_g1_p1, df_g1_p2, df_g1_p3, df_g1_p4]

for df in df_list:
    print(df['novelty'].head(5).describe())

count    5.000000
mean     0.972435
std      0.017756
min      0.953552
25%      0.964224
50%      0.965986
75%      0.978413
max      1.000000
Name: novelty, dtype: float64
count    5.000000
mean     0.953352
std      0.010742
min      0.939880
25%      0.951956
50%      0.951956
75%      0.953003
max      0.969967
Name: novelty, dtype: float64
count    5.000000
mean     0.934081
std      0.030509
min      0.895561
25%      0.906752
50%      0.953003
75%      0.953446
max      0.961640
Name: novelty, dtype: float64
count    5.000000
mean     0.934445
std      0.035268
min      0.890805
25%      0.902077
50%      0.952077
75%      0.961592
max      0.965675
Name: novelty, dtype: float64

## Bottom 10% Group 1

In [23]:
df_list = [df_g1_p1, df_g1_p2, df_g1_p3, df_g1_p4]

for df in df_list:
    print(df['novelty'].tail(5).describe())

count    5.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: novelty, dtype: float64
count    5.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: novelty, dtype: float64
count    5.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: novelty, dtype: float64
count    5.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: novelty, dtype: float64

## Middle Group 1

In [24]:
df_list = [df_g1_p1, df_g1_p2, df_g1_p3, df_g1_p4]

for df in df_list:
    print(df[['novelty']].iloc[[23,27]].describe())

        novelty
count  2.000000
mean   0.402778
std    0.216060
min    0.250000
25%    0.326389
50%    0.402778
75%    0.479167
max    0.555556
        novelty
count  2.000000
mean   0.575581
std    0.106888
min    0.500000
25%    0.537791
50%    0.575581
75%    0.613372
max    0.651163
        novelty
count  2.000000
mean   0.455607
std    0.239557
min    0.286215
25%    0.370911
50%    0.455607
75%    0.540304
max    0.625000
        novelty
count  2.000000
mean   0.373394
std    0.156950
min    0.262414
25%    0.317904
50%    0.373394
75%    0.428885
max    0.484375

## Top 10% in Group 0

In [25]:
df_list = [df_g0_p1, df_g0_p2, df_g0_p3, df_g0_p4]

for df in df_list:
    print(df['novelty'].head(4).describe())

count    4.000000
mean     0.883338
std      0.038433
min      0.852713
25%      0.856035
50%      0.872233
75%      0.899536
max      0.936170
Name: novelty, dtype: float64
count    4.000000
mean     0.904740
std      0.025169
min      0.885246
25%      0.889790
50%      0.896269
75%      0.911220
max      0.941176
Name: novelty, dtype: float64
count    4.000000
mean     0.938551
std      0.034235
min      0.906667
25%      0.917456
50%      0.931115
75%      0.952210
max      0.985309
Name: novelty, dtype: float64
count    4.000000
mean     0.949999
std      0.028372
min      0.917476
25%      0.932494
50%      0.950164
75%      0.967669
max      0.982191
Name: novelty, dtype: float64

## Bottom 10% in Group 0

In [26]:
df_list = [df_g0_p1, df_g0_p2, df_g0_p3, df_g0_p4]

for df in df_list:
    print(df['novelty'].tail(4).describe())

count    4.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: novelty, dtype: float64
count    4.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: novelty, dtype: float64
count    4.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: novelty, dtype: float64
count    4.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: novelty, dtype: float64

## Middle Group 0

In [27]:
df_list = [df_g0_p1, df_g0_p2, df_g0_p3, df_g0_p4]

for df in df_list:
    print(df[['novelty']].iloc[[22,26]].describe())

        novelty
count  2.000000
mean   0.607407
std    0.057616
min    0.566667
25%    0.587037
50%    0.607407
75%    0.627778
max    0.648148
        novelty
count  2.000000
mean   0.514993
std    0.051946
min    0.478261
25%    0.496627
50%    0.514993
75%    0.533358
max    0.551724
        novelty
count  2.000000
mean   0.556322
std    0.058854
min    0.514706
25%    0.535514
50%    0.556322
75%    0.577130
max    0.597938
        novelty
count  2.000000
mean   0.625000
std    0.075761
min    0.571429
25%    0.598214
50%    0.625000
75%    0.651786
max    0.678571