In [3]:
import pandas as pd

df = pd.read_csv('../../../../Library/CloudStorage/Box-Box/NSF IronHacks App 2016 - 2019/05 Experiments 2017/01 Hack Spring 2017/01 Summary Spring 2017/02 Data/processed-data/final_version_commit.csv')
df

,Unnamed: 0,Unnamed: 0.1,commit-id,name,email_x,date,files,additions,deletions,email_name,Group,username,email_y,hack_id,dates,dates.1,phase
0,0,0,e174fca993401473e33731f57f7354a77cf66a11,AFelipeGA,afguerreroa@unal.edu.co,05/04/2017 23:38,1,2,11,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,05/04/2017,05/04/2017,2.0
1,1,1,30c53931ba6ccfea0034b927985f4b8fe354d6db,Felipe Guerrero,afguerreroa@unal.edu.co,06/04/2017 4:37,43,23533,0,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,06/04/2017,06/04/2017,2.0
2,2,2,d811a1832b23c6d8560ab3f4942fb34fd5c15ae9,Felipe Guerrero,afguerreroa@unal.edu.co,05/04/2017 23:33,30,0,1351,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,05/04/2017,05/04/2017,2.0
3,3,3,540c77dae0e8ce6d4a985bfb1d47fe634bc664ba,AFelipeGA,afguerreroa@unal.edu.co,30/03/2017 22:37,1,24,7,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,30/03/2017,30/03/2017,1.0
4,4,4,0a0bde5bb5780ea5fb7e55fcaf358a93c95523c6,Felipe Guerrero,afguerreroa@unal.edu.co,30/03/2017 22:12,12,636,66,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,30/03/2017,30/03/2017,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,1573,1578,b5103d9a1334f16901cf500ef4ce00ad4293f380,Yessica Chauta,ykchautai@unal.edu.co,11/04/2017 22:33,1,2,1,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,11/04/2017,11/04/2017,3.0
1574,1574,1579,49275b5057187fcd3e00c3fe35f846badb991ab6,Yessica Chauta,ykchautai@unal.edu.co,11/04/2017 22:26,6,50,5,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,11/04/2017,11/04/2017,3.0
1575,1575,1580,a0f1e06b64e8568e65208e17d4ee2777768fda0b,Yessica Chauta,ykchautai@unal.edu.co,05/04/2017 18:01,2,106,13,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,05/04/2017,05/04/2017,2.0
1576,1576,1581,b641122a34f2db327b3cf0c07e04f9c49b5cf9ac,Yessica Chauta,ykchautai@unal.edu.co,30/03/2017 22:41,1,46,1,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,30/03/2017,30/03/2017,1.0
1577,1577,1582,e679da444041a15c2c7ed367f8254e0539f8e245,Yessica Chauta,ykchautai@unal.edu.co,30/03/2017 21:32,8,101,2,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,30/03/2017,30/03/2017,1.0

In [6]:
df['temp'] = 1
df['user_sum'] = df.groupby('username')['temp'].cumsum()
df

,Unnamed: 0,Unnamed: 0.1,commit-id,name,email_x,date,files,additions,deletions,email_name,Group,username,email_y,hack_id,dates,dates.1,phase,temp,user_sum
0,0,0,e174fca993401473e33731f57f7354a77cf66a11,AFelipeGA,afguerreroa@unal.edu.co,05/04/2017 23:38,1,2,11,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,05/04/2017,05/04/2017,2.0,1,1
1,1,1,30c53931ba6ccfea0034b927985f4b8fe354d6db,Felipe Guerrero,afguerreroa@unal.edu.co,06/04/2017 4:37,43,23533,0,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,06/04/2017,06/04/2017,2.0,1,2
2,2,2,d811a1832b23c6d8560ab3f4942fb34fd5c15ae9,Felipe Guerrero,afguerreroa@unal.edu.co,05/04/2017 23:33,30,0,1351,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,05/04/2017,05/04/2017,2.0,1,3
3,3,3,540c77dae0e8ce6d4a985bfb1d47fe634bc664ba,AFelipeGA,afguerreroa@unal.edu.co,30/03/2017 22:37,1,24,7,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,30/03/2017,30/03/2017,1.0,1,4
4,4,4,0a0bde5bb5780ea5fb7e55fcaf358a93c95523c6,Felipe Guerrero,afguerreroa@unal.edu.co,30/03/2017 22:12,12,636,66,afguerreroa,3,AFelipeGA,afguerreroa@unal.edu.co,3.0,30/03/2017,30/03/2017,1.0,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,1573,1578,b5103d9a1334f16901cf500ef4ce00ad4293f380,Yessica Chauta,ykchautai@unal.edu.co,11/04/2017 22:33,1,2,1,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,11/04/2017,11/04/2017,3.0,1,3
1574,1574,1579,49275b5057187fcd3e00c3fe35f846badb991ab6,Yessica Chauta,ykchautai@unal.edu.co,11/04/2017 22:26,6,50,5,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,11/04/2017,11/04/2017,3.0,1,4
1575,1575,1580,a0f1e06b64e8568e65208e17d4ee2777768fda0b,Yessica Chauta,ykchautai@unal.edu.co,05/04/2017 18:01,2,106,13,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,05/04/2017,05/04/2017,2.0,1,5
1576,1576,1581,b641122a34f2db327b3cf0c07e04f9c49b5cf9ac,Yessica Chauta,ykchautai@unal.edu.co,30/03/2017 22:41,1,46,1,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,30/03/2017,30/03/2017,1.0,1,6
1577,1577,1582,e679da444041a15c2c7ed367f8254e0539f8e245,Yessica Chauta,ykchautai@unal.edu.co,30/03/2017 21:32,8,101,2,ykchautai,2,ykchautai,ykchautai@unal.edu.co,2.0,30/03/2017,30/03/2017,1.0,1,7

In [7]:
df.to_csv('test.csv')