In [7]:
import pandas as pd

d = {'user': ['jack', 'mary', 'jack', 'jane', 'catherine', 'john'],
     'friend': [['mary', 'jane', 'alex'], 
                ['jack', 'jane', 'alex'],
                ['mary', 'jane', 'alex'],
                ['alex', 'jack', 'mary'],
                ['yute', 'kelvin'],
                ['beyond', 'holand']]}
df = pd.DataFrame(d)

In [8]:
S = set()
# line below uses python â‰¥ 3.8, if older version use a classical loop
sets = [(S:=S.union(set(x))) for x in df['friend']]

mask = [u not in s for u,s in zip(df['user'], sets)]
# [True, False, True, False, False, False]
out = df[mask]
out

        user              friend
0       jack  [mary, jane, alex]
4  catherine      [yute, kelvin]
5       john    [beyond, holand]

In [14]:
data = {
  "name": ['a.apple', 't.orange', 'ts.grape', 'u.berryCool'],
  "duplicates": [['b.apple', 'c.apple'], ['arr.orange', 'pg.orange'], ['a.grape' , 'test.grape'], ['X.berryCool', 'cool.berryCool']]
}
#load data into a DataFrame object:
df1 = pd.DataFrame(data)

print(df1)

          name                     duplicates
0      a.apple             [b.apple, c.apple]
1     t.orange        [arr.orange, pg.orange]
2     ts.grape          [a.grape, test.grape]
3  u.berryCool  [X.berryCool, cool.berryCool]

In [17]:
data = {
  "people": ['jack', 'mary', 'andy', 'lawrence'],
  "fruits": [['b.apple', 'c.apple', 'pp.tomato', 'ao.banana' ], ['arr.orange', 'b.apple', 'X.berryCool', 'op.mango'], 
                ['cool.berryCool' , 'test.grape', 'yu.papaya'], ['jc.orange', 'c.apple'] ]
}

#load data into a DataFrame object:
df2 = pd.DataFrame(data)

print(df2)

     people                                        fruits
0      jack      [b.apple, c.apple, pp.tomato, ao.banana]
1      mary  [arr.orange, b.apple, X.berryCool, op.mango]
2      andy       [cool.berryCool, test.grape, yu.papaya]
3  lawrence                          [jc.orange, c.apple]

In [19]:
d = {x: a for a, b in zip(df1['name'], df1['duplicates']) for x in b}

df2['fruits'] = [[d.get(y,y) for y in x] for x in df2['fruits']]
df2

     people                                      fruits
0      jack    [a.apple, a.apple, pp.tomato, ao.banana]
1      mary  [t.orange, a.apple, u.berryCool, op.mango]
2      andy          [u.berryCool, ts.grape, yu.papaya]
3  lawrence                        [jc.orange, a.apple]